/** old colors */
@-webkit-keyframes bounce-x { 0%, 20%, 50%, 80%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  40% { -webkit-transform: translateX(30px); transform: translateX(30px); }
  60% { -webkit-transform: translateX(15px); transform: translateX(15px); } }
@keyframes bounce-x { 0%, 20%, 50%, 80%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  40% { -webkit-transform: translateX(30px); transform: translateX(30px); }
  60% { -webkit-transform: translateX(15px); transform: translateX(15px); } }

@-webkit-keyframes bounce-y-small { 0%, 20%, 50%, 80%, 100% { -webkit-transform: translateY(0); transform: translateY(0); }
  40% { -webkit-transform: translateY(-15px); transform: translateY(-15px); }
  60% { -webkit-transform: translateY(-7px); transform: translateY(-7px); } }

@keyframes bounce-y-small { 0%, 20%, 50%, 80%, 100% { -webkit-transform: translateY(0); transform: translateY(0); }
  40% { -webkit-transform: translateY(-15px); transform: translateY(-15px); }
  60% { -webkit-transform: translateY(-7px); transform: translateY(-7px); } }

.clearfix:after, .container-factory-slots-preview:after, .container-factory-type:after { content: ""; display: table; clear: both; }

input, textarea, select, button { font-family: inherit; font-size: 12px; box-sizing: border-box; }

input { height: 32px; width: 100%; line-height: 27px; text-indent: 10px; font-size: 1em; border: solid 1px black; margin-bottom: 5px; }

input:hover { border-color: #4d4d4d; }

input[type=checkbox] { width: auto; height: auto; display: inline; }

button, button:focus { outline: none; border: 1px solid black; cursor: pointer; font-size: 13px; text-transform: uppercase; font-weight: bold; letter-spacing: 0.05em; padding: 8px; background-color: white; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; box-shadow: none; }

button:hover, button:focus:hover { border-color: transparent; background-color: black; color: white; }

.button-delete:hover { background-color: #ed5032; border-color: #ed5032; color: white; }

#container-factory { font-family: "OpenSans", sans-serif; max-width: 1000px; margin: 0px auto; }

#container-factory, #container-factory * { box-sizing: border-box; }

#container-factory input { margin: 5px 0; padding: 5px; }

.container-factory { margin-bottom: 30px; }

.container-factory input { width: 100%; }

.container-factory-slot, .container-factory-type .container-factory-type-slot { padding: 15px; border: 1px solid black; }

.container-factory-slot + .container-factory-slot, .container-factory-type .container-factory-type-slot + .container-factory-slot, .container-factory-type .container-factory-slot + .container-factory-type-slot, .container-factory-type .container-factory-type-slot + .container-factory-type-slot { border-left: none; }

.container-factory-slots-preview .container-factory-slot, .container-factory-slots-preview .container-factory-type .container-factory-type-slot, .container-factory-type .container-factory-slots-preview .container-factory-type-slot { float: left; }

.container-factory-type { margin-bottom: 15px; }

.container-factory-type .container-factory-type-slot { float: left; }
/*# sourceMappingURL=container-factory.css.map */