/* **************
Dimensions
****************/
/**************
* index stack
***************/
/**
**/
.grid-clearfix:before,
.grid-clearfix:after {
  content: "";
  display: table; }

.grid-clearfix:after {
  clear: both; }

.grid-clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

h3 {
  word-break: break-all;
  font-size: 12px; }

.grid-all-wrapper,
.grid-editor-wrapper {
  font-family: "OpenSans", sans-serif;
  background-color: #f3f5f7; }
  .grid-all-wrapper input,
  .grid-all-wrapper textarea,
  .grid-all-wrapper select,
  .grid-all-wrapper button,
  .grid-editor-wrapper input,
  .grid-editor-wrapper textarea,
  .grid-editor-wrapper select,
  .grid-editor-wrapper button {
    font-family: inherit;
    font-size: 12px;
    -moz-box-sizing: border-box;
         box-sizing: border-box; }
  .grid-all-wrapper input,
  .grid-editor-wrapper input {
    height: 27px;
    width: 100%;
    line-height: 27px;
    text-indent: 10px;
    font-size: 1em;
    border: solid 1px #eceff3;
    margin-bottom: 5px; }
    .grid-all-wrapper input:hover,
    .grid-editor-wrapper input:hover {
      border-color: #b0bac2; }
  .grid-all-wrapper input[type=checkbox],
  .grid-editor-wrapper input[type=checkbox] {
    width: auto;
    height: auto;
    display: inline; }
  .grid-all-wrapper button,
  .grid-all-wrapper button:focus,
  .grid-editor-wrapper button,
  .grid-editor-wrapper button:focus {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #3f4853;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
    -webkit-transition: all 0.1337s ease;
            transition: all 0.1337s ease;
    box-shadow: none; }
    .grid-all-wrapper button:hover,
    .grid-all-wrapper button:focus:hover,
    .grid-editor-wrapper button:hover,
    .grid-editor-wrapper button:focus:hover {
      color: #3ac5d9; }
  .grid-all-wrapper img,
  .grid-editor-wrapper img {
    max-width: 100%;
    width: 100%;
    height: auto; }

/**
 * Font Include
 * @author Stephan Kroppenstedt <sk@palasthotel.de>
 * @created 15.04.2014 10:07
 */
/* ICON FONT */
@font-face {
  font-family: 'Grid';
  src: url("../fonts/grid-font/grid_font.eot");
  src: url("../fonts/grid-font/grid_font.eot") format("embedded-opentype"), url("../fonts/grid-font/grid_font.woff") format("woff"), url("../fonts/grid-font/grid_font.ttf") format("truetype"), url("../fonts/grid-font/grid_font.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/* TEXT FONT */
@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans"), local("Open Sans"), url("../fonts/open-sans-regular/OpenSans-Regular-webfont.eot");
  src: local("OpenSans"), local("Open Sans"), url("../fonts/open-sans-regular/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-regular/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/open-sans-regular/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/open-sans-regular/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-Semibold"), local("Open Sans Semibold"), url("../fonts/open-sans-semibold/OpenSans-Semibold-webfont.eot");
  src: local("OpenSans-Semibold"), local("Open Sans Semibold"), url("../fonts/open-sans-semibold/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-semibold/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/open-sans-semibold/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/open-sans-semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-Bold"), local("Open Sans Bold"), url("../fonts/open-sans-bold/OpenSans-Bold-webfont.eot");
  src: local("OpenSans-Bold"), local("Open Sans Bold"), url("../fonts/open-sans-bold/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-bold/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/open-sans-bold/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/open-sans-bold/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-Italic"), local("Open Sans Italic"), url("../fonts/open-sans-italic/OpenSans-Italic-webfont.eot");
  src: local("OpenSans-Italic"), local("Open Sans Italic"), url("../fonts/open-sans-italic/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-italic/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/open-sans-italic/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/open-sans-italic/OpenSans-Italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: italic; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'grid-font';
    src: url("../fonts/grid_font/grid-font.svg") format("svg"); } }
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "Grid";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-link:before {
  content: '\e805'; }

.icon-preview:before {
  content: '\e806'; }

.icon-ok:before {
  content: '\e801'; }

.icon-reuse:before {
  content: '\e809'; }

.icon-reuse:before {
  content: '\e810'; }

.icon-cancel:before {
  content: '\e802'; }

.icon-style:before {
  content: '\e80d'; }

.icon-plus:before {
  content: '\e804'; }

.icon-minus:before {
  content: '\e803'; }

.icon-revisions:before {
  content: '\e80c'; }

.icon-revert:before {
  content: '\e80b'; }

.icon-edit:before {
  content: '\e807'; }

.icon-trash:before {
  content: '\e808'; }

.icon-publish:before {
  content: '\e80f'; }

.icon-elipse:before {
  content: '\e80e'; }

.icon-arrow:before {
  content: '\e80a'; }

.icon-dir-right:before {
  content: '\e80a'; }

.icon-dir-left:before {
  content: '\e814'; }

.icon-dir-up:before {
  content: '\e813'; }

.icon-dir-down:before {
  content: '\e812'; }

.icon-drag:before {
  content: '\e80e';
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.icon-options:before {
  content: '\e800'; }

/**
**/
.container-drop-area-wrapper {
  position: relative; }
  .container-drop-area-wrapper .container-drop-area {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    position: absolute;
    height: 30px;
    top: -25px;
    width: 100%;
    z-index: 60;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    background-color: #e5f7fa;
    border: 3px dashed #3ac5d9; }
    .container-drop-area-wrapper .container-drop-area.hover {
      background-color: #3ac5d9;
      height: 40px;
      top: -30px; }

.dragger-helper {
  display: block;
  height: 50px;
  width: 38px;
  max-width: 38px;
  max-height: 50px;
  min-width: 38px;
  min-height: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  /*@include box-shadow (	4px 4px 0 #fff,
  						5px 5px 0 #ccc,
  						9px 9px 0 #fff,
  						10px 10px 0 #ccc,
  						14px 14px 0 #fff);*/ }

.grid-box-drop-area-wrapper {
  position: relative; }
  .grid-box-drop-area-wrapper .grid-box-drop-area {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    position: absolute;
    height: 20px;
    top: -12px;
    border: 2px dashed #3ac5d9;
    background-color: #e5f7fa;
    width: 100%;
    z-index: 60;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease; }
    .grid-box-drop-area-wrapper .grid-box-drop-area.hover {
      background-color: #3ac5d9;
      height: 25px;
      top: -14px; }

/*********************
* box
*******************/
.grid-box {
  position: relative;
  padding: 12px 0;
  min-height: 50px;
  background-color: white;
  box-shadow: inset 0 0 2px 0px #838688; }
  .grid-box .grid-box-content {
    font-size: 11px;
    padding: 0 10px;
    word-break: break-all; }

.grid-box + .grid-box {
  margin-top: 10px; }

.grid-box-controls {
  color: white;
  height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(63, 72, 83, 0.9);
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease; }
  .grid-box-controls.grid-box-movable {
    cursor: move; }
  .grid-box-controls .grid-box-control-button {
    cursor: pointer;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 40px;
    max-width: 250px;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease; }
    .grid-box-controls .grid-box-control-button:hover {
      width: 100%; }
    .grid-box-controls .grid-box-control-button .grid-box-control-text {
      opacity: 0;
      -webkit-transition: all 0.3s ease;
              transition: all 0.3s ease; }
    .grid-box-controls .grid-box-control-button:hover .grid-box-control-text {
      opacity: 1; }
  .grid-box-controls .grid-box-control-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -10px;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 8px; }
  .grid-box-controls .grid-box-edit {
    background-color: #3ac5d9;
    top: 0px;
    bottom: 50%; }
  .grid-box-controls .grid-box-reused {
    position: absolute;
    top: 10px;
    right: 14px;
    font-weight: normal; }
  .grid-box-controls .grid-box-delete {
    top: 50%;
    bottom: 0px;
    background-color: #ed5032; }
  .grid-box-controls .grid-box-drag {
    position: absolute;
    top: 35%;
    left: 10px; }

.grid-box:hover .grid-box-controls {
  height: auto;
  overflow: visible;
  display: block;
  opacity: 1; }

.grid-box-type-content {
  margin: 0px;
  border-bottom: 1px solid #f3f5f7; }

.grid-box-type + dl .grid-box-type-search {
  display: none; }
.grid-box-type.active + dl .grid-box-type-search {
  display: block; }

.grid-container-type-s *:not(.grid) .grid-box .grid-box-controls {
  cursor: default; }
.grid-container-type-s *:not(.grid) .grid-box .grid-box-delete {
  display: none; }
.grid-container-type-s *:not(.grid) .grid-box .grid-box-edit {
  bottom: 0px; }
.grid-container-type-s *:not(.grid) .grid-box .grid-box-drag {
  display: none; }

.grid-box-sort-placeholder {
  background-color: #3ac5d9; }

.grid-boxes-wrapper {
  min-height: 60px;
  position: relative;
  padding: 10px 0; }

.grid-containers-wrapper {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

/****************
 * container 
 ****************/
.grid-container {
  margin: 0 0px 20px 0px; }
  .grid-container .grid-container-sorthandle,
  .grid-container .grid-container-options-icon {
    color: #b0bac2; }
  .grid-container .grid-container-title {
    color: #262e38; }
    .grid-container .grid-container-title .grid-container-style {
      font-weight: normal;
      font-size: 11px; }
  .grid-container .grid-container-controls {
    background-color: white;
    border: 1px solid rgba(176, 186, 194, 0.7); }
  .grid-container .grid-container-content {
    border-top: none; }

.grid-container-content {
  position: relative;
  background-color: white;
  border: 1px solid rgba(176, 186, 194, 0.7); }

.grid-container-controls {
  position: relative;
  background-color: transparent;
  height: 40px;
  border: 1px solid transparent;
  border-bottom: none; }

/**********************************
 * container hover states
 **********************************/
.grid-container-title,
.grid-container-sorthandle,
.grid-container-options-icon {
  color: rgba(176, 186, 194, 0.3);
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }

.grid-container-options-list-item:hover {
  background-color: #3f4853; }
  .grid-container-options-list-item:hover[role=trash] {
    background-color: #ed5032; }
  .grid-container-options-list-item:hover[role=edit] {
    background-color: #3ac5d9; }

.grid-container-type-content {
  margin: 0px;
  border-bottom: 1px solid #f3f5f7; }

.grid-container-reused-layer {
  cursor: move;
  position: absolute;
  z-index: 60;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  background-color: rgba(63, 72, 83, 0.7);
  z-index: 50; }
  .grid-container-reused-layer .grid-container-reused-label {
    position: absolute;
    width: 100%;
    margin-left: -50%;
    text-align: center;
    top: 10px;
    left: 50%;
    color: white;
    text-transform: uppercase; }

.grid-container-title {
  position: absolute;
  top: 9px;
  left: 20px;
  font-weight: bold;
  font-size: 90%; }

.grid-container-sorthandle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  cursor: move; }
  .grid-container-sorthandle .icon-drag {
    position: absolute;
    top: 9px; }

.grid-container-options {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 40px;
  z-index: 80;
  padding-top: 12px;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }
  .grid-container-options:hover {
    z-index: 81; }
  .grid-container-options .grid-container-options-icon {
    text-transform: uppercase;
    font-weight: bold; }
  .grid-container-options .grid-container-options-list {
    position: absolute;
    list-style: none;
    background-color: #b0bac2;
    color: white;
    width: 140px;
    right: 0px;
    top: 40px;
    margin: 0px;
    padding: 0px;
    display: none; }
    .grid-container-options .grid-container-options-list .grid-container-options-list-item {
      cursor: pointer;
      padding: 5px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 0px; }
    .grid-container-options .grid-container-options-list:before {
      content: "";
      border: 8px solid #b0bac2;
      font-size: 0;
      line-height: 0;
      height: 0;
      padding: 0;
      margin: 0;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      position: absolute;
      top: -16px;
      left: 47%; }
  .grid-container-options:hover .grid-container-options-list {
    display: block; }

.grid-container-prolog,
.grid-container-epilog {
  padding: 7px 10px; }
  .grid-container-prolog p,
  .grid-container-epilog p {
    font-size: 11px; }

.grid-wrapper .grid-container-type-s .grid-box .grid .sc-4 .grid-slot {
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  float: none; }

.grid-wrapper .grid-containers-wrapper .grid-container-type-s .grid-slot {
  position: absolute;
  width: 32%;
  bottom: 0px;
  padding-bottom: 4px;
  left: 0px;
  padding-right: 4px;
  padding-left: 4px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  z-index: 60; }
.grid-wrapper .grid-containers-wrapper .grid-container-type-s[data-type*=s-0] .grid-slot {
  left: auto;
  right: 0px; }
.grid-wrapper .grid-containers-wrapper .grid-container-type-s .grid .grid-container,
.grid-wrapper .grid-containers-wrapper .grid-container-type-s .grid .grid-slot,
.grid-wrapper .grid-containers-wrapper .grid-container-type-s .grid .grid-box,
.grid-wrapper .grid-containers-wrapper .grid-container-type-s .grid .grid-container-content {
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: transparent;
  width: auto;
  position: relative;
  z-index: inherit; }

.grid-container-sort-placeholder {
  height: 20px;
  margin-bottom: 15px;
  background-color: #3ac5d9; }

.grid-editor-controls {
  list-style: none;
  position: fixed;
  z-index: 90;
  margin: 200px 0 0 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-transition: all 0.1337s ease;
          transition: all 0.1337s ease;
  width: 100%;
  height: 0px; }
  .grid-editor-controls button {
    background-color: black;
    color: white;
    padding: 10px; }
  .grid-editor-controls .grid-editor-control {
    width: 185px;
    right: 160px;
    position: relative;
    margin: 0;
    -webkit-transition: all 0.1337s ease;
            transition: all 0.1337s ease; }
    .grid-editor-controls .grid-editor-control:hover {
      right: 20px; }
    .grid-editor-controls .grid-editor-control button {
      text-align: right;
      padding: 5px 48px 5px 5px;
      margin: 0px;
      font-size: 12px;
      width: 100%;
      height: 45px;
      -webkit-transition: all 0.1337s ease;
              transition: all 0.1337s ease;
      border: none;
      background-color: #f3f5f7; }
      .grid-editor-controls .grid-editor-control button [class^="icon-"],
      .grid-editor-controls .grid-editor-control button [class*=" icon-"] {
        position: absolute;
        right: 11px;
        top: 13px;
        font-size: 16px;
        font-family: 'Entypo'; }
      .grid-editor-controls .grid-editor-control button:hover {
        padding-right: 38px; }
    .grid-editor-controls .grid-editor-control .grid-editor-save-button {
      background-color: #46bd7b;
      color: white; }
    .grid-editor-controls .grid-editor-control .grid-editor-cancel-button {
      background-color: #ed5032;
      color: white; }
    .grid-editor-controls .grid-editor-control .grid-editor-reuse-button {
      background-color: #e5e3df;
      color: #262e38; }

.grid-editor-content {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 15px 35px;
  margin: 20px 10%;
  padding-bottom: 100px;
  background-color: white;
  border: 1px solid #eceff3; }
  .grid-editor-content fieldset {
    border: none;
    border-bottom: 1px solid #eceff3;
    padding: 0;
    margin: -1px -35px 0px -35px; }
    .grid-editor-content fieldset .grid-editor-field-wrapper {
      display: none; }
  .grid-editor-content legend {
    padding: 15px 0px 15px 35px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px solid #cdd5df;
    background-color: #eceae7;
    -webkit-transition: background-color 0.5s ease;
            transition: background-color 0.5s ease; }
    .grid-editor-content legend .icon-arrow {
      position: absolute;
      left: 5px;
      top: 16px;
      -webkit-transition: all 0.1337s ease;
              transition: all 0.1337s ease; }
  .grid-editor-content input,
  .grid-editor-content textarea {
    border: 1px solid #eceff3;
    width: 100%; }
  .grid-editor-content label {
    padding: 10px 0;
    font-weight: bold;
    color: #8193a9;
    display: block; }
  .grid-editor-content .grid-editor-header {
    margin-bottom: 15px; }
  .grid-editor-content .grid-editor-title {
    font-weight: bold;
    font-size: 16px;
    padding: 7px;
    height: auto; }
  .grid-editor-content .grid-editor-footer {
    margin-top: 15px; }

.grid-editor-content .grid-active {
  border-bottom: 2px solid #24a9bc; }
  .grid-editor-content .grid-active .grid-editor-field-wrapper {
    display: block;
    margin: 15px 35px; }
  .grid-editor-content .grid-active legend {
    background-color: #3ac5d9;
    border-bottom: 2px solid #24a9bc;
    color: white; }
    .grid-editor-content .grid-active legend .icon-arrow {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(90), M12=-sin(90), M21=sin(90), M22=cos(90));
      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(90), M12=-sin(90), M21=sin(90), M22=cos(90))";
      zoom: 1; }

.grid-element-drag-icon {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: -6px;
  font-size: 120%; }

.grid-element-trash {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-transform: uppercase;
  height: 0px;
  overflow: hidden;
  background-color: #b0bac2;
  color: white;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  vertical-align: baseline;
  z-index: 90;
  -webkit-transition: all 0.1337s ease;
          transition: all 0.1337s ease; }
  .grid-element-trash > div {
    padding-top: 25px;
    padding-bottom: 100%;
    height: 100%;
    border: 3px dashed white;
    border-bottom: none;
    text-align: center; }
  .grid-element-trash.grid-active {
    padding: 10px 10px 0 10px;
    height: 50%; }
  .grid-element-trash.grid-hover {
    background-color: #ed5032; }

.grid-element-type-content {
  min-height: 100px;
  padding: 15px 20px 0px 10px;
  overflow-y: scroll;
  background-color: white; }
  .grid-element-type-content .grid-element-container-lists,
  .grid-element-type-content .grid-element-box-lists {
    margin: 0px;
    padding-bottom: 40px; }
  .grid-element-type-content .grid-container-type,
  .grid-element-type-content .grid-box-type {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 20px; }
    .grid-element-type-content .grid-container-type .icon-arrow,
    .grid-element-type-content .grid-box-type .icon-arrow {
      z-index: 90;
      position: absolute;
      top: 20px;
      left: -4px;
      font-size: 14px;
      -webkit-transition: all 0.3s ease;
              transition: all 0.3s ease; }
    .grid-element-type-content .grid-container-type.active .icon-arrow,
    .grid-element-type-content .grid-box-type.active .icon-arrow {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(90), M12=-sin(90), M21=sin(90), M22=cos(90));
      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(90), M12=-sin(90), M21=sin(90), M22=cos(90))";
      zoom: 1; }

.grid-element-type-select .grid-element-type {
  text-align: center;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: inline-block;
  text-transform: uppercase;
  width: 50%;
  font-weight: bold;
  height: 45px;
  padding-top: 15px;
  -webkit-transition: all 0.1337s ease;
          transition: all 0.1337s ease;
  position: relative;
  background-color: #f3f5f7; }
  .grid-element-type-select .grid-element-type:hover, .grid-element-type-select .grid-element-type.active {
    cursor: pointer;
    color: white;
    background-color: #3ac5d9; }
    .grid-element-type-select .grid-element-type:hover.active:after, .grid-element-type-select .grid-element-type.active.active:after {
      z-index: 90;
      content: "";
      border: 9px solid #3ac5d9;
      font-size: 0;
      line-height: 0;
      height: 0;
      padding: 0;
      margin: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      position: absolute;
      bottom: -18px;
      left: 47%; }

.grid-new-container-slots {
  display: table;
  padding: 3px 0;
  border: 1px solid rgba(176, 186, 194, 0.7); }
  .grid-new-container-slots .grid-slot {
    height: 32px;
    border-left: 4px solid white; }

.grid-new-element {
  cursor: move;
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px;
  color: #eceff3; }
  .grid-new-element .grid-element-title {
    color: #1e1e1e;
    padding-left: 20px;
    margin: 0px;
    padding-top: 10px; }
    .grid-new-element .grid-element-title.grid-reusable-container-title {
      padding-left: 0px;
      padding-top: 0px; }
  .grid-new-element:hover {
    color: #b0bac2;
    border-color: #b0bac2; }

.grid-revisions {
  list-style: none;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: block;
  overflow-x: scroll;
  margin-right: 260px;
  padding: 0px 0px 15px 50px; }
  .grid-revisions button {
    margin: 0px;
    padding: 0px; }

.grid-revisions-list {
  padding: 0px 15px 0px 0px; }

.grid-revision {
  position: relative;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: block;
  float: left;
  width: 220px;
  border-right: 5px solid #f3f5f7;
  background-color: white;
  box-shadow: inset 0 0 2px 0 #aaaaaa; }
  .grid-revision:last-child {
    border-right: none; }
  .grid-revision.grid-revision-state-draft {
    background-color: #ed7b3d;
    color: white; }
    .grid-revision.grid-revision-state-draft button {
      color: white; }
      .grid-revision.grid-revision-state-draft button:hover {
        color: #3f4853; }
  .grid-revision.grid-revision-state-published {
    background-color: #46bd7b;
    color: white; }
    .grid-revision.grid-revision-state-published button {
      color: white; }
      .grid-revision.grid-revision-state-published button:hover {
        color: #3f4853; }
  .grid-revision:first-child:before {
    z-index: 90;
    content: "";
    border: 8px solid #ed7b3d;
    font-size: 0;
    line-height: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -8px;
    -webkit-transition: all 0.1337s ease;
            transition: all 0.1337s ease; }
  .grid-revision.grid-revision-state-published:first-child:before {
    border-top-color: #46bd7b; }

.grid-revision-description {
  padding: 10px; }
  .grid-revision-description p {
    margin: 0px; }
  .grid-revision-description .grid-revision-date {
    font-weight: bold; }

.grid-revision-controls {
  position: relative;
  padding-bottom: 40px; }
  .grid-revision-controls .grid-revision-button {
    height: 40px;
    position: absolute;
    bottom: 0px; }
  .grid-revision-controls .grid-revision-preview-button {
    left: 0px;
    width: 50%; }
  .grid-revision-controls .grid-revision-delete-button,
  .grid-revision-controls .grid-revision-revert-button {
    right: 0px;
    width: 50%; }

.grid-revision-state-published .grid-revision-controls .grid-revision-preview-button {
  width: 100%; }

.grid-slot-style-changer {
  text-transform: uppercase;
  position: relative;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  display: block;
  -webkit-transition: max-height 0.321s ease;
          transition: max-height 0.321s ease;
  overflow: hidden;
  max-height: 0; }
  .grid-slot-style-changer .grid-style-changer-active {
    padding: 6px 0px 4px 0px;
    color: #b0bac2; }
  .grid-slot-style-changer .grid-choose-style {
    position: absolute;
    left: 50%;
    display: none;
    padding: 0px;
    margin: 0px;
    margin-left: -75px;
    list-style: none;
    z-index: 80;
    width: 150px; }
    .grid-slot-style-changer .grid-choose-style li {
      background-color: #b0bac2;
      border-top: 1px solid #d0d8dd; }
      .grid-slot-style-changer .grid-choose-style li:first-child {
        border-top: none; }
    .grid-slot-style-changer .grid-choose-style:before {
      content: "";
      border: 9px solid #b0bac2;
      font-size: 0;
      line-height: 0;
      height: 0;
      padding: 0;
      margin: 0;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      position: absolute;
      top: -16px;
      left: 47%; }

.grid-container-show-slot-styles .grid-slot-style-changer {
  max-height: 100px;
  overflow: visible; }

[data-reused=false] .grid-slot-style-changer:hover {
  z-index: 81; }
  [data-reused=false] .grid-slot-style-changer:hover:hover .grid-style-changer-active {
    color: #3f4853; }
  [data-reused=false] .grid-slot-style-changer:hover .grid-choose-style {
    color: white;
    display: block;
    padding-top: 2px; }
    [data-reused=false] .grid-slot-style-changer:hover .grid-choose-style li {
      padding: 10px 20px;
      -webkit-transition: all 0.1337s ease;
              transition: all 0.1337s ease;
      margin: 0px; }
      [data-reused=false] .grid-slot-style-changer:hover .grid-choose-style li:hover {
        cursor: pointer;
        background-color: #3f4853; }

.grid-slot {
  position: relative;
  min-height: 50px;
  padding-top: 20px;
  border-left: 4px solid white;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background-color: #eaeaea; }

.grid-slot {
  padding: 30px 7px 0 7px;
  padding: 0 5px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: table-cell; }

.grid-slot:first-child {
  border-left: none; }

/**
 * Grid Slots Wrapper
 * @author Stephan Kroppenstedt <sk@palasthotel.de>
 * @created 15.04.2014 11:46
 */
.grid-slots-wrapper {
  display: table;
  width: 100%; }

.grid-tool-elements {
  position: fixed;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  right: 0px;
  width: 260px;
  border-left: 1px solid rgba(176, 186, 194, 0.7);
  z-index: 90; }

.grid-element-box-lists .grid-new-element {
  border: 1px solid #eceff3;
  padding-bottom: 10px; }
.grid-element-box-lists .grid-element-title {
  padding-left: 0px; }

.grid-toolbar {
  -webkit-transition: all 0.1337s ease;
          transition: all 0.1337s ease;
  border-top: 4px solid #ed7b3d;
  position: relative;
  background-color: white;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 100%;
  height: 0px; }
  .grid-toolbar .grid-tool-list {
    list-style: none;
    position: fixed;
    z-index: 90;
    margin: 0px;
    width: 40px; }
    .grid-toolbar .grid-tool-list li {
      width: 135px;
      right: 90px;
      position: relative;
      margin: 0;
      -webkit-transition: all 0.1337s ease;
              transition: all 0.1337s ease; }
      .grid-toolbar .grid-tool-list li:hover {
        right: 0px; }
      .grid-toolbar .grid-tool-list li button {
        text-align: right;
        padding: 5px 48px 5px 5px;
        margin: 0px;
        font-size: 12px;
        width: 100%;
        height: 45px;
        -webkit-transition: all 0.1337s ease;
                transition: all 0.1337s ease;
        border: none;
        background-color: #f3f5f7; }
        .grid-toolbar .grid-tool-list li button [class^="icon-"],
        .grid-toolbar .grid-tool-list li button [class*=" icon-"] {
          position: absolute;
          right: 11px;
          top: 13px;
          font-size: 16px;
          font-family: 'Entypo'; }
        .grid-toolbar .grid-tool-list li button:hover {
          padding-right: 38px;
          color: white;
          background-color: #3f4853; }
  .grid-toolbar li.grid-tool-publish button,
  .grid-toolbar li.grid-tool-publish button:hover {
    background-color: #ed7b3d;
    color: white; }
  .grid-toolbar[data-draft=false] {
    border-top: 4px solid #46bd7b; }
    .grid-toolbar[data-draft=false] li.grid-tool-publish button,
    .grid-toolbar[data-draft=false] li.grid-tool-publish button:hover {
      background-color: #46bd7b; }

.grid-toolbar-list {
  margin: 20px 20px; }

#new-grid-wrapper {
  position: relative; }

.grid-wrapper {
  margin-top: 40px;
  margin-right: 260px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 5px 10px 120px 55px; }
  .grid-wrapper h1, .grid-wrapper h2, .grid-wrapper h3, .grid-wrapper h4, .grid-wrapper h5, .grid-wrapper h6, .grid-wrapper p {
    margin: 0px; }

.gridmode-container .grid-tool-list,
.gridmode-container .grid-element-type[data-type=container],
.gridmode-container .grid-container-sorthandle,
.gridmode-container .grid-container-options-list [role=reuse],
.gridmode-container .grid-container-options-list [role=trash],
.gridmode-box .grid-tool-list,
.gridmode-box .grid-element-type[data-type=container],
.gridmode-box .grid-container-sorthandle,
.gridmode-box .grid-container-options-list [role=reuse],
.gridmode-box .grid-container-options-list [role=trash] {
  display: none; }

.gridmode-box .grid-toolbar,
.gridmode-box .grid-container-controls,
.gridmode-box .grid-box-delete {
  display: none; }
.gridmode-box .grid-box-edit {
  bottom: 0px;
  width: 100%; }

/**
* Loader CSS.
*/
.grid-loading-indicator-wrapper {
  position: fixed;
  top: 300px;
  width: 40px;
  height: 40px;
  padding-left: 20px; }
  .grid-loading-indicator-wrapper.grid-loading-indicator-init {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -40px;
    padding-left: 0px; }
    .grid-loading-indicator-wrapper.grid-loading-indicator-init .grid-loading-indicator-text {
      position: absolute;
      top: -2px;
      left: 20px;
      width: 100px; }
  .grid-loading-indicator-wrapper .grid-loading-indicator {
    opacity: 0;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease; }
  .grid-loading-indicator-wrapper .grid-loading-indicator.loading {
    opacity: 1; }
  .grid-loading-indicator-wrapper .grid-loading-indicator,
  .grid-loading-indicator-wrapper .grid-loading-indicator:before,
  .grid-loading-indicator-wrapper .grid-loading-indicator:after {
    background: #3F4853;
    -webkit-animation: gridloading 1s infinite ease-in-out;
            animation: gridloading 1s infinite ease-in-out;
    width: 0.4em;
    height: 1.5em; }
  .grid-loading-indicator-wrapper .grid-loading-indicator:before,
  .grid-loading-indicator-wrapper .grid-loading-indicator:after {
    position: absolute;
    top: 0;
    content: ''; }
  .grid-loading-indicator-wrapper .grid-loading-indicator:before {
    left: -0.6em; }
  .grid-loading-indicator-wrapper .grid-loading-indicator {
    text-indent: -9999em;
    /*margin: 8em auto;*/
    position: relative;
    font-size: 11px;
    -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s; }
  .grid-loading-indicator-wrapper .grid-loading-indicator:after {
    left: 0.6em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }

@-webkit-keyframes gridloading {
  0%,
	80%,
	100% {
    box-shadow: 0 0 #3F4853;
    height: 1em; }
  40% {
    box-shadow: 0 -1em #3F4853;
    height: 2em; } }

@keyframes gridloading {
  0%,
	80%,
	100% {
    box-shadow: 0 0 #3F4853;
    height: 1em; }
  40% {
    box-shadow: 0 -1em #3F4853;
    height: 2em; } }
/**
**/
.grid-editor-url-builder {
  position: relative;
  width: 140px;
  -webkit-transition: all 0.1337s ease;
          transition: all 0.1337s ease;
  font-size: 11px; }
  .grid-editor-url-builder .grid-editor-url-input {
    width: 100%;
    padding-right: 130px;
    opacity: 0; }
  .grid-editor-url-builder .grid-editor-url-button,
  .grid-editor-url-builder .grid-editor-url-button:focus {
    position: absolute;
    right: 0px;
    top: 2px;
    width: 140px;
    color: #262e38;
    background-color: #e5e3df; }
  .grid-editor-url-builder.grid-editor-url-show {
    width: 100%; }
    .grid-editor-url-builder.grid-editor-url-show .grid-editor-url-button {
      background-color: transparent; }
      .grid-editor-url-builder.grid-editor-url-show .grid-editor-url-button:hover {
        color: #ed5032; }
    .grid-editor-url-builder.grid-editor-url-show .grid-editor-url-input {
      opacity: 1; }

.grid-editor-widget-textarea textarea {
  width: 10 0%;
  min-height: 200px; }

.grid-editor-widget-list > .grid-editor-widget-list-add {
  background-color: #eceae7; }

.grid-editor-widget-listitem {
  position: relative;
  border-left: 4px solid #eceae7;
  padding-left: 10px;
  margin-bottom: 15px;
  -webkit-transition: all 0.1337s ease;
          transition: all 0.1337s ease; }
  .grid-editor-widget-listitem:hover {
    border-color: #3ac5d9; }
  .grid-editor-widget-listitem > .widget-list-remove-item-button {
    margin-top: 10px;
    margin-left: -10px;
    background-color: #eceae7; }
  .grid-editor-widget-listitem .widget-list-remove-item-button:hover {
    background-color: #ed5032;
    color: white; }
  .grid-editor-widget-listitem .widget-list-sort-button {
    position: absolute;
    top: 0px;
    left: -35px; }
    .grid-editor-widget-listitem .widget-list-sort-button.widget-list-move-down-item-button {
      top: auto;
      bottom: 0px; }
  .grid-editor-widget-listitem:hover .widget-list-sort-button {
    background-color: #eceae7; }
  .grid-editor-widget-listitem:first-child .widget-list-move-up-item-button {
    display: none; }
  .grid-editor-widget-listitem:last-child .widget-list-move-down-item-button {
    display: none; }

.grid-editor-widget-autocomplete .autocomplete-wrapper,
.grid-editor-autocomplete-with-links .autocomplete-wrapper {
  position: relative; }
.grid-editor-widget-autocomplete .icon-cancel,
.grid-editor-autocomplete-with-links .icon-cancel {
  font-size: 140%; }
.grid-editor-widget-autocomplete .suggestion-list,
.grid-editor-autocomplete-with-links .suggestion-list {
  position: relative; }
  .grid-editor-widget-autocomplete .suggestion-list li,
  .grid-editor-autocomplete-with-links .suggestion-list li {
    padding: 8px 15px;
    background-color: #e5e3df;
    cursor: pointer;
    margin-bottom: 0px;
    border-bottom: 1px solid #bdc7d3; }
    .grid-editor-widget-autocomplete .suggestion-list li:last-child,
    .grid-editor-autocomplete-with-links .suggestion-list li:last-child {
      border-bottom: none; }
    .grid-editor-widget-autocomplete .suggestion-list li:hover,
    .grid-editor-autocomplete-with-links .suggestion-list li:hover {
      background-color: #3ac5d9;
      color: white; }
  .grid-editor-widget-autocomplete .suggestion-list:empty,
  .grid-editor-autocomplete-with-links .suggestion-list:empty {
    display: none; }
  .grid-editor-widget-autocomplete .suggestion-list:before,
  .grid-editor-autocomplete-with-links .suggestion-list:before {
    content: "";
    border: 8px solid #e5e3df;
    font-size: 0;
    line-height: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    position: absolute;
    top: -16px;
    left: 10px; }
.grid-editor-widget-autocomplete .links a,
.grid-editor-autocomplete-with-links .links a {
  margin-right: 15px; }
  .grid-editor-widget-autocomplete .links a.full,
  .grid-editor-autocomplete-with-links .links a.full {
    display: none; }
.grid-editor-widget-autocomplete .cancel,
.grid-editor-autocomplete-with-links .cancel {
  position: absolute;
  cursor: pointer;
  top: 4px;
  display: none; }
.grid-editor-widget-autocomplete input,
.grid-editor-autocomplete-with-links input {
  padding-left: 0px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }
.grid-editor-widget-autocomplete .locked .links .full,
.grid-editor-autocomplete-with-links .locked .links .full {
  display: inline; }
.grid-editor-widget-autocomplete .locked input,
.grid-editor-autocomplete-with-links .locked input {
  padding-left: 20px; }
.grid-editor-widget-autocomplete .locked .cancel,
.grid-editor-autocomplete-with-links .locked .cancel {
  display: block; }
.grid-editor-widget-autocomplete .loading,
.grid-editor-autocomplete-with-links .loading {
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.3s all;
          transition: 0.3s all;
  border-radius: 10px;
  height: 15px;
  width: 15px;
  -webkit-animation: loading 1s infinite ease-in-out;
          animation: loading 1s infinite ease-in-out;
  top: 8px;
  right: 8px; }
  .grid-editor-widget-autocomplete .loading.go,
  .grid-editor-autocomplete-with-links .loading.go {
    opacity: 1; }

@-webkit-keyframes loading {
  0%,
  80%,
  100% {
    background-color: #3ac5d9; }
  40% {
    background-color: #e5e3df; } }

@keyframes loading {
  0%,
  80%,
  100% {
    background-color: #3ac5d9; }
  40% {
    background-color: #e5e3df; } }
.grid-editor-widget-multi-autocomplete .icon-cancel {
  display: block;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: -80px -128px;
  float: right;
  cursor: pointer; }
.grid-editor-widget-multi-autocomplete .suggestion-list {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: none;
  background-color: white;
  border: 1px solid #DBDBDB; }
.grid-editor-widget-multi-autocomplete .suggestion-list li {
  position: relative;
  margin: 0;
  padding: 3px 1em 3px .4em;
  cursor: pointer;
  min-height: 0; }
.grid-editor-widget-multi-autocomplete .suggestion-list li:hover {
  border: 1px solid #999999;
  background: #509BF8;
  font-weight: normal;
  color: #FFFFFF; }
.grid-editor-widget-multi-autocomplete .autocomplete-multiselect-item {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1px 3px;
  margin-right: 2px;
  margin-bottom: 3px;
  color: #333;
  background-color: #f6f6f6; }

.grid-editor-widget-checkbox input[type=checkbox] {
  -webkit-appearance: checkbox; }
  .grid-editor-widget-checkbox input[type=checkbox]:before {
    display: none;
    margin-top: 0px; }

/*# sourceMappingURL=grid-backend.css.map */