/* **************
Dimensions
****************/
/**************
* index stack
***************/
.grid-all-wrapper {
  font-family: "OpenSans", sans-serif;
}
.grid-all-wrapper input,
.grid-all-wrapper textarea,
.grid-all-wrapper select,
.grid-all-wrapper button {
  font-family: inherit;
  font-size: 12px;
}
.grid-all-wrapper input {
  height: 27px;
  width: 100%;
  line-height: 27px;
  text-indent: 10px;
  font-size: 1em;
  border: solid 1px #eceff3;
  margin-bottom: 15px;
}
.grid-all-wrapper input:hover {
  border-color: #b0bac2;
}
.grid-all-wrapper button,
.grid-all-wrapper button:focus {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #3f4853;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.1337s ease;
  transition: all 0.1337s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.grid-all-wrapper button:hover,
.grid-all-wrapper button:focus:hover {
  color: #3ac5d9;
}
.grid-all-wrapper img {
  max-width: 100%;
}

body,
#page {
  background-color: #f3f5f7 !important;
}

#page {
  margin: 0px !important;
  padding: 0px !important;
}

.grid-wrapper {
  width: 80%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 10px 120px 10px;
}
.grid-wrapper h1, .grid-wrapper h2, .grid-wrapper h3, .grid-wrapper h4, .grid-wrapper h5, .grid-wrapper h6, .grid-wrapper p {
  margin: 0px;
}

.grid-container {
  margin: 10px 0 0 0;
}
.grid-container .grid-container-content {
  padding: 5px 5px 10px 5px;
  position: relative;
}
.grid-container .grid-container-controls {
  position: relative;
}

/*************************
************ 12 er ********
************************/
/** Container C-12 **/
.C-12 .slot {
  width: 100%;
}

/** Container C-6-6 **/
.C-6-6 .slot {
  width: 49.5%;
  float: right;
}

.C-6-6 .slot:first-child {
  margin-right: 1%;
  float: left;
}

/** Container C-4-4-4 **/
.C-4-4-4 .slot {
  width: 33%;
  float: left;
  margin-right: 1%;
}

.C-4-4-4 .slot:last-child {
  width: 32%;
  float: right;
  margin-right: 0px;
}

/** Container C-8-4 **/
.C-8-4 .slot:nth-child(1) {
  width: 66%;
  float: left;
}

.C-8-4 .slot:nth-child(2) {
  width: 33%;
  float: right;
  margin-left: 1%;
}

/** Container C-4-8 **/
.C-4-8 .slot:nth-child(1) {
  width: 33%;
  float: left;
  margin-right: 1%;
}

.C-4-8 .slot:nth-child(2) {
  width: 66%;
  float: right;
}

/** Container C-3-3-3-3 **/
[data-type=C-3-3-3-3] .slot {
  width: 24%;
  margin-right: 1%;
  float: left;
}

[data-type=C-3-3-3-3] .slot:last-child {
  width: 25%;
  margin-right: 0;
}

/** Container C-2-2-2-2-2-2 **/
.C-2-2-2-2-2-2 .slot {
  width: 15.8%;
  float: left;
  margin-right: 1%;
}

.C-2-2-2-2-2-2 .slot:last-child {
  margin-right: 0px;
  float: right;
}

/** Container C-0-8 and C-8-0 **/
.C-0-8 .slot {
  width: 66.6%;
  float: right;
}

.C-8-0 .slot {
  width: 66.6%;
  float: left;
}

#grid .C-8-0,
#grid .C-0-8 {
  width: 66.6% !important;
}

#grid .C-0-8 {
  margin-left: 33.3%;
}

#grid .C-8-0 .slot,
#grid .C-0-8 .slot {
  width: 100%;
}

/** Container C-0-4-4,C-4-4-0 and C-0-4-0 **/
.C-4-4-0 .slot {
  width: 33%;
  float: left;
  margin-right: 1%;
}

.C-4-4-0 .slot:last-child {
  margin-right: 0;
  float: left;
}

.C-0-4-4 .slot {
  width: 33%;
  float: right;
  margin-left: 1%;
}

.C-0-4-0 .slot {
  width: 33.3%;
  margin-left: 33.3%;
}

#grid .C-0-4-4,
#grid .C-4-4-0 {
  width: 66.6% !important;
}

#grid .C-0-4-4 {
  margin-left: 33.3%;
}

#grid .C-4-4-0 .slot,
#grid .C-0-4-4 .slot {
  width: 49%;
}

#grid .C-4-4-0 .slot:last-child {
  float: right;
}

#grid .C-0-4-0 {
  width: 33.3% !important;
  margin-left: 33.3%;
}

#grid .C-0-4-0 .slot {
  width: 100%;
  margin-left: 0px;
}

/** Container C-4-2-2-0 and C-2-2-4-0 **/
.C-4-2-2-0 .slot,
.C-2-2-4-0 .slot {
  width: 16%;
  margin-right: 1%;
  float: left;
}

.C-4-2-2-0 .slot:first-child,
.C-2-2-4-0 .slot:last-child {
  width: 33%;
}

#grid .C-4-2-2-0,
#grid .C-2-2-4-0 {
  width: 66.6% !important;
}

#grid .C-4-2-2-0 .slot,
#grid .C-2-2-4-0 .slot {
  width: 24%;
  margin-right: 1%;
}

#grid .C-4-2-2-0 .slot:first-child,
#grid .C-2-2-4-0 .slot:last-child {
  width: 49%;
}

/** Container C-2-2-2-2-0 and C-0-2-2-2-2 **/
.C-2-2-2-2-0 .slot {
  width: 16%;
  float: left;
  margin-right: 1%;
}

.C-0-2-2-2-2 .slot {
  margin-left: 1%;
  float: right;
}

#grid .C-2-2-2-2-0 {
  width: 66.6% !important;
}

#grid .C-2-2-2-2-0 .slot,
#grid .C-0-2-2-2-2 .slot {
  width: 24%;
}

/** Container Sidebars */
.S-0-4 .slot {
  width: 33%;
  float: right;
}

.S-4-0 .slot {
  width: 33%;
}

/*
.S-4-4 .slot:nth-child(1){
	width: 31.5%;
	float: left;
}
.S-4-4 .slot:nth-child(2){
	width: 31.5%;
	float: right;
}*/
/*************************
************ 18 er ********
************************/
/** Container C-18 **/
.C-18 .slot {
  width: 100%;
}

.C-6-6-6 .slot {
  width: 33%;
  float: left;
  margin-right: 1%;
}

.C-6-6-6 .slot:last-child {
  width: 32%;
  float: right;
  margin-right: 0px;
}

.C-12-6 .slot {
  float: left;
  width: 66%;
}

.C-12-6 .slot:last-child {
  width: 33%;
  float: right;
  margin-right: 0px;
}

.C-4-4-4-6 .slot {
  width: 22%;
  margin-right: 0.5%;
  float: left;
}

.C-4-4-4-6 .slot:last-child {
  width: 32%;
  float: right;
  margin-right: 0px;
}

.C-3-3-3-3-3-3 .slot {
  width: 16%;
  margin-right: 0.8%;
  float: left;
}

.C-3-3-3-3-3-3 .slot:last-child {
  float: right;
  margin-right: 0px;
}

/** Container C-12-0 **/
.C-12-0 .slot {
  width: 66.6%;
  float: left;
}

.C-12-0 {
  width: 66.6% !important;
}

.C-12-0 .slot {
  width: 100%;
}

/** Container C-4-4-4-0 **/
.C-4-4-4-0 .slot {
  width: 22%;
  margin-right: 0.5%;
  float: left;
}

.C-4-4-4-0 {
  width: 66.6% !important;
}

.C-4-4-4-0 .slot {
  width: 33%;
  margin-right: 0.5%;
}

.C-4-4-4-0 .slot:last-child {
  margin-right: 0px;
}

/** Container C-6-6-0 **/
.C-6-6-0 .slot {
  width: 33.3%;
  margin-right: 0.5%;
  float: left;
}

.C-6-6-0 {
  width: 66.6% !important;
}

.C-6-6-0 .slot {
  width: 49.5%;
  margin-right: 1%;
}

.C-6-6-0 .slot:last-child {
  margin-right: 0px;
}

/** Container C-3-3-3-3-0 **/
.C-3-3-3-3-0 .slot {
  width: 16%;
  margin-right: 0.5%;
  float: left;
}

.C-3-3-3-3-0 {
  width: 66.6% !important;
}

.C-3-3-3-3-0 .slot {
  width: 24.5%;
  margin-right: 0.5%;
}

.C-3-3-3-3-0 .slot:last-child {
  margin-right: 0px;
}

/* container sidebars */
.S-0-6 .slot {
  width: 32%;
  float: right;
}

[data-type*=S-] .grid .container {
  width: 100% !important;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border: none;
}

[data-type*=S-] .grid .container:before {
  content: "";
}

[data-type*=S-] .grid .container .slot {
  padding: 5px 0 0 0;
}

[data-type*=S-] .box {
  border: none;
}

.grid-slot {
  position: relative;
  min-height: 50px;
  padding-top: 20px;
}
.grid-slot .grid-slot-style-changer {
  text-transform: uppercase;
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: -11px;
  left: 0px;
  display: none;
  font-size: 12px;
}

.grid-slot:hover .grid-slot-style-changer {
  text-align: center;
  font-weight: bold;
  z-index: 80;
  display: block;
}
.grid-slot:hover .grid-slot-style-changer .grid-style-changer-active {
  padding: 6px 0px 4px 0px;
  color: #b0bac2;
}
.grid-slot:hover .grid-slot-style-changer:hover .grid-style-changer-active {
  background-color: #eceff3;
  color: #3f4853;
}
.grid-slot:hover .grid-slot-style-changer .grid-choose-style {
  position: absolute;
  display: none;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.grid-slot:hover .grid-slot-style-changer .grid-choose-style li {
  background-color: #b0bac2;
  border-top: 1px solid #d0d8dd;
}
.grid-slot:hover .grid-slot-style-changer .grid-choose-style li:first-child {
  border-top: none;
}
.grid-slot:hover .grid-slot-style-changer .grid-choose-style:before {
  content: "";
  border: 9px solid #b0bac2;
  font-size: 0;
  line-height: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: -16px;
  left: 47%;
}

[data-reused=false] .grid-slot-style-changer:hover .grid-choose-style {
  color: white;
  display: block;
  width: 100%;
  padding-top: 2px;
}
[data-reused=false] .grid-slot-style-changer:hover .grid-choose-style li {
  padding: 10px 0px 8px 0px;
  -webkit-transition: all 0.1337s ease;
  transition: all 0.1337s ease;
}
[data-reused=false] .grid-slot-style-changer:hover .grid-choose-style li:hover {
  cursor: pointer;
  background-color: #3f4853;
}

.grid-boxes-wrapper {
  border-top: 2px solid #f3f5f7;
}

.grid-box {
  padding: 12px 0;
  min-height: 80px;
  border-bottom: 2px solid #f3f5f7;
}

.grid-tool-state button,
.grid-tool-state button:hover {
  cursor: default;
  color: #ed7b3d;
}
.grid-tool-state button[data-draft=false],
.grid-tool-state button:hover[data-draft=false] {
  color: #46bd7b;
}

.grid-container-content {
  background-color: white;
  position: relative;
}

.grid-container-reused-layer {
  cursor: move;
  position: absolute;
  z-index: 95;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  background-color: rgba(63, 72, 83, 0.3);
  z-index: 94;
}
.grid-container-reused-layer .grid-container-reused-label {
  position: absolute;
  top: -3px;
  left: 50%;
  color: white;
  text-transform: uppercase;
}

.grid-container .grid-container-controls {
  height: 40px;
  background-color: transparent;
  opacity: 0.3;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.grid-container:hover .grid-container-controls {
  background-color: white;
  opacity: 1;
}

.grid-container-sorthandle {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: move;
  color: #b0bac2;
  -webkit-transition: all 0.1337s ease;
  transition: all 0.1337s ease;
}
.grid-container-sorthandle:hover {
  color: #3f4853;
}

.grid-container-sort-placeholder {
  height: 20px;
  border: 2px dashed #3ac5d9;
}

.grid-container-options {
  position: absolute;
  top: 5px;
  right: 0px;
  display: block;
  height: 40px;
  z-index: 95;
}
.grid-container-options .grid-container-options-icon {
  color: #b0bac2;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all 0.1337s ease;
  transition: all 0.1337s ease;
}
.grid-container-options:hover .grid-container-options-icon {
  color: #3f4853;
}
.grid-container-options .grid-container-options-list {
  position: absolute;
  display: none;
  list-style: none;
  background-color: #b0bac2;
  color: white;
  width: 110px;
  right: 0px;
  top: 26px;
}
.grid-container-options .grid-container-options-list .grid-container-options-list-item {
  cursor: pointer;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
.grid-container-options .grid-container-options-list .grid-container-options-list-item:hover {
  background-color: #3f4853;
}
.grid-container-options .grid-container-options-list .grid-container-options-list-item:hover[role=trash] {
  background-color: #ed5032;
}
.grid-container-options .grid-container-options-list .grid-container-options-list-item:hover[role=edit] {
  background-color: #3ac5d9;
}
.grid-container-options .grid-container-options-list:before {
  content: "";
  border: 8px solid #b0bac2;
  font-size: 0;
  line-height: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: -16px;
  left: 47%;
}
.grid-container-options:hover .grid-container-options-list {
  display: block;
}

.grid-box {
  position: relative;
}

.grid-box-content {
  font-size: 11px;
}

.grid-box-controls {
  cursor: move;
  color: white;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 10px;
  top: 10px;
  background-color: rgba(63, 72, 83, 0.9);
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}
.grid-box-controls .grid-box-control-button {
  cursor: pointer;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 40px;
  -webkit-transition: all 0.1337s ease;
  transition: all 0.1337s ease;
}
.grid-box-controls .grid-box-control-button:hover {
  width: 100%;
}
.grid-box-controls .grid-box-control-button .grid-box-control-text {
  opacity: 0;
  -webkit-transition: all 0.1337s ease;
  transition: all 0.1337s ease;
}
.grid-box-controls .grid-box-control-button:hover .grid-box-control-text {
  opacity: 1;
}
.grid-box-controls .grid-box-control-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -13px;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 8px;
}
.grid-box-controls .grid-box-edit {
  background-color: #3ac5d9;
  top: 0px;
  bottom: 50%;
}
.grid-box-controls .grid-box-delete {
  top: 50%;
  bottom: 0px;
  background-color: #ed5032;
}
.grid-box-controls .grid-box-drag {
  position: absolute;
  top: 35%;
  left: 10px;
}

.grid-box:hover .grid-box-controls {
  height: auto;
  overflow: visible;
  display: block;
  opacity: 1;
}

.grid-box-sort-placeholder {
  border: 2px dashed #3ac5d9;
}

.grid-toolbar {
  position: relative;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding-top: 10px;
}
.grid-toolbar .grid-tool-list li {
  display: inline;
  margin-right: 15px;
}
.grid-toolbar button {
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.grid-toolbar-list {
  margin: 20px 20px;
}

.grid-tool-list .grid-revisions {
  display: none;
}

/* ***************************
* Container and Box Toolbar
* ***************************/
.grid-tool-elements {
  position: absolute;
  top: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  right: 0px;
  width: 20%;
  padding-bottom: 80px;
}

.grid-element-type-select .grid-element-type {
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  text-transform: uppercase;
  width: 50%;
  font-weight: bold;
  min-height: 50px;
  padding-top: 20px;
  -webkit-transition: all 0.1337s ease;
  transition: all 0.1337s ease;
  position: relative;
  background-color: #f3f5f7;
}
.grid-element-type-select .grid-element-type:hover, .grid-element-type-select .grid-element-type.active {
  cursor: pointer;
  color: white;
  background-color: #3ac5d9;
}
.grid-element-type-select .grid-element-type:hover.active:after, .grid-element-type-select .grid-element-type.active.active:after {
  z-index: 99;
  content: "";
  border: 9px solid #3ac5d9;
  font-size: 0;
  line-height: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  position: absolute;
  bottom: -18px;
  left: 47%;
}

.grid-element-type-content {
  min-height: 100px;
  padding: 15px 10px;
  overflow-y: scroll;
  background-color: white;
}
.grid-element-type-content .grid-element-container-list,
.grid-element-type-content .grid-element-box-list {
  margin: 0px;
}
.grid-element-type-content .grid-container-type,
.grid-element-type-content .grid-box-type {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px;
}
.grid-element-type-content .grid-container-type:before,
.grid-element-type-content .grid-box-type:before {
  z-index: 99;
  content: "";
  border: 6px solid black;
  font-size: 0;
  line-height: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: 24px;
  left: 6px;
  -webkit-transition: all 0.1337s ease;
  transition: all 0.1337s ease;
}
.grid-element-type-content .grid-container-type.active:before,
.grid-element-type-content .grid-box-type.active:before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 26px;
  left: 4px;
}

.grid-new-element {
  cursor: move;
  position: relative;
  height: 40px;
  border: 1px solid #eceff3;
  margin-bottom: 8px;
  color: #eceff3;
}
.grid-new-element .grid-element-title {
  color: black;
  padding-left: 20px;
}
.grid-new-element:hover {
  color: #b0bac2;
  border-color: #b0bac2;
}

.grid-container-type-content {
  margin: 0px;
  border-bottom: 2px solid #b0bac2;
}

.grid-new-container-slots {
  margin: 5px 5px 5px 20px;
}
.grid-new-container-slots .slot {
  height: 30px;
  background-color: #f0f0f0;
}

.grid-element-drag-icon {
  content: '\23f6';
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  top: 12px;
  left: 5px;
  font-size: 250%;
}

.container-drop-area-wrapper {
  position: relative;
}
.container-drop-area-wrapper .container-drop-area {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 20px;
  top: -22px;
  width: 100%;
  z-index: 95;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #90dee9;
}
.container-drop-area-wrapper .container-drop-area.hover {
  background-color: #3ac5d9;
}

.grid-box-type-content {
  margin: 0px;
  border-bottom: 2px solid #b0bac2;
}

.grid-box-type + dl .grid-box-type-search {
  display: none;
}
.grid-box-type.active + dl .grid-box-type-search {
  display: block;
}

.grid-box-drop-area-wrapper {
  position: relative;
}
.grid-box-drop-area-wrapper .grid-box-drop-area {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 20px;
  top: -12px;
  width: 100%;
  z-index: 95;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #e5f7fa;
}
.grid-box-drop-area-wrapper .grid-box-drop-area.hover {
  background-color: #3ac5d9;
}

.dragger-helper {
  display: block;
  height: 50px;
  width: 38px;
  max-width: 38px;
  max-height: 50px;
  min-width: 38px;
  min-height: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  -webkit-box-shadow: 4px 4px 0 #fff, 5px 5px 0 #ccc, 9px 9px 0 #fff, 10px 10px 0 #ccc, 14px 14px 0 #fff;
  box-shadow: 4px 4px 0 #fff, 5px 5px 0 #ccc, 9px 9px 0 #fff, 10px 10px 0 #ccc, 14px 14px 0 #fff;
}

.grid-element-trash {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-transform: uppercase;
  min-height: 80px;
  background-color: #b0bac2;
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px 0 10px;
  vertical-align: baseline;
}
.grid-element-trash > div {
  padding-top: 25px;
  padding-bottom: 25px;
  border: 2px dashed white;
  border-bottom: none;
  text-align: center;
}

/*# sourceMappingURL=grid-backend.css.map */