/* **************
Dimensions
****************/
/**************
* index stack
***************/
/**
**/
.grid-clearfix:before,
.grid-clearfix:after {
  content: "";
  display: table; }

.grid-clearfix:after {
  clear: both; }

.grid-clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

h3 {
  word-break: break-all;
  font-size: 12px; }

.grid-all-wrapper, .grid-editor-wrapper {
  font-family: "OpenSans", sans-serif;
  background-color: #f3f5f7; }
  .grid-all-wrapper input, .grid-editor-wrapper input,
  .grid-all-wrapper textarea,
  .grid-editor-wrapper textarea,
  .grid-all-wrapper select,
  .grid-editor-wrapper select,
  .grid-all-wrapper button,
  .grid-editor-wrapper button {
    font-family: inherit;
    font-size: 12px;
    box-sizing: border-box; }
  .grid-all-wrapper input, .grid-editor-wrapper input {
    height: 27px;
    width: 100%;
    line-height: 27px;
    text-indent: 10px;
    font-size: 1em;
    border: solid 1px #eceff3;
    margin-bottom: 15px; }
    .grid-all-wrapper input:hover, .grid-editor-wrapper input:hover {
      border-color: #b0bac2; }
  .grid-all-wrapper input[type=checkbox], .grid-editor-wrapper input[type=checkbox] {
    width: auto;
    height: auto;
    display: inline; }
  .grid-all-wrapper button, .grid-editor-wrapper button,
  .grid-all-wrapper button:focus,
  .grid-editor-wrapper button:focus {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #3f4853;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
    transition: all 0.1337s ease;
    box-shadow: none; }
    .grid-all-wrapper button:hover, .grid-editor-wrapper button:hover,
    .grid-all-wrapper button:focus:hover,
    .grid-editor-wrapper button:focus:hover {
      color: #3ac5d9; }
  .grid-all-wrapper img, .grid-editor-wrapper img {
    max-width: 100%; }

/**
**/
.container-drop-area-wrapper {
  position: relative; }
  .container-drop-area-wrapper .container-drop-area {
    box-sizing: border-box;
    position: absolute;
    height: 40px;
    top: -5px;
    width: 100%;
    z-index: 60;
    transition: all 0.3s ease;
    background-color: #90dee9; }
    .container-drop-area-wrapper .container-drop-area.hover {
      background-color: #3ac5d9; }

.dragger-helper {
  display: block;
  height: 50px;
  width: 38px;
  max-width: 38px;
  max-height: 50px;
  min-width: 38px;
  min-height: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  /*@include box-shadow (	4px 4px 0 #fff,
  						5px 5px 0 #ccc,
  						9px 9px 0 #fff,
  						10px 10px 0 #ccc,
  						14px 14px 0 #fff);*/ }

.grid-box-drop-area-wrapper {
  position: relative; }
  .grid-box-drop-area-wrapper .grid-box-drop-area {
    box-sizing: border-box;
    position: absolute;
    height: 20px;
    top: -12px;
    width: 100%;
    z-index: 60;
    transition: all 0.3s ease;
    background-color: #e5f7fa; }
    .grid-box-drop-area-wrapper .grid-box-drop-area.hover {
      background-color: #3ac5d9; }

/*********************
* box
*******************/
.grid-box {
  padding: 12px 0;
  margin: 10px 0;
  min-height: 50px;
  background-color: #fcfdfd;
  -webkit-box-shadow: inset 0 0 2px 0px #b0bac2;
  box-shadow: inset 0 0 2px 0px #b0bac2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.grid-box {
  position: relative; }

.grid-box-content {
  font-size: 11px;
  padding: 0 10px; }

.grid-box-controls {
  cursor: move;
  color: white;
  height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(63, 72, 83, 0.9);
  font-weight: bold;
  text-transform: uppercase;
  transition: opacity 0.2s ease; }
  .grid-box-controls .grid-box-control-button {
    cursor: pointer;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 40px;
    max-width: 250px;
    transition: all 0.3s ease; }
    .grid-box-controls .grid-box-control-button:hover {
      width: 100%; }
    .grid-box-controls .grid-box-control-button .grid-box-control-text {
      opacity: 0;
      transition: all 0.3s ease; }
    .grid-box-controls .grid-box-control-button:hover .grid-box-control-text {
      opacity: 1; }
  .grid-box-controls .grid-box-control-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -13px;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 8px; }
  .grid-box-controls .grid-box-edit {
    background-color: #3ac5d9;
    top: 0px;
    bottom: 50%; }
  .grid-box-controls .grid-box-delete {
    top: 50%;
    bottom: 0px;
    background-color: #ed5032; }
  .grid-box-controls .grid-box-drag {
    position: absolute;
    top: 35%;
    left: 10px; }

.grid-box:hover .grid-box-controls {
  height: auto;
  overflow: visible;
  display: block;
  opacity: 1; }

.grid-box-sort-placeholder {
  border: 2px dashed #3ac5d9; }

.grid-box-type-content {
  margin: 0px;
  border-bottom: 1px solid #f3f5f7; }

.grid-box-type + dl .grid-box-type-search {
  display: none; }
.grid-box-type.active + dl .grid-box-type-search {
  display: block; }

.grid-boxes-wrapper {
  min-height: 60px; }

.grid-containers-wrapper {
  box-sizing: border-box; }

/****************
 * container 
 ****************/
.grid-container {
  margin: 0px 0px 20px 0px; }
  .grid-container:hover .grid-container-sorthandle,
  .grid-container:hover .grid-container-options-icon,
  .grid-container:hover .grid-container-prolog,
  .grid-container:hover .grid-container-epilog {
    color: #b0bac2; }
    .grid-container:hover .grid-container-sorthandle:hover,
    .grid-container:hover .grid-container-options-icon:hover,
    .grid-container:hover .grid-container-prolog:hover,
    .grid-container:hover .grid-container-epilog:hover {
      color: #3f4853; }
  .grid-container:hover .grid-container-title {
    color: #262e38; }
  .grid-container:hover .grid-container-controls {
    background-color: white;
    border: 1px solid rgba(176, 186, 194, 0.7);
    border-bottom: none; }
  .grid-container:hover .grid-container-content {
    border-top: 1px solid white; }

.grid-container-content {
  position: relative;
  background-color: white;
  border: 1px solid rgba(176, 186, 194, 0.7); }

.grid-container-controls {
  position: relative;
  background-color: transparent;
  height: 40px;
  border: 1px solid transparent;
  border-bottom: none; }

/**********************************
 * container hover states
 **********************************/
.grid-container-title,
.grid-container-sorthandle,
.grid-container-options-icon,
.grid-container-prolog,
.grid-container-epilog {
  color: rgba(176, 186, 194, 0.3);
  transition: all 0.3s ease; }

.grid-container-options-list-item:hover {
  background-color: #3f4853; }
  .grid-container-options-list-item:hover[role=trash] {
    background-color: #ed5032; }
  .grid-container-options-list-item:hover[role=edit] {
    background-color: #3ac5d9; }

.grid-container-type-content {
  margin: 0px;
  border-bottom: 1px solid #f3f5f7; }

.grid-container-reused-layer {
  cursor: move;
  position: absolute;
  z-index: 60;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  background-color: rgba(63, 72, 83, 0.3);
  z-index: 50; }
  .grid-container-reused-layer .grid-container-reused-label {
    position: absolute;
    top: -3px;
    left: 50%;
    color: white;
    text-transform: uppercase; }

.grid-container-title {
  position: absolute;
  top: 9px;
  left: 20px;
  font-weight: bold;
  font-size: 90%; }

.grid-container-sorthandle {
  position: absolute;
  top: 5px;
  left: -4px;
  width: 100%;
  height: 40px;
  cursor: move; }

.grid-container-sort-placeholder {
  height: 20px;
  border: 2px dashed #3ac5d9; }

.grid-container-options {
  position: absolute;
  top: 5px;
  right: 0px;
  height: 40px;
  z-index: 80; }
  .grid-container-options:hover {
    z-index: 81; }
  .grid-container-options .grid-container-options-icon {
    text-transform: uppercase;
    font-weight: bold; }
  .grid-container-options .grid-container-options-list {
    position: absolute;
    list-style: none;
    background-color: #b0bac2;
    color: white;
    width: 110px;
    right: 0px;
    top: 30px;
    margin: 0px;
    padding: 0px;
    display: none; }
    .grid-container-options .grid-container-options-list .grid-container-options-list-item {
      cursor: pointer;
      padding: 5px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 0px; }
    .grid-container-options .grid-container-options-list:before {
      content: "";
      border: 8px solid #b0bac2;
      font-size: 0;
      line-height: 0;
      height: 0;
      padding: 0;
      margin: 0;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      position: absolute;
      top: -16px;
      left: 47%; }
  .grid-container-options:hover .grid-container-options-list {
    display: block; }

.grid-container-prolog p,
.grid-container-epilog p {
  margin-bottom: 10px; }

.grid-editor-controls {
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  margin: 0px 10%;
  background-color: white;
  padding: 15px;
  z-index: 999;
  width: 80%;
  /*
  	-webkit-box-shadow: 0 -3px 3px 0 #DEDEDE;
  			box-shadow: 0 -3px 3px 0 #DEDEDE;
  */ }
  .grid-editor-controls button {
    background-color: black;
    color: white;
    padding: 10px; }
  .grid-editor-controls .grid-editor-save-button {
    background-color: #46bd7b;
    color: white; }
  .grid-editor-controls .grid-editor-cancel-button {
    background-color: #ed5032;
    color: white; }
  .grid-editor-controls .grid-editor-reuse-button {
    background-color: #e5e3df;
    color: #262e38;
    float: right; }

.grid-editor-content {
  box-sizing: border-box;
  padding: 15px;
  margin: 0px 10%;
  padding-bottom: 100px; }
  .grid-editor-content fieldset {
    margin: 0px 0px 15px 0px;
    border: none;
    padding: 0px; }
  .grid-editor-content legend {
    cursor: pointer;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0; }
    .grid-editor-content legend .icon-arrow {
      position: absolute;
      left: -20px;
      top: 5px;
      transition: all 0.1337s ease; }
    .grid-editor-content legend.active .icon-arrow {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(90), M12=-sin(90), M21=sin(90), M22=cos(90));
      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(90), M12=-sin(90), M21=sin(90), M22=cos(90))";
      zoom: 1; }
  .grid-editor-content input,
  .grid-editor-content textarea {
    border: 1px solid #eceff3; }
  .grid-editor-content label {
    padding: 10px 0;
    font-weight: bold;
    color: #8193a9;
    display: block; }
  .grid-editor-content .grid-editor-title {
    font-weight: bold;
    font-size: 16px;
    padding: 7px;
    height: auto; }

.grid-element-drag-icon {
  position: absolute;
  top: 4px;
  left: -6px;
  font-size: 120%; }

.grid-element-trash {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-transform: uppercase;
  min-height: 80px;
  background-color: #b0bac2;
  color: white;
  box-sizing: border-box;
  padding: 10px 10px 0 10px;
  vertical-align: baseline; }
  .grid-element-trash > div {
    padding-top: 25px;
    padding-bottom: 25px;
    border: 2px dashed white;
    border-bottom: none;
    text-align: center; }

.grid-element-type-content {
  min-height: 100px;
  padding: 15px 10px;
  overflow-y: scroll;
  background-color: white; }
  .grid-element-type-content .grid-element-container-list,
  .grid-element-type-content .grid-element-box-list {
    margin: 0px; }
  .grid-element-type-content .grid-container-type,
  .grid-element-type-content .grid-box-type {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 20px; }
    .grid-element-type-content .grid-container-type .icon-arrow,
    .grid-element-type-content .grid-box-type .icon-arrow {
      z-index: 90;
      position: absolute;
      top: 16px;
      left: -4px;
      font-size: 14px;
      transition: all 0.3s ease; }
    .grid-element-type-content .grid-container-type.active .icon-arrow,
    .grid-element-type-content .grid-box-type.active .icon-arrow {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(90), M12=-sin(90), M21=sin(90), M22=cos(90));
      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(90), M12=-sin(90), M21=sin(90), M22=cos(90))";
      zoom: 1; }

.grid-element-type-select .grid-element-type {
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  text-transform: uppercase;
  width: 50%;
  font-weight: bold;
  height: 45px;
  padding-top: 15px;
  transition: all 0.1337s ease;
  position: relative;
  background-color: #f3f5f7; }
  .grid-element-type-select .grid-element-type:hover, .grid-element-type-select .grid-element-type.active {
    cursor: pointer;
    color: white;
    background-color: #3ac5d9; }
    .grid-element-type-select .grid-element-type:hover.active:after, .grid-element-type-select .grid-element-type.active.active:after {
      z-index: 90;
      content: "";
      border: 9px solid #3ac5d9;
      font-size: 0;
      line-height: 0;
      height: 0;
      padding: 0;
      margin: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      position: absolute;
      bottom: -18px;
      left: 47%; }

.grid-new-container-slots {
  margin: 0 0 0 20px; }
  .grid-new-container-slots .grid-slot {
    height: 30px;
    background-color: #f0f0f0;
    border-left: 4px solid white; }

.grid-new-element {
  cursor: move;
  position: relative;
  height: 40px;
  border: 1px solid #eceff3;
  margin-bottom: 8px;
  color: #eceff3;
  overflow: hidden; }
  .grid-new-element .grid-element-title {
    color: #1e1e1e;
    padding-left: 20px;
    margin: 0px;
    padding-top: 10px; }
  .grid-new-element:hover {
    color: #b0bac2;
    border-color: #b0bac2; }

.grid-revisions {
  list-style: none;
  box-sizing: border-box;
  display: block;
  overflow-x: scroll;
  width: 80%;
  padding: 0px 0px 15px 50px;
  margin-bottom: -30px; }
  .grid-revisions button {
    margin: 0px;
    padding: 0px; }

.grid-revisions-list {
  padding: 0px 15px 0px 0px; }

.grid-revision {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 220px;
  border-right: 0px solid #f3f5f7;
  background-color: white; }
  .grid-revision:last-child {
    border-right: none; }
  .grid-revision.grid-revision-state-draft {
    background-color: #ed7b3d;
    color: white; }
    .grid-revision.grid-revision-state-draft button {
      color: white; }
      .grid-revision.grid-revision-state-draft button:hover {
        color: #3f4853; }
  .grid-revision.grid-revision-state-published {
    background-color: #46bd7b;
    color: white; }
    .grid-revision.grid-revision-state-published button {
      color: white; }
      .grid-revision.grid-revision-state-published button:hover {
        color: #3f4853; }
  .grid-revision:first-child:before {
    z-index: 90;
    content: "";
    border: 8px solid #ed7b3d;
    font-size: 0;
    line-height: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -8px;
    transition: all 0.1337s ease; }
  .grid-revision.grid-revision-state-published:first-child:before {
    border-top-color: #46bd7b; }

.grid-revision-description {
  padding: 10px; }
  .grid-revision-description p {
    margin: 0px; }
  .grid-revision-description .grid-revision-date {
    font-weight: bold; }

.grid-revision-controls {
  position: relative;
  padding-bottom: 40px; }
  .grid-revision-controls .grid-revision-button {
    height: 40px;
    position: absolute;
    bottom: 0px; }
  .grid-revision-controls .grid-revision-preview-button {
    left: 0px;
    width: 50%; }
  .grid-revision-controls .grid-revision-delete-button,
  .grid-revision-controls .grid-revision-revert-button {
    right: 0px;
    width: 50%; }

.grid-revision-state-published .grid-revision-controls .grid-revision-preview-button {
  width: 100%; }

.grid-slot-style-changer {
  text-transform: uppercase;
  position: absolute;
  top: -10px;
  left: 0px;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  z-index: 80;
  display: block;
  opacity: 0;
  transition: all 0.1337s ease;
  padding: 0 20px; }
  .grid-slot-style-changer .grid-style-changer-active {
    padding: 6px 0px 4px 0px;
    color: #b0bac2; }
  .grid-slot-style-changer .grid-choose-style {
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none; }
    .grid-slot-style-changer .grid-choose-style li {
      background-color: #b0bac2;
      border-top: 1px solid #d0d8dd; }
      .grid-slot-style-changer .grid-choose-style li:first-child {
        border-top: none; }
    .grid-slot-style-changer .grid-choose-style:before {
      content: "";
      border: 9px solid #b0bac2;
      font-size: 0;
      line-height: 0;
      height: 0;
      padding: 0;
      margin: 0;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      position: absolute;
      top: -16px;
      left: 47%; }

.grid-container:hover .grid-slot-style-changer {
  opacity: 1; }

[data-reused=false] .grid-slot-style-changer:hover {
  z-index: 81; }
  [data-reused=false] .grid-slot-style-changer:hover:hover .grid-style-changer-active {
    color: #3f4853; }
  [data-reused=false] .grid-slot-style-changer:hover .grid-choose-style {
    color: white;
    display: block;
    padding-top: 2px; }
    [data-reused=false] .grid-slot-style-changer:hover .grid-choose-style li {
      padding: 10px 20px;
      transition: all 0.1337s ease;
      margin: 0px; }
      [data-reused=false] .grid-slot-style-changer:hover .grid-choose-style li:hover {
        cursor: pointer;
        background-color: #3f4853; }

.grid-slot {
  position: relative;
  min-height: 50px;
  padding-top: 20px;
  border-left: 1px solid rgba(176, 186, 194, 0.7);
  box-sizing: border-box; }

/*************************
************ 12 er ********
************************/
/** Container C-12 **/
.grid-slot {
  padding: 30px 10px 0 10px;
  float: left;
  box-sizing: border-box; }

.grid-slot:first-child {
  border-left: none; }

.C-12 .grid-slot {
  width: 100%; }

/** Container C-6-6 **/
.C-6-6 .grid-slot {
  width: 50%; }

/** Container C-4-4-4 **/
.C-4-4-4 .grid-slot {
  width: 33.3%; }

.C-4-4-4 .grid-slot:last-child {
  width: 33.3%; }

/** Container C-8-4 **/
.C-8-4 .grid-slot:nth-child(1) {
  width: 66.6%; }

.C-8-4 .grid-slot:nth-child(2) {
  width: 33.3%; }

/** Container C-4-8 **/
.C-4-8 .grid-slot:nth-child(1) {
  width: 33.3%; }

.C-4-8 .grid-slot:nth-child(2) {
  width: 66%; }

/** Container C-3-3-3-3 **/
[data-type=C-3-3-3-3] .grid-slot {
  width: 25%; }

[data-type=C-3-3-3-3] .grid-slot:last-child {
  width: 25%; }

/** Container C-2-2-2-2-2-2 **/
.C-2-2-2-2-2-2 .grid-slot {
  width: 16.666%; }

/** Container C-0-8 and C-8-0 **/
.C-0-8 .grid-slot {
  width: 66.6%; }

.C-8-0 .grid-slot {
  width: 66.6%; }

.grid-wrapper .C-8-0,
.grid-wrapper .C-0-8 {
  width: 66.6% !important; }

.grid-wrapper .C-0-8 {
  margin-left: 33.3%; }

.grid-wrapper .C-8-0 .grid-slot,
.grid-wrapper .C-0-8 .grid-slot {
  width: 100%; }

/** Container C-0-4-4,C-4-4-0 and C-0-4-0 **/
.C-4-4-0 .grid-slot {
  width: 33%; }

.C-0-4-4 .grid-slot {
  width: 33%; }

.C-0-4-0 .grid-slot {
  width: 33.3%; }

.grid-wrapper .C-0-4-4,
.grid-wrapper .C-4-4-0 {
  width: 66.6% !important; }

.grid-wrapper .C-0-4-4 {
  margin-left: 33.3%; }

.grid-wrapper .C-4-4-0 .grid-slot,
.grid-wrapper .C-0-4-4 .grid-slot {
  width: 49%; }

.grid-wrapper .C-0-4-0 {
  width: 33.3% !important;
  margin-left: 33.3%; }

.grid-wrapper .C-0-4-0 .grid-slot {
  width: 100%; }

/** Container C-4-2-2-0 and C-2-2-4-0 **/
.C-4-2-2-0 .grid-slot,
.C-2-2-4-0 .grid-slot {
  width: 16%; }

.C-4-2-2-0 .grid-slot:first-child,
.C-2-2-4-0 .grid-slot:last-child {
  width: 33%; }

.grid-wrapper .C-4-2-2-0,
.grid-wrapper .C-2-2-4-0 {
  width: 66.6% !important; }

.grid-wrapper .C-4-2-2-0 .grid-slot,
.grid-wrapper .C-2-2-4-0 .grid-slot {
  width: 24%; }

.grid-wrapper .C-4-2-2-0 .grid-slot:first-child,
.grid-wrapper .C-2-2-4-0 .grid-slot:last-child {
  width: 49%; }

/** Container C-2-2-2-2-0 and C-0-2-2-2-2 **/
.C-2-2-2-2-0 .grid-slot {
  width: 16%; }

.C-0-2-2-2-2 .grid-slot {
  float: right; }

#grid .C-2-2-2-2-0 {
  width: 66.6% !important; }

.grid-wrapper .C-2-2-2-2-0 .grid-slot,
.grid-wrapper .C-0-2-2-2-2 .grid-slot {
  width: 24%; }

/*************************
************ 18 er ********
************************/
/** Container C-18 **/
.C-18 .grid-slot {
  width: 100%; }

.C-6-6-6 .grid-slot {
  width: 33%; }

.C-6-6-6 .grid-slot:last-child {
  width: 32%; }

.C-12-6 .grid-slot {
  width: 66%; }

.C-12-6 .grid-slot:last-child {
  width: 33%; }

.C-4-4-4-6 .grid-slot {
  width: 22%; }

.C-4-4-4-6 .grid-slot:last-child {
  width: 32%; }

.C-3-3-3-3-3-3 .grid-slot {
  width: 16%; }

.C-3-3-3-3-3-3 .grid-slot:last-child {
  float: right; }

/** Container C-12-0 **/
.C-12-0 .grid-slot {
  width: 66.6%; }

.C-12-0 {
  width: 66.6% !important; }

.C-12-0 .grid-slot {
  width: 100%; }

/** Container C-4-4-4-0 **/
.C-4-4-4-0 .grid-slot {
  width: 22%; }

.C-4-4-4-0 {
  width: 66.6% !important; }

.C-4-4-4-0 .grid-slot {
  width: 33%; }

/** Container C-6-6-0 **/
.C-6-6-0 .grid-slot {
  width: 33.3%; }

.C-6-6-0 {
  width: 66.6% !important; }

.C-6-6-0 .grid-slot {
  width: 50%; }

.C-6-6-0 .grid-slot:last-child {
  margin-right: 0px; }

/** Container C-3-3-3-3-0 **/
.C-3-3-3-3-0 .grid-slot {
  width: 16%; }

.C-3-3-3-3-0 {
  width: 66.6% !important; }

.C-3-3-3-3-0 .grid-slot {
  width: 24.5%; }

/* container sidebars */
.S-0-4 .grid-slot {
  width: 33%;
  float: right; }

.S-4-0 .grid-slot {
  width: 33%; }

.grid-tool-elements {
  position: fixed;
  box-sizing: border-box;
  right: 0px;
  width: 260px;
  padding-bottom: 80px;
  border-left: 1px solid rgba(176, 186, 194, 0.7); }

.grid-toolbar {
  transition: all 0.1337s ease;
  border-top: 4px solid #ed7b3d;
  position: relative;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 0px; }
  .grid-toolbar .grid-tool-list {
    list-style: none;
    position: fixed;
    z-index: 90;
    margin: 0px;
    width: 40px; }
    .grid-toolbar .grid-tool-list li {
      width: 135px;
      right: 90px;
      position: relative;
      margin: 0;
      transition: all 0.1337s ease; }
      .grid-toolbar .grid-tool-list li:hover {
        right: 0px; }
      .grid-toolbar .grid-tool-list li button {
        text-align: right;
        padding: 5px 48px 5px 5px;
        margin: 0px;
        font-size: 12px;
        width: 100%;
        height: 45px;
        transition: all 0.1337s ease;
        border: none; }
        .grid-toolbar .grid-tool-list li button [class^="icon-"],
        .grid-toolbar .grid-tool-list li button [class*=" icon-"] {
          position: absolute;
          right: 6px;
          top: 6px;
          font-size: 16px;
          font-family: 'Entypo'; }
        .grid-toolbar .grid-tool-list li button:hover {
          padding-right: 38px;
          color: white;
          background-color: #3f4853; }
  .grid-toolbar li.grid-tool-publish button,
  .grid-toolbar li.grid-tool-publish button:hover {
    background-color: #ed7b3d;
    color: white; }
  .grid-toolbar[data-draft=false] {
    border-top: 4px solid #46bd7b; }
    .grid-toolbar[data-draft=false] li.grid-tool-publish button,
    .grid-toolbar[data-draft=false] li.grid-tool-publish button:hover {
      background-color: #46bd7b; }

.grid-toolbar-list {
  margin: 20px 20px; }

.grid-wrapper {
  margin-right: 260px;
  box-sizing: border-box;
  padding: 5px 10px 120px 55px; }
  .grid-wrapper h1, .grid-wrapper h2, .grid-wrapper h3, .grid-wrapper h4, .grid-wrapper h5, .grid-wrapper h6, .grid-wrapper p {
    margin: 0px; }

.grid-wrapper .grid-container[data-type*=S-] {
  width: 100% !important;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border: none; }
  .grid-wrapper .grid-container[data-type*=S-] .grid-box {
    border: none;
    background-color: white; }
  .grid-wrapper .grid-container[data-type*=S-] .grid-slot {
    width: 33.3%;
    position: absolute;
    bottom: 55px;
    padding-bottom: 10px;
    left: 0px;
    padding-right: 10px;
    box-sizing: border-box; }
  .grid-wrapper .grid-container[data-type*=S-][data-type*=S-0] .grid-slot {
    left: auto;
    right: 0px;
    padding-right: 0px;
    padding-left: 10px; }

.gridmode-container .grid-tool-list,
.gridmode-container .grid-element-type[data-type=container],
.gridmode-container .grid-container-sorthandle,
.gridmode-container .grid-container-options-list [role=reuse],
.gridmode-container .grid-container-options-list [role=trash],
.gridmode-box .grid-tool-list,
.gridmode-box .grid-element-type[data-type=container],
.gridmode-box .grid-container-sorthandle,
.gridmode-box .grid-container-options-list [role=reuse],
.gridmode-box .grid-container-options-list [role=trash] {
  display: none; }

.gridmode-box .grid-toolbar,
.gridmode-box .grid-container-controls,
.gridmode-box .grid-box-delete {
  display: none; }
.gridmode-box .grid-box-edit {
  bottom: 0px;
  width: 100%; }

/**
**/

/*# sourceMappingURL=grid-backend.css.map */
