/**
 * @author Stephan Kroppenstedt <stephan.kroppenstedt@palasthotel.de>
 * @modified 26.05.2017
 */


.grid-adminbar {
  display: flex;

  background-color: $color__menu--background;
  border: 1px solid black;

  height: 60px;
}