/**
 * @author Stephan Kroppenstedt <stephan.kroppenstedt@palasthotel.de>
 * @modified 26.05.2017
 */

.grid-box {
  background-color: $color__box--background;
  color: $color__box--foreground;

  box-sizing: border-box;

  border: 1px solid $color__box--border;
}


.grid-box__drop {

}


.grid-box__drop--area {
  height: 30px;
  background-color: $color__slot--background;
  color: $color__slot--foreground;
}