/**
 * @author Stephan Kroppenstedt <stephan.kroppenstedt@palasthotel.de>
 * @modified 26.05.2017
 */


.grid-container {
  //border: 1px dotted rgba( 33, 33, 33, 0.8 );

  margin-left: 10px;
  margin-right: 10px;

  background-color: $color__container--background;
  color: $color__container--foreground;

  transition: all .3s;
  &.is-deleted {
    transform: scale(0);
  }

}


.grid-container__drop {
}

.grid-container__drop--area {
  height: 20px;
  //background-color: white;
  border: 10px solid $color__app--background;
}





.grid-container__controls {
  display: flex;
}

.grid-container__options {
  margin-left: auto;
  position: relative;
}

.grid-container__options--list {
  display: inline-block;
}

.grid-container__options--list-item {
  display: inline-block;
  padding: 5px;

  cursor: pointer;

}


.grid-container__title {
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
}



.grid-container-editor__menu--item {
  display: inline;
  button {
    border-radius: 3px;
    border: none;
    background-color: limegreen;
  }
}
