/**
 * @author Stephan Kroppenstedt <stephan.kroppenstedt@palasthotel.de>
 * @modified 26.05.2017
 */


.grid-container-preview {
  display: flex;
  padding-bottom: 10px;
}

.grid-container-preview__slot {
  height: 35px;
  background-color: white;

  box-shadow: 0 0 0 4px $color__app--background;

  .grid-container-preview:hover & {
    box-shadow: 0 0 0 4px $color__container-preview--highlight;
    cursor: pointer;
  }
}

@for $i from 1 through 20 {

  .grid-slot__width--#{$i} {
    flex: $i 0 0;
  }
}


