/**
 * @author Stephan Kroppenstedt <stephan.kroppenstedt@palasthotel.de>
 * @modified 26.05.2017
 */


.grid-logo {
  width: 100px;
  height: 60px;

  padding: 15px;
  box-sizing: border-box;


  transition: all .3s ease-in-out;

  background-color: $color__status--unpublished;

  .is-draft & {
    background-color: $color__status--unpublished;
  }

  .is-success & {
    background-color: $color__status--success;
  }

  .is-published & {
    background-color: $color__status--published;
  }

  .is-error & {
    background-color: $color__status--error;

  }
}