/**
 * @author Stephan Kroppenstedt <stephan.kroppenstedt@palasthotel.de>
 * @modified 26.05.2017
 */


.grid-menu {
  margin: 0;
  padding: 0;



}


.grid-menu__item {
  display: inline-block;
  line-height: 60px;
  font-size: 14px;
}

.grid-menu__button {
  border: none;
  background-color: $color__menu--background;


  padding-bottom: 17px;
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 10px;
  margin-right: 10px;

  &:hover, &:active, &:focus {
    outline: none;

    border-bottom: 5px solid black;



  }

}




/**

 */

grid-menu__item--has-childmenu
grid-menu__button

grid-childmenu

/* Dropdown Button */
.grid-menu__item--has-childmenu  .grid-menu__button {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.grid-menu__item--has-childmenu {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.grid-childmenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.grid-childmenu .grid-menu__item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.grid-menu__item--has-childmenu:hover .grid-childmenu {
  display: block;
}



.grid-menu__item--has-childmenu > .grid-menu__button {
  &:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;

    background-image: url( "../svg/ic_expand_more_black_24px.svg" );
    background-repeat: no-repeat;
    background-size: 100%;
    transform: translateY(2px);
  }
}