/**
 * @author Stephan Kroppenstedt <stephan.kroppenstedt@palasthotel.de>
 * @modified 26.05.2017
 */


.grid-notifications {
  width: 50px;
  height: 60px;
  margin-left: auto;
  background-color: red;
  position: relative;
}


.grid-notifications__list {
  position: absolute;
  right: 0;
  top: 60px;
  width: 30vw;
  margin: 0;
  padding: 0;
}


.grid-notification__item {
  padding: 5px 10px;
  margin-bottom: 5px;
  background-color: $color__status--unpublished;

  display: flex;
  justify-content: space-between;

  &.is-hidden {
    @include visuallyhidden;
  }
}


.grid-notification__button {
  border-radius: 50%;
  background-color: rgba( 255, 255, 255, 0.9 );
  color: $color__status--error;
  border: none;

}


.grid-notification__icon {
  align-self: center;
}


.grid-notification__item--is-success {
  background-color: $color__status--success;
}

.grid-notification__item--is-published {
  background-color: $color__status--published;
}

.grid-notification__item--is-error {
  background-color: $color__status--error;

}