/**
 * @author Stephan Kroppenstedt <stephan.kroppenstedt@palasthotel.de>
 * @modified 26.05.2017
 */


.grid-slots {
  display: flex;
}

.grid-slot {
  box-sizing: border-box;

  border-left: 0.5vw solid $color__slot--border;
  border-right: 0.5vw solid $color__slot--border;

  background-color: $color__slot--background;
}