/****************
 * container 
 ****************/


.grid-container-reused-layer{
	cursor: move;
	position: absolute;
	z-index: $idx-container;
	top: 5px;
	left: 5px;
	bottom: 5px;
	right: 5px;
	background-color: $color-container-reused-bg;
	z-index: $idx-container-reused;
	.grid-container-reused-label{
		position: absolute;
		top: -3px;
		left: 50%;
		color: white;
		text-transform: uppercase;
	}
}


.grid-container-controls{
	height: 40px;
}
.grid-container-title{
	position: absolute;
	top: 9px;
	left: 20px;
	font-weight: bold;
	font-size: 90%;
}
.grid-container-sorthandle{
	position: absolute;
	top: 5px;
	left: -4px;
	width: 100%;
	height: 40px;
	cursor: move;
}
.grid-container-sort-placeholder{
	height: 20px;
	border: 2px dashed $color-container-sort-placeholder-border;
}
.grid-container-options{
	position: absolute;
	top: 5px;
	right: 0px;
	height: 40px;
	z-index: $idx-container-options;
	.grid-container-options-icon{
		text-transform: uppercase;
		font-weight: bold;
	}
	.grid-container-options-list{
		position: absolute;
		list-style: none;
		background-color: $color-container-options-list-bg;
		color: $color-container-options-list;
		width:110px;
		right: 0px;
		top: 26px;
		.grid-container-options-list-item{
			cursor:pointer;
			padding: 5px;
			text-transform: uppercase;
			font-weight: bold;
		}
		&:before{
			content:"";
			border: 8px solid $color-slot-style-changer-styles-bg;
			font-size:0;line-height:0;height:0;padding:0;margin:0;
			border-top-color:    transparent;
			border-right-color:  transparent;
			border-left-color:   transparent;
			position:absolute;
			top:-16px;
			left:47%;
		}
	}
}

.grid-container-content{
	background-color: $color-container-bg;
	position: relative;
}

/**********************************
 * container hover states
 **********************************/

// controls background hover
.grid-container{
	.grid-container-controls{
		background-color: transparent;
	}
	&:hover .grid-container-controls{
		background-color: $color-container-bg;
	}
}

// text color for hover states of controls
.grid-container-title,
.grid-container-sorthandle,
.grid-container-options-icon{
	color: $color-container-controls-nohover;
	transition: $transitions-slow;
}
.grid-container:hover{
	.grid-container-title,
	.grid-container-sorthandle,
	.grid-container-options-icon{
		color: $color-container-controls;
		&:hover{
			color: $color-container-controls-hover;
		}
	}

}

// options list hover
.grid-container-options{
	.grid-container-options-list{
		display: none;
	}
	&:hover .grid-container-options-list{
		display: block;
	}
}

// options list item hover
.grid-container-options-list-item:hover{
	background-color: $color-container-options-list-bg-hover;
	&[role=trash]{
		background-color: $color-warning;
	}
	&[role=edit]{
		background-color: $color-edit;
	}
}


/*********************
* box
*******************/
.grid-box{
	position: relative;
}
.grid-box-content{
	font-size: 11px;
}
.grid-box-controls{
	cursor: move;
	color: white;
	height: 0px;
	overflow: hidden;
	opacity: 0;
	position: absolute;
	left: 0px;
	right:0px;
	bottom: 10px;
	top: 10px;
	background-color: $color-box-controls-bg;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-transition: opacity .2s ease;
	   -moz-transition: opacity .2s ease;
	    -ms-transition: opacity .2s ease;
	     -o-transition: opacity .2s ease;
	        transition: opacity .2s ease;
	.grid-box-control-button{
		cursor: pointer;
		position: absolute;
		top: 0px;
		bottom: 0px;
		right: 0px;
		width: 40px;
		max-width: 250px;
		transition: $transitions;
		&:hover{
			width: 100%;
		}
		.grid-box-control-text{
			opacity: 0;
			transition: $transitions;
		}
		&:hover .grid-box-control-text{
			opacity: 1;
		}
	}
	.grid-box-control-wrapper{
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		margin-top: -13px;
		white-space: nowrap;
		overflow: hidden;
		padding-left: 8px;
	}

	.grid-box-edit{
		background-color: $color-edit;
		top: 0px;
		bottom: 50%;
	}
	.grid-box-delete{
		top: 50%;
		bottom: 0px;
		background-color: $color-warning;
	}
	.grid-box-drag{
		position: absolute;
		top: 35%;
		left: 10px;
	}
}
.grid-box:hover .grid-box-controls{
	height: auto;
	overflow: visible;
	display: block;
	opacity:1;
}
.grid-box-sort-placeholder{
	border: 2px dashed $color-box-sort-placeholder-border;
}

