


// Grid state display
.grid-tool-state button,
.grid-tool-state button:hover{
	cursor: default;
	color: $color-draft;
	&[data-draft=false]{
		color: $color-ok;
	}
}

// elements in grid-container
.grid-container-content{
	background-color: $color-container-bg;
	position: relative;
}
.grid-container-reused-layer{
	cursor: move;
	position: absolute;
	z-index: $idx-container;
	top: 5px;
	left: 5px;
	bottom: 5px;
	right: 5px;
	background-color: $color-container-reused-bg;
	z-index: $idx-container-reused;
	.grid-container-reused-label{
		position: absolute;
		top: -3px;
		left: 50%;
		color: white;
		text-transform: uppercase;
	}
}
.grid-container .grid-container-controls{
	height: 40px;
	background-color: transparent;
	opacity: 0.3;
	transition: $transitions-slow;
}
.grid-container:hover .grid-container-controls{
	background-color: $color-container-bg;
	opacity: 1;
}
.grid-container-sorthandle{
	position: absolute;
	top: 5px;
	left: 0px;
	width: 40px;
	height: 40px;
	text-align: center;
	cursor: move;
	color: $color-container-options;
	transition: $transitions;
	&:hover{
		color: $color-container-options-hover;
	}
}
.grid-container-sort-placeholder{
	height: 20px;
	border: 2px dashed $color-container-sort-placeholder-border;
}
.grid-container-options{
	position: absolute;
	top: 5px;
	right: 0px;
	display:block;
	height: 40px;
	z-index: $idx-container;
	
	.grid-container-options-icon{
		color: $color-container-options;
		text-transform: uppercase;
		font-weight: bold;
		transition: $transitions;
	}
	&:hover .grid-container-options-icon{
		color: $color-container-options-hover;
	}
	.grid-container-options-list{
		position: absolute;
		display:none;
		list-style: none;
		background-color: $color-container-options-list-bg;
		color: $color-container-options-list;
		width:110px;
		right: 0px;
		top: 26px;
		.grid-container-options-list-item{
			cursor:pointer;
			padding: 5px;
			text-transform: uppercase;
			font-weight: bold;
			&:hover{
				background-color: $color-container-options-list-bg-hover;
			}
		}
		&:before{
			content:"";
			border: 8px solid $color-slot-style-changer-styles-bg;
			font-size:0;line-height:0;height:0;padding:0;margin:0;
			border-top-color:    transparent;
			border-right-color:  transparent;
			border-left-color:   transparent;
			position:absolute;
			top:-16px;
			left:47%;
		}
	}
	&:hover .grid-container-options-list{
		display:block;
		
	}
}

//////////////////////////////
// box
// /////////////////
.grid-box{
	position: relative;
}
.grid-box-content{
	font-size: 11px;
}
.grid-box-controls{
	cursor: move;
	color: white;
	height: 0px;
	overflow: hidden;
	opacity: 0;
	position: absolute;
	left: 0px;
	right:0px;
	bottom: 10px;
	top: 10px;
	background-color: $color-box-controls-bg;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-transition: opacity .2s ease;
	   -moz-transition: opacity .2s ease;
	    -ms-transition: opacity .2s ease;
	     -o-transition: opacity .2s ease;
	        transition: opacity .2s ease;
	.grid-box-control-button{
		cursor: pointer;
		position: absolute;
		top: 0px;
		bottom: 0px;
		right: 0px;
		width: 40px;
		transition: $transitions;
		&:hover{
			width: 100%;
		}
		.grid-box-control-text{
			opacity: 0;
			transition: $transitions;
		}
		&:hover .grid-box-control-text{
			opacity: 1;
		}
	}
	.grid-box-control-wrapper{
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		margin-top: -13px;
		white-space: nowrap;
		overflow: hidden;
		padding-left: 8px;
	}

	.grid-box-edit{
		background-color: $color-edit;
		top: 0px;
		bottom: 50%;
	}
	.grid-box-delete{
		top: 50%;
		bottom: 0px;
		background-color: $color-warning;
	}
	.grid-box-drag{
		position: absolute;
		top: 35%;
		left: 10px;
	}
}
.grid-box:hover .grid-box-controls{
	height: auto;
	overflow: visible;
	display: block;
	opacity:1;
}
.grid-box-sort-placeholder{
	border: 2px dashed $color-box-sort-placeholder-border;
}

