.grid-toolbar{
	position:relative;
	background-color: $color-toolbar-bg;
	box-sizing: border-box;
	width: $dim-toolbar-width;
	height: $dim-toolbar-height;
	
	.grid-tool-list {
		list-style: none;
		position: fixed;
		z-index: $idx-max;
		margin: 0px;
		width: 40px;
		li{
			width: 135px;
			right:90px;
			position: relative;
			transition: $transitions;
			&:hover{
				right:0px;
			}
			button{
				text-align: right;
				padding: 5px 48px 5px 5px;
				margin: 0px;
				font-size: 12px;
				width: 100%;
				height: 45px;
				transition: $transitions;
				background-color: $color-grid-bg;
				[class^="icon-"], 
				[class*=" icon-"]{
					position: absolute;
					right: 6px;
					top: 6px;
					font-size: 16px;
					font-family: 'Entypo';
				}
				&:hover{
					padding-right: 38px;
					color: white;
					background-color: $color-link;
				}
			}
		}
		
	}
}

.grid-all-wrapper{
	
}
.grid-toolbar-list{
	margin: 20px 20px;
}

// Grid state display

.grid-toolbar{
	transition: $transitions;
	border-top: 4px solid $color-draft;
	li.grid-tool-publish button,
	li.grid-tool-publish button:hover{
		background-color: $color-draft;
		color: white;
	}
	// .grid-tool-state {
	// 	width: 70px;

	// 	span{
	// 		text-transform: uppercase;
	// 		font-weight: bold;
	// 		color: $color-draft;
	// 	}
	// }
	&[data-draft=false]{
		border-top: 4px solid $color-ok;
		// .grid-tool-state span{
		// 	color: $color-ok;
		// }
		li.grid-tool-publish button,
		li.grid-tool-publish button:hover{
			background-color: $color-ok;
		}
	}
	
}

/* ***************************
* Container and Box Toolbar
* ***************************/
.grid-tool-elements{
	position: fixed;
	//top: 0px;
	box-sizing: border-box;
	right: $dim-tool-elements-offset;
	width: $dim-tool-elements-width;
	padding-bottom: $dim-tool-element-trash-height;
}
.grid-element-type-select{
	.grid-element-type{
		text-align: center;
		box-sizing: border-box;
		display: inline-block;
		text-transform: uppercase;
		width: 50%;
		font-weight: bold;
		height: $dim-tool-element-tab-height;
		padding-top: 15px;
		transition: $transition-link;
		position:relative;
		background-color: $color-tool-elementtype;
		&:hover,
		&.active{
			cursor:pointer;
			color: white;
			background-color: $color-tool-elementtype-active;
			&.active:after{
				z-index: $idx-toolbar;
				content:"";
				border: 9px solid $color-tool-elementtype-active;
				font-size:0;line-height:0;height:0;padding:0;margin:0;
				border-bottom-color:    transparent;
				border-right-color:  transparent;
				border-left-color:   transparent;
				position:absolute;
				bottom:-18px;
				left:47%;
			}
		}
	}
}

.grid-element-type-content{
	min-height: 100px;
	padding: 15px 10px;
	overflow-y: scroll;
	background-color: $color-tool-element-content-bg;
	.grid-element-container-list,
	.grid-element-box-list{
		margin: 0px;
	}
	.grid-container-type,
	.grid-box-type{
		position: relative;
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer;
		padding: 20px;
		.icon-arrow{
			z-index: $idx-toolbar;
			position:absolute;
			top:16px;
			left:-4px;
			font-size: 14px;
			transition: $transitions-slow;
		}
		&.active{
			.icon-arrow{
				transform: rotate(90deg);
			}
			// &:before{
			// 	transform: rotate(90deg);
			// 	top: 20px;
			// 	left:5px;
			// }
		}
	}
}
// new Element -> container or box
// Design thats the same for both types belongs here
.grid-new-element{
	cursor: move;
	position: relative;
	height: 40px;
	border: 1px solid $color-draggable-border;
	margin-bottom: 8px;
	color: $color-draggable-border;
	overflow: hidden;
	.grid-element-title{
		color: $color-text;
		padding-left: 20px;
		margin: 0px;
		padding-top: 10px; 
	}
	&:hover{
		color: $color-draggable-border-hover;
		border-color: $color-draggable-border-hover;
	}

}

// new containers
.grid-container-type-content{
	margin:0px;
	border-bottom: 1px solid $color-grid-bg;
}
.grid-new-container-slots{
	margin: 5px 5px 5px 20px;
	.slot{
		height: 30px;
		background-color: $color-tool-element-container-slot-bg;

	}
}
.grid-element-drag-icon{
	position: absolute;
	top: 4px;
	left: -6px;
	font-size: 120%;
}
.container-drop-area-wrapper{
	position:relative;
	.container-drop-area{
		box-sizing:border-box;
		position: absolute;
		height: 40px;
		top: -5px;
		width: 100%;
		z-index: $idx-container;
		transition: $transitions-slow;
		background-color: lighten($color-edit, 20%);
		&.hover{
			background-color: $color-edit;
		}
	}
}
// new boxes
.grid-box-type-content{
	margin:0px;
	border-bottom: 1px solid $color-grid-bg;
}
.grid-box-type{
	& + dl .grid-box-type-search{
		display:none;
	}
	&.active + dl .grid-box-type-search{
		display:block;
	}
}
.grid-box-drop-area-wrapper{
	position:relative;
	.grid-box-drop-area{
		box-sizing:border-box;
		position: absolute;
		height: 20px;
		top: -12px;
		// border: 2px dashed $color-drop-area;
		// box-shadow: inset 0 0 7px lighten($color-edit, 10%);
		
		width: 100%;
		z-index: $idx-container;
		transition: $transitions-slow;
		background-color: lighten($color-edit, 40%);
		&.hover{
			background-color: $color-edit;

		}
	}
}


.dragger-helper{
	display:block;
	height:50px;
	width:38px;
	max-width: 38px;
	max-height: 50px;
	min-width: 38px;
	min-height: 50px;
	border:1px solid #ccc;
	background-color:#fff;
	z-index: 1000;
	box-shadow: 4px 4px 0 #fff,
				5px 5px 0 #ccc,
				9px 9px 0 #fff,
				10px 10px 0 #ccc,
				14px 14px 0 #fff;
}


.grid-element-trash{
	position: absolute;
	bottom:0px;
	left: 0px;
	right: 0px;
	text-transform: uppercase;
	min-height: $dim-tool-element-trash-height;
	background-color: $color-tool-element-trash-bg;
	color: white;
	box-sizing: border-box;
	padding: 10px 10px 0 10px;
	vertical-align: baseline; 
	& > div{
		padding-top: 25px;
		padding-bottom: 25px;
		border: 2px dashed white;
		border-bottom: none;
		text-align: center;
	}
}
