.grid-toolbar{
	position:relative;
	background-color: $color-toolbar-bg;
	box-sizing: border-box;
	width: $dim-toolbar-width;
	height: $dim-toolbar-height;
	padding-top: 5px;
	.grid-tool-list li{
		display:inline;
	}
}

.grid-tool-list .grid-revisions{
	display:none;
}

/* ***************************
* Container and Box Toolbar
* ***************************/
.grid-tool-elements{
	position: absolute;
	top: 0px;
	box-sizing: border-box;
	right: $dim-tool-elements-offset;
	width: $dim-tool-elements-width;
	padding-bottom: $dim-tool-element-trash-height;
}
.grid-element-type-select{
	.grid-element-type{
		text-align: center;
		box-sizing: border-box;
		display: inline-block;
		width: 50%;
		font-weight: bold;
		min-height: $dim-tool-element-tab-height;
		padding-top: 20px;
		transition: $transition-link;
		position:relative;
		&:hover,
		&.active{
			cursor:pointer;
			color: white;
			background-color: $color-tool-elementtype-active;
			&.active:after{
				z-index: $idx-toolbar;
				content:"";
				border: 9px solid $color-tool-elementtype-active;
				font-size:0;line-height:0;height:0;padding:0;margin:0;
				border-bottom-color:    transparent;
				border-right-color:  transparent;
				border-left-color:   transparent;
				position:absolute;
				bottom:-18px;
				left:47%;
			}
		}
	}
}

.grid-element-type-content{
	min-height: 100px;
	padding: 15px 10px;
	overflow-y: scroll;
	background-color: $color-tool-element-content-bg;
	.grid-element-container-list,
	.grid-element-box-list{
		margin: 0px;
	}
	.grid-container-type,
	.grid-box-type{
		position: relative;
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer;
		padding: 20px;
		&:before{
			z-index: $idx-toolbar;
			content:"";
			border: 6px solid black;
			font-size:0;line-height:0;height:0;padding:0;margin:0;
			border-bottom-color:    transparent;
			border-right-color:  transparent;
			border-top-color:   transparent;
			position:absolute;
			top:24px;
			left:6px;
			transition: $transitions;
		}
		&.active{
			&:before{
				transform: rotate(90deg);
				top: 26px;
				left:4px;
			}
		}
	}
}
// new containers
.grid-container-type-content{
	margin:0px;
	border-bottom: 2px solid $color-container-type-content-border;
	.new-container{
		cursor: move;
		position: relative;
		height: 40px;
		border: 1px solid $color-draggable-border;
		margin-bottom: 8px;
		color: $color-draggable-border;
		.grid-element-drag-icon{
			content:'\23f6';
			transform: rotate(90deg);
			position: absolute;
			top: 12px;
			left: 5px;
			font-size: 250%;
		}
		&:hover{
			color: $color-draggable-border-hover;
			border-color: $color-draggable-border-hover;
		}
		.grid-reusabe-container-title{
			color: $color-text;
			padding-left: 20px;
		}
	}
}
.container-drop-area-wrapper{
	position:relative;
	.container-drop-area{
		box-sizing:border-box;
		position: absolute;
		height: 20px;
		top: -22px;
		border: 2px dashed $color-drop-area;
		width: 100%;
		z-index: $idx-container;
		transition: $transitions-slow;
		&.hover{
			height: 24px;
			top: -24px;
		}
	}
}
// new boxes
.grid-box-type-content{
	margin:0px;
	border-bottom: 2px solid $color-container-type-content-border;
}
.grid-box-type{
	& + dl .grid-box-type-search{
		display:none;
	}
	&.active + dl .grid-box-type-search{
		display:block;
	}
}


.dragger-helper{
	display:block;
	height:50px;
	width:38px;
	max-width: 38px;
	max-height: 50px;
	min-width: 38px;
	min-height: 50px;
	border:1px solid #ccc;
	background-color:#fff;
	z-index: 1000;
	box-shadow: 4px 4px 0 #fff,
				5px 5px 0 #ccc,
				9px 9px 0 #fff,
				10px 10px 0 #ccc,
				14px 14px 0 #fff;
}


.grid-element-trash{
	position: absolute;
	bottom:0px;
	left: 0px;
	right: 0px;
	min-height: $dim-tool-element-trash-height;
	background-color: $color-tool-element-trash-bg;
	color: white;
	box-sizing: border-box;
	padding: 10px 10px 0 10px;
	vertical-align: baseline; 
	& > div{
		padding-top: 25px;
		padding-bottom: 25px;
		border: 2px dashed white;
		border-bottom: none;
		text-align: center;
	}
}