// container and box editor

.grid-editor-wrapper{	
}

.grid-editor-controls{
	box-sizing: border-box;
	position: fixed;
	bottom: 0px;
	margin: 0px 10%;
	background-color: white;
	padding: 15px;
	z-index: $idx-max;
	width: 80%;
	button{
		background-color: black;
		color:white;
		padding:10px;
	}
	.grid-editor-save-button{
		background-color: $color-editor-save-bg;
		color: $color-editor-save;
	}
	.grid-editor-cancel-button{
		background-color: $color-editor-cancel-bg;
		color: $color-editor-cancel;
	}
	.grid-editor-reuse-button{
		background-color: $color-editor-reuse-bg;
		color: $color-editor-reuse;
		float: right;
	}
}

.grid-editor-content{
	box-sizing: border-box;
	padding: 15px;
	margin: 0px 10%;
	padding-bottom: 100px;
	fieldset{
		margin: 0px 0px 15px 0px;
		border: none;
		padding:0px;
	}
	legend{
		cursor: pointer;
	}
	input,
	textarea{
		border: none;
	}
	input{
		font-size: 16px;
		height:36px;
	}

}
