
$color-grid-bg: rgba(243,245,247,1);
$color-container-bg: white;
$color-slot-style-changer-bg: rgba(236,239,243,1);

$color-ok: rgba(70,189,123,1);
$color-warning: rgba(237,80,50,1);
$color-edit: rgba(58,197,217,1);

$color-link: rgba(63,72,83,1);
$color-link-hover: black;

$transition-link: all .1337s ease;