
// container dimensions
.grid-container{
	
	margin: 0px 0px 10px 0px;
	.grid-container-content{
		padding: 5px 5px 10px 5px;
		position: relative;
	}
	.grid-container-controls{
		position: relative;
	}
}

