
// slot dimensions
.grid-slot {
	position: relative;
	min-height: 50px;
	padding-top: 20px;

	border-left: 1px solid $color-container-border;
	box-sizing: border-box;

}

/*************************
************ 12 er ********
************************/
/** Container C-12 **/


.grid-slot {
	padding: 30px 7px 0 7px;
	padding: 0 7px;
	// float: left;
	box-sizing: border-box;
	//height: 100%;
	display: table-cell;
}



.grid-slot:first-child {
	border-left: none;
}



.C-12{
	
}
.C-12 .grid-slot{
	width:100%;
}

/** Container C-6-6 **/
.C-6-6{
	
}
.C-6-6 .grid-slot{
	width:50%;
	//float:right;
}
.C-6-6 .grid-slot:first-child{
	//margin-right: 1%;
	//float:left;
}


/** Container C-4-4-4 **/
.C-4-4-4{
}
.C-4-4-4 .grid-slot{
	width:33.3%;
	//float:left;
	//margin-right:1%;
}
.C-4-4-4 .grid-slot:last-child{
	width:33.3%;
}

/** Container C-8-4 **/
.C-8-4{
}
.C-8-4 .grid-slot:nth-child(1){
	width:66.6%;	
}
.C-8-4 .grid-slot:nth-child(2){
	width:33.3%;
}

/** Container C-4-8 **/
.C-4-8{
	
}
.C-4-8 .grid-slot:nth-child(1){
	width:33.3%;
}
.C-4-8 .grid-slot:nth-child(2){
	width:66%;
}

/** Container C-3-3-3-3 **/
[data-type=C-3-3-3-3] .grid-slot{
	width:25%;
}
[data-type=C-3-3-3-3] .grid-slot:last-child{
	width:25%;
}

/** Container C-2-2-2-2-2-2 **/
.C-2-2-2-2-2-2{
	
}
.C-2-2-2-2-2-2 .grid-slot{
	width:16.666%;
}
.C-2-2-2-2-2-2 .grid-slot:last-child{

}

/** Container C-0-8 and C-8-0 **/
.C-0-8 .grid-slot{
	width:66.6%;
}
.C-8-0 .grid-slot{
	width:66.6%;
}
.grid-wrapper .C-8-0,
.grid-wrapper .C-0-8{
	width: 66.6% !important;
}
.grid-wrapper .C-0-8{
	margin-left: 33.3%;
}
.grid-wrapper .C-8-0 .grid-slot,
.grid-wrapper .C-0-8 .grid-slot{
	width: 100%;
}

/** Container C-0-4-4,C-4-4-0 and C-0-4-0 **/
.C-4-4-0 .grid-slot{
	width:33%;
}
.C-4-4-0 .grid-slot:last-child{
}
.C-0-4-4 .grid-slot{
	width:33%;
}
.C-0-4-0 .grid-slot{
	width: 33.3%;
}
.grid-wrapper .C-0-4-4,
.grid-wrapper .C-4-4-0{
	width: 66.6% !important;
}
.grid-wrapper .C-0-4-4{
	margin-left: 33.3%;
}
.grid-wrapper .C-4-4-0 .grid-slot,
.grid-wrapper .C-0-4-4 .grid-slot{
	width: 49%;
}
.grid-wrapper .C-4-4-0 .grid-slot:last-child{
}
.grid-wrapper .C-0-4-0{
	width: 33.3% !important;
	margin-left: 33.3%;
}
.grid-wrapper .C-0-4-0 .grid-slot{
	width: 100%;
}

/** Container C-4-2-2-0 and C-2-2-4-0 **/
.C-4-2-2-0 .grid-slot,
.C-2-2-4-0 .grid-slot{
	width: 16%;
}
.C-4-2-2-0 .grid-slot:first-child,
.C-2-2-4-0 .grid-slot:last-child{
	width: 33%;
}
.grid-wrapper .C-4-2-2-0,
.grid-wrapper .C-2-2-4-0{
	width: 66.6% !important;
}
.grid-wrapper .C-4-2-2-0 .grid-slot,
.grid-wrapper .C-2-2-4-0 .grid-slot{
	width: 24%;
	//margin-right: 1%;
}
.grid-wrapper .C-4-2-2-0 .grid-slot:first-child,
.grid-wrapper .C-2-2-4-0 .grid-slot:last-child{
	width:49%;
}


/** Container C-2-2-2-2-0 and C-0-2-2-2-2 **/
.C-2-2-2-2-0 .grid-slot{
	width:16%;
}
.C-0-2-2-2-2 .grid-slot{
	float:right;
}
#grid .C-2-2-2-2-0{
	width: 66.6% !important;
}
.grid-wrapper .C-2-2-2-2-0 .grid-slot,
.grid-wrapper .C-0-2-2-2-2 .grid-slot{
	width: 24%;
}


/*************************
************ 18 er ********
************************/
/** Container C-18 **/
.C-18 .grid-slot{
	width: 100%;
}
.C-6-6-6{
}
.C-6-6-6 .grid-slot{
	width:33%;
}
.C-6-6-6 .grid-slot:last-child{
	width:32%;
}
.C-12-6 .grid-slot{
	width: 66%;
}
.C-12-6 .grid-slot:last-child{
	width: 33%;
}
.C-4-4-4-6 .grid-slot{
	width: 22%;
}
.C-4-4-4-6 .grid-slot:last-child{
	width:32%;
}
.C-3-3-3-3-3-3 .grid-slot{
	width: 16%;
}
.C-3-3-3-3-3-3 .grid-slot:last-child{
	float:right;
}
/** Container C-12-0 **/
.C-12-0 .grid-slot{
	width:66.6%;
}
.C-12-0{
	width: 66.6% !important;
}
.C-12-0 .grid-slot{
	width: 100%;
}
/** Container C-4-4-4-0 **/
.C-4-4-4-0 .grid-slot{
	width:22%;
}
.C-4-4-4-0{
	width: 66.6% !important;
}
.C-4-4-4-0 .grid-slot{
	width: 33%;
}

.C-4-4-4-0 .grid-slot:last-child{
}
/** Container C-6-6-0 **/
.C-6-6-0 .grid-slot{
	width:33.3%;

}
.C-6-6-0{
	width: 66.6% !important;
}
.C-6-6-0 .grid-slot{
	width: 50%;
}
.C-6-6-0 .grid-slot:last-child{
	margin-right: 0px;
}
/** Container C-3-3-3-3-0 **/
.C-3-3-3-3-0 .grid-slot{
	width:16%;
}
.C-3-3-3-3-0{
	width: 66.6% !important;
}
.C-3-3-3-3-0 .grid-slot{
	width: 24.5%;
}

.C-3-3-3-3-0 .grid-slot:last-child{
}

/* container sidebars */
.S-0-4 .grid-slot{
	width: 33%;
	float: right;
}
.S-4-0 .grid-slot{
	width: 33%;
}

.SC-4 .grid-slot{
	width: 100%;
}


