// Grid state display

.grid-toolbar {
	@include transition();
	border-top: 4px solid $color-draft;

	position:relative;
	background-color: $color-toolbar-bg;
	box-sizing: border-box;
	width: $dim-toolbar-width;
	height: $dim-toolbar-height;

	.grid-tool-list {
		list-style: none;
		position: fixed;
		z-index: $idx-toolbar;
		margin: 0;
		width: 40px;
		li {
			width: 135px;
			right:90px;
			position: relative;
			margin: 0;
			@include transition();
			&:hover {
				right: 0;
			}
			button {
				text-align: right;
				padding: 5px 48px 5px 5px;
				margin: 0;
				font-size: 12px;
				width: 100%;
				height: 45px;
				@include transition();
				border: none;
				background-color: transparent;

				[class^="icon-"],
				[class*=" icon-"]{
					position: absolute;
					right: 11px;
					top: 13px;
					font-size: 16px;
					font-family: 'Entypo';
				}
				&:hover{
					padding-right: 38px;
					color: white;
					background-color: $color-link;
				}
			}
			&.grid-tool-authors button{
				.indicator-authors-count{
					position: absolute;
					right: 18px;
					top: 10px;
					font-size: 16px;
				}
			}
		}
	}

	li.grid-tool-publish button,
	li.grid-tool-publish button:hover{
		background-color: $color-draft;
		color: white;
	}

	&[data-draft=false] {
		border-top: 4px solid $color-ok;

		li.grid-tool-publish button,
		li.grid-tool-publish button:hover{
			background-color: $color-ok;
		}
	}

	// async lock request
	&.async-request-lock{
		.grid-tool-authors{

			animation-name:bounce-x;
			animation-duration: 1.3s;
			animation-iteration-count: infinite;
			&:hover{
				animation: 0;
			}
			button{
				background-color: darken($color-grid-bg,10%);
			}
		}
	}
}

.grid-toolbar-list{
	margin: 20px 20px;
}
