
// new Element -> container or box
// Design thats the same for both types belongs here
.grid-new-element {
	cursor: move;
	position: relative;
	height: 40px;
	border: 1px solid $color-draggable-border;
	margin-bottom: 8px;
	color: $color-draggable-border;
	overflow: hidden;

	.grid-element-title {
		color: $color-text;
		padding-left: 20px;
		margin: 0px;
		padding-top: 10px; 
	}

	&:hover {
		color: $color-draggable-border-hover;
		border-color: $color-draggable-border-hover;
	}
}