// container and box editor

.grid-editor-wrapper{
	@extend .grid-all-wrapper;	
}

.grid-editor-controls{
	box-sizing: border-box;
	position: fixed;
	bottom: 0px;
	margin: 0px 10%;
	background-color: white;
	padding: 15px;
	z-index: $idx-max;
	width: 80%;


	button{
		background-color: black;
		color:white;
		padding:10px;
	}
	.grid-editor-save-button{
		background-color: $color-editor-save-bg;
		color: $color-editor-save;
	}
	.grid-editor-cancel-button{
		background-color: $color-editor-cancel-bg;
		color: $color-editor-cancel;
	}
	.grid-editor-reuse-button{
		background-color: $color-editor-reuse-bg;
		color: $color-editor-reuse;
		float: right;
	}
}

.grid-editor-content{
	box-sizing: border-box;
	padding: 15px;
	margin: 20px 10%;
	padding-bottom: 100px;

	background-color: white;

	fieldset{
		
		border: none;
		border-top: 1px solid $color-input-border;
		padding:0px;


	}

	legend{
		
		margin: 0 -15px 0px -15px;
		padding: 15px 0 15px 30px;
		width: 100%;

		cursor: pointer;
		position: relative;
		font-size: 14px; 
		font-weight: bold;

		border-top: 1px solid $color-input-border;

		// padding: 10px 0;

		.icon-arrow{
			position: absolute;
			left: 5px;
			top: 10px;
			@include transition();
		}

		&.active .icon-arrow{
			@include rotate(90);
		}

		&.active {
			background-color: $color-input-border;
			border-bottom: 2px solid darken($color-input-border, 5%);	
		}
		
	}

	input,
	textarea{
		border: 1px solid $color-input-border;
	}

	label {
		padding: 10px 0; 
		font-weight: bold;
		color: lighten($color-dark, 40%);
		display: block;
	}
	.grid-editor-title{
		font-weight: bold; 
		font-size: 16px;
		padding: 7px; 
		height: auto;
	}

}

.grid-editor-field-wrapper {
	margin: 20px 0;
}



