/**
* Loader CSS.
*/
.grid-loading{
	position: absolute;
	top:4px;
	width: 100%;
	bottom:100%;
	overflow: hidden;
	z-index: $idx-loading;
	background-color: rgba(255,255,255,0.6);
	opacity: 0;
	@include transition(all, .6s, ease);
}
.grid-loading-indicator-wrapper{
	position: fixed;
	top: 300px;
	width: 40px;
	height: 40px;
	left: 40%;
	margin-left: -40px;

	.grid-loading-indicator-text{
		position: absolute;
		top: -2px;
		left: 20px;
		width: 100px;
	}

	.grid-loading-indicator,
	.grid-loading-indicator:before,
	.grid-loading-indicator:after {
		background: #3F4853;
		animation: gridloading 1s infinite ease-in-out;
		width: 0.4em;
		height: 1.5em;
	}
	.grid-loading-indicator:before,
	.grid-loading-indicator:after {
		position: absolute;
		top: 0;
		content: '';
	}
	.grid-loading-indicator:before {
		left: -0.6em;
	}
	.grid-loading-indicator {
		text-indent: -9999em;
	/*margin: 8em auto;*/
		position: relative;
		font-size: 11px;
		animation-delay: -0.16s;
	}
	.grid-loading-indicator:after {
		left: 0.6em;
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}
}

.loading,
.grid-init-loading{
	&.grid-loading,
	.grid-loading{
		opacity: 1;
		bottom: 0%;
	}
}

@keyframes gridloading {
	0%,
	80%,
	100% {
		box-shadow: 0 0 #3F4853;
		height: 1em;
	}
	40% {
		box-shadow: 0 -1em #3F4853;
		height: 2em;
	}
}