
.grid-element-duplicate {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-transform: uppercase;
	height: 0;
	overflow: hidden;
	background-color: $color-tool-element-duplicate-bg;
	color: white;
	box-sizing: border-box;
	vertical-align: baseline;
	z-index: $idx-toolbar;
	@include transition();
	& > div{
		position: absolute;
		top: 0;
		bottom: 10px;
		left: 10px;
		right: 10px;
		border: 3px dashed white;
		border-top: none;
		text-align: center;
		opacity: 100%;
		padding-top: 20px;
	}
	&.grid-active{
		height: 45%;
	}
	&.grid-hover{
		background-color: $color-edit;
	}
}
