// container and box editor

.grid-editor-wrapper{
	@extend .grid-all-wrapper;	
}

.grid-editor-controls{
	box-sizing: border-box;
	position: fixed;
	bottom: 0px;
	margin: 0px 10%;
	background-color: white;
	padding: 15px;
	z-index: $idx-max;
	width: 80%;


	button{
		background-color: black;
		color:white;
		padding:10px;
	}
	.grid-editor-save-button{
		background-color: $color-editor-save-bg;
		color: $color-editor-save;
	}
	.grid-editor-cancel-button{
		background-color: $color-editor-cancel-bg;
		color: $color-editor-cancel;
	}
	.grid-editor-reuse-button{
		background-color: $color-editor-reuse-bg;
		color: $color-editor-reuse;
		float: right;
	}
}

.grid-editor-content{
	box-sizing: border-box;
	padding: 15px;
	margin: 20px 10%;
	padding-bottom: 100px;

	background-color: white;

	border: 1px solid $color-input-border;


	fieldset{
		border: none;
		border-bottom: 1px solid $color-input-border;

		margin: -1px -15px 0px -15px;

		.grid-editor-field-wrapper {
			display: none;
		}
	}

	legend{
		padding: 15px 0px 15px 35px;
		box-sizing: border-box;
		width: 100%;

		cursor: pointer;
		position: relative;
		font-size: 14px; 
		font-weight: bold;

		border-top: 1px solid $color-input-border;

		.icon-arrow{
			position: absolute;
			left: 5px;
			top: 10px;
			@include transition();
		}

		
	}

	input,
	textarea{
		border: 1px solid $color-input-border;
	}

	label {
		padding: 10px 0; 
		font-weight: bold;
		color: lighten($color-dark, 40%);
		display: block;
	}
	.grid-editor-title{
		font-weight: bold; 
		font-size: 16px;
		padding: 7px; 
		height: auto;
	}

}

.grid-editor-content .grid-active {

	border-bottom: 2px solid darken($color-edit, 10%);	

	.grid-editor-field-wrapper {
		display: block;
		margin: 15px;
	}

	legend {
		background-color: $color-edit;
		border-bottom: 2px solid darken($color-edit, 10%);	
		color: white;

		.icon-arrow{
			@include rotate(90);
		}
	}

}






