.grid-reuse-box-list{
  position: relative;
  .grid-container{
    margin-bottom: 40px;
  }
  .grid-container-title {
    position: relative;
    margin: 0;
    padding: 10px;
    top: inherit;
    left: inherit;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  .grid-box-editmode{
    background-color: white;
    padding: 8px;
  }
  .grid-container__readmore{
    padding: 4px 8px;
    font-size: 1rem;
    background-color: white;
    border: 5px solid #eaeaea;
    border-top: 1px;
    border-bottom: 1px;
  }

}