// container and box editor

.grid-editor-controls{

	list-style: none;
	position: fixed;
	z-index: 90;
	margin: 200px 0 0 0;

	box-sizing: border-box;
	@include transition();

	width: $dim-toolbar-width;
	height: $dim-toolbar-height;

	button{
		background-color: black;
		color:white;
		padding:10px;
	}



	.grid-editor-control {
		width: 185px;
		right:160px;
		position: relative;
		margin: 0;
		
		@include transition();
		&:hover {
			right: 20px;
		}
		button {
			text-align: right;
			padding: 5px 48px 5px 5px;
			margin: 0px;
			font-size: 12px;
			width: 100%;
			height: 45px;
			@include transition();
			border: none;
			background-color: $color-grid-bg;

			[class^="icon-"], 
			[class*=" icon-"]{
				position: absolute;
				right: 11px;
				top: 13px;
				font-size: 16px;
				font-family: 'Entypo';
			}
			&:hover{
				padding-right: 38px;
				// color: white;
				// background-color: $color-link;
			}
		}

		.grid-editor-save-button {

			background-color: $color-editor-save-bg;
			color: $color-editor-save;
		}
		.grid-editor-cancel-button{
			background-color: $color-editor-cancel-bg;
			color: $color-editor-cancel;
		}
		.grid-editor-reuse-button{
			background-color: $color-editor-reuse-bg;
			color: $color-editor-reuse;
		}
	}

	

	
}



.grid-editor-content{
	box-sizing: border-box;
	padding: 15px 35px;
	margin: 20px 10%;
	padding-bottom: 100px;
	background-color: white;
	border: 1px solid $color-input-border;

	fieldset{
		border: none;
		border-bottom: 1px solid $color-input-border;
		padding: 0; 
		margin: -1px -35px 0px -35px;

		.grid-editor-field-wrapper {
			 display: none;
		}
	}

	legend{
		padding: 15px 0px 15px 35px;
		box-sizing: border-box;
		width: 100%; 
 
		cursor: pointer;
		position: relative;
		font-size: 14px; 
		font-weight: bold;

		border-top: 1px solid darken($color-input-border,10%);
		background-color: lighten($color-light, 3%);

		@include transition(background-color, 0.5s, ease);

		.icon-arrow{
			position: absolute;
			left: 5px;
			top: 16px;
			@include transition();
		} 
	}

	input,
	textarea{
		border: 1px solid $color-input-border;
		width: 100%;
	}

	label {
		padding: 10px 0; 
		font-weight: bold;
		color: lighten($color-dark, 40%);
		display: block;
	}
	.grid-editor-header{
		margin-bottom: 15px;
	}
	.grid-editor-title{
		font-weight: bold; 
		font-size: 16px;
		padding: 7px; 
		height: auto;
	}
	.grid-editor-footer{
		margin-top: 15px;
	}

}

.grid-editor-content .grid-active {

	border-bottom: 2px solid darken($color-edit, 10%);	

	.grid-editor-field-wrapper {
		display: block;
		margin: 15px 35px;
	}

	legend {
		background-color: $color-edit;
		border-bottom: 2px solid darken($color-edit, 10%);	
		color: white;

		.icon-arrow{
			@include rotate(90);
		}
	}

}






