
.dragger-helper {
	display:block;
	height:50px;
	width:38px;
	max-width: 38px;
	max-height: 50px;
	min-width: 38px;
	min-height: 50px;
	border:1px solid #ccc;
	background-color:#fff;
	z-index: 1000;
	/*@include box-shadow (	4px 4px 0 #fff,
							5px 5px 0 #ccc,
							9px 9px 0 #fff,
							10px 10px 0 #ccc,
							14px 14px 0 #fff);*/
}