.grid-element-type-content {
	min-height: 100px;
	padding: 15px 20px 0px 10px;
	overflow-y: scroll;
	background-color: $color-tool-element-content-bg;

	.grid-element-container-lists,
	.grid-element-box-lists {
		margin: 0px;
		padding-bottom: 40px;
	}

	.grid-container-type,
	.grid-box-type {
		position: relative;
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer;
		padding: 20px;
		.icon-arrow {
			z-index: $idx-toolbar;
			position:absolute;
			top:20px;
			left:-4px;
			font-size: 14px;
			@include transition(all, .3s, ease);;
			//transition: $transitions-slow;
		}
		&.active {
			.icon-arrow {
				@include rotate(90);
			}
		}
	}
}