.grid-tool-elements{
	position: fixed;
	box-sizing: border-box;
	right: $dim-tool-elements-offset;
	width: $dim-tool-elements-width;
	border-left: 1px solid $color-container-border;
	z-index: $idx-toolbar;
}