
// new Element -> container or box
// Design thats the same for both types belongs here
.grid-new-element {
	cursor: move;
	position: relative;

	padding-left: 20px;

	margin-bottom: 8px;
	color: $color-draggable-border;


	.grid-element-title {
		color: $color-text;
		padding-left: 20px;
		margin: 0;
		padding-top: 10px;
		&.grid-reusable-container-title{
			padding-left: 0;
			padding-top: 0;
			min-height: 20px;
		}
	}

	&:hover {
		color: $color-draggable-border-hover;
		.grid-new-container-slots,
		.grid-new-box{
			border-color: $color-draggable-border-hover;
		}
	}
	.grid-reuseable-container{
		display: block;
		padding: 5px 10px;
	}
}
