
/*********************
* box
*******************/

.grid-box {

	position: relative;

	padding: 12px 0;
	margin: 10px 0;
	min-height: 50px;

	background-color: white;

	-webkit-box-shadow:inset 0 0 2px 0px $color-box-border;
			box-shadow:inset 0 0 2px 0px $color-box-border;
	.grid-box-content {
		font-size: 11px;
		padding: 0 10px;
		word-break:break-all;
	}
}


.grid-box-controls {
	&.grid-box-movable{
		cursor: move;
	}
	color: white;
	height: 0;
	overflow: hidden;
	opacity: 0;
	position: absolute;
	left: 0;
	right:0;
	bottom: 0;
	top: 0;
	background-color: $color-box-controls-bg;
	font-weight: bold;
	text-transform: uppercase;

	@include transition(opacity, .2s, ease);

	.grid-box-control-button{
		cursor: pointer;
		position: absolute;
		top: 0px;
		bottom: 0px;
		right: 0px;
		width: 40px;
		max-width: 250px;
		@include transition(all, .3s, ease);
		&:hover{
			width: 100%;
		}
		.grid-box-control-text{
			opacity: 0;
			@include transition(all, .3s, ease);
		}
		&:hover .grid-box-control-text{
			opacity: 1;
		}
	}
	.grid-box-control-wrapper{
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		margin-top: -10px;
		white-space: nowrap;
		overflow: hidden;
		padding-left: 8px;
	}
	
	.grid-box-edit{
		background-color: $color-edit;
		top: 0px;
		bottom: 50%;
	}
	.grid-box-reused{
		position: absolute;
		top: 10px;
		right: 14px;
		font-weight: normal;
	}
	.grid-box-delete{
		top: 50%;
		bottom: 0px;
		background-color: $color-warning;
	}
	.grid-box-drag{
		position: absolute;
		top: 35%;
		left: 10px;
	}
}
.grid-box:hover .grid-box-controls{
	height: auto;
	overflow: visible;
	display: block;
	opacity:1;
}


// new boxes
.grid-box-type-content {
	margin:0px;
	border-bottom: 1px solid $color-grid-bg;
}

.grid-box-type {
	& + dl .grid-box-type-search {
		display:none;
	}

	&.active + dl .grid-box-type-search {
		display:block;
	}
}

// sidebar boxes
.grid-container-type-s *:not(.grid) .grid-box{
	.grid-box-controls{
		cursor: default;
	}
	.grid-box-delete{
		display: none;
	}
	.grid-box-edit{
		bottom: 0px;
	}
	.grid-box-drag{
		display: none;
	}
}

