.grid-box-drop-area-wrapper {
	position:relative;
	.grid-box-drop-area {
		box-sizing:border-box;
		position: absolute;
		height: 20px;
		top: -12px;
		border: 2px dashed $color-edit;
		// box-shadow: inset 0 0 7px lighten($color-edit, 10%);
		background-color: lighten($color-edit, 40%);
		width: 100%;
		z-index: $idx-container;
		@include transition(all, .3s, ease);
		&.hover{
			background-color: $color-edit;
			height: 25px;
			top: -14px;
		}
	}
}

