.grid-author{
	position: relative;
	padding: 15px;
	& + & {
		border-top: 1px solid $color-grid-bg;
	}
	.author-lock-icon{
		position: absolute;
		left:-10px;
	}
	.author-action-btn{
		box-sizing: border-box;
		position: absolute;
		overflow: hidden;
		top: 0px;
		bottom: 0px;
		right: -15px;
		width: 0px;
		background-color: $color-link;
		font-weight: bold;
		padding: 15px 0 0 15px;
		@include transition();
	}
	&:hover{
		.author-action-btn{
			width: 135px;
			color: white;
			cursor:pointer;
		}
	}
}