.grid-authors-wrapper{
	position: fixed;
	width: 260px;
	display: none;
	right: 0px;
	.authors-list{

		margin: 0px auto;
		padding: 15px;
		background-color: white;
		border: 4px solid #efefef;
		list-style: none;
	}
}