[submodule "lib"]
	path = lib
	url = git@github.com:palasthotel/grid.git
[submodule "public/grid-api"]
	path = public/grid-api
	url = git@github.com:palasthotel/grid.git
[submodule "src/grid-components"]
	path = src/grid-components
	url = git@github.com:palasthotel/grid.git