@mixin buttonify(){
  transition: 0.3s all;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: 12px;
  box-sizing: border-box;
}

input {
  height:27px;
  width: 100%;
  line-height:27px;
  text-indent:10px;
  font-size:1em;
  border:solid 1px black;
  margin-bottom: 5px;
  
  &:hover {
    border-color: lighten(black, 30%);
  }
}
input[type=checkbox] {
  width: auto;
  height: auto;
  display:inline;
}

button,
button:focus {
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 8px;
  background-color: white;
  
  @include transition();
  box-shadow: none;
  
  &:hover{
    border-color: transparent;
    background-color: black;
    color: white;
  }
}
.button-delete{
  &:hover{
    background-color: $color-warning;
    border-color: $color-warning;
    color: white;
  }
}