.box-editor{
	.box-editor__type{
		font-style: italic;
		margin-bottom: 15px;
	}
	.box-editor__header{
		margin-bottom: 35px;
	}
	.box-editor__footer{
		margin-top: 20px;
	}
	
	.box-editor__title{
		
	}
	
	.box-editor__content{
		padding: 20px 35px 35px 35px;
		margin: 20px 10%;
		background-color: white;
		border: 1px solid black;
		
		input,
		textarea{
			//border: 1px solid $color-input-border;
			width: 100%;
		}
		
	}
}