.box-editor{
	
	.box-editor__content{
		padding: 15px 35px;
		margin: 20px 10%;
		padding-bottom: 100px;
		background-color: white;
		border: 1px solid black;
		
		.collapsible {
			border: none;
			border-bottom: 1px solid black;
			padding: 0;
			margin: -1px -35px 0px -35px;
			
			.collapsible__title{
				padding: 15px 0px 15px 35px;
				box-sizing: border-box;
				width: 100%;
				
				cursor: pointer;
				position: relative;
				font-size: 14px;
				font-weight: bold;
				
				border-top: 1px solid black;
				background-color: white;
				
				@include transition(background-color, 0.5s, ease);
				
				.icon-arrow{
					position: absolute;
					left: 5px;
					top: 16px;
					@include transition();
				}
			}
			
			.collapsible__content{
				display: block;
				margin: 15px 35px;
				padding: 0;
				border: none;
			}
			
			/**
			 * in active state
			 */
			&.is-active {
				.collapsible__title{
					
					background-color: black;
					color: white;
					.icon-arrow {
						@include rotate(90);
						
					}
				}
			}
		}
		
		input,
		textarea{
			//border: 1px solid $color-input-border;
			width: 100%;
		}
		
	}
}