/**
 * Font Include
 * @author Stephan Kroppenstedt <sk@palasthotel.de>
 * @created 15.04.2014 10:07
 */


/* ICON FONT */

@font-face {
  font-family: 'Grid';
  src: url('../fonts/grid-font/grid_font.eot');
  src: url('../fonts/grid-font/grid_font.eot') format('embedded-opentype'),
       url('../fonts/grid-font/grid_font.woff') format('woff'),
       url('../fonts/grid-font/grid_font.ttf') format('truetype'),
       url('../fonts/grid-font/grid_font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* TEXT FONT */

@font-face {
    font-family: 'OpenSans';
    src: local("OpenSans"), local("Open Sans"), 
        url('../fonts/open-sans-regular/OpenSans-Regular-webfont.eot');
    src: local("OpenSans"), local("Open Sans"), 
        url('../fonts/open-sans-regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans-regular/OpenSans-Regular-webfont.woff') format('woff'),
        url('../fonts/open-sans-regular/OpenSans-Regular-webfont.ttf') format('truetype'),
        url('../fonts/open-sans-regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: local("OpenSans-Semibold"), local("Open Sans Semibold"), 
          url('../fonts/open-sans-semibold/OpenSans-Semibold-webfont.eot');
    src: local("OpenSans-Semibold"), local("Open Sans Semibold"), 
          url('../fonts/open-sans-semibold/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-semibold/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/open-sans-semibold/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/open-sans-semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: local("OpenSans-Bold"), local("Open Sans Bold"), 
          url('../fonts/open-sans-bold/OpenSans-Bold-webfont.eot');
    src: local("OpenSans-Bold"), local("Open Sans Bold"), 
          url('../fonts/open-sans-bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-bold/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/open-sans-bold/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/open-sans-bold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: local("OpenSans-Italic"), local("Open Sans Italic"), 
          url('../fonts/open-sans-italic/OpenSans-Italic-webfont.eot');
    src: local("OpenSans-Italic"), local("Open Sans Italic"), 
          url('../fonts/open-sans-italic/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-italic/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/open-sans-italic/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/open-sans-italic/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'grid-font';
    src: url('../fonts/grid_font/grid-font.svg') format('svg');
  }
}

 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "Grid";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-link:before { content: '\e805'; }
.icon-preview:before { content: '\e806'; }
.icon-ok:before { content: '\e801'; }
.icon-reuse:before { content: '\e809'; }
.icon-reuse:before { content: '\e810'; }
.icon-cancel:before { content: '\e802'; }
.icon-style:before { content: '\e80d'; }
.icon-plus:before { content: '\e804'; }
.icon-minus:before { content: '\e803'; }
.icon-revisions:before { content: '\e80c'; }
.icon-revert:before { content: '\e80b'; }
.icon-edit:before { content: '\e807'; }
.icon-trash:before { content: '\e808'; }
.icon-publish:before { content: '\e80f'; }
.icon-elipse:before{ content:'\e80e'; }
.icon-arrow:before { content: '\e80a'; }

// direction arrows
.icon-dir-right:before { content: '\e80a'; }
.icon-dir-left:before { content: '\e814'; }
.icon-dir-up:before { content: '\e813'; }
.icon-dir-down:before { content: '\e812'; }

.icon-drag:before { 
  content: '\e80e'; 
-webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
       -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
           transform: rotate(90deg); }
.icon-options:before { content: '\e800'; }

