%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

#grid-containers-app{
	padding: 30px;
	width: 100%;
	box-sizing: border-box;
	.grid-container{
		background-color: grey;
		padding: 10px;
		@extend %clearfix;
	}
	.grid-slot{
		box-sizing: border-box;
		padding: 5px;
		input{
			width: 100%;
			box-sizing: border-box;
		}
		float: left;
	}
}