$color-text: rgba(30,30,30,1);
$color-ok: rgba(70,189,123,1);
$color-draft: rgba(237,123,61,1);
$color-warning: rgba(237,80,50,1);
$color-edit: rgba(58,197,217,1);

$color-dark: rgba(38,46,56,1);
$color-dark-light: rgba(63,72,83,1);
$color-light: rgba(229,227,223,1);

// grid
$color-grid-bg: rgba(243,245,247,1);

$color-grid-slot: rgba(234, 234, 234,1);

$color-link: rgba(63,72,83,1);
$color-link-hover: black;

$color-input-border: rgba(236,239,243,1);
$color-input-border-hover: rgba(176,186,194,1);

// container
$color-container-bg: white;
$color-container-border: rgba(176,186,194, 0.7);

$color-container-controls: rgba(176,186,194,1);
$color-container-controls-nohover: rgba($color-container-controls, 0.3);
$color-container-controls-hover: $color-link;

$color-container-options: rgba(176,186,194,1);
$color-container-controls-nohover: rgba($color-container-options, 0.3);
$color-container-options-hover: $color-link;
$color-container-options-list: white;
$color-container-options-list-bg: $color-container-options;
$color-container-options-list-bg-hover: $color-link;
$color-container-reused-bg: rgba(63,72,83,0.7);

$color-container-title: $color-container-options;

$color-container-sort-placeholder-border: $color-edit;

// slot style changer
$color-slot-style-changer-bg: rgba(236,239,243,1);
$color-slot-style-changer-styles-bg: rgba(176,186,194,1);
$color-slot-style-changer-styles-bg-hover: $color-link;
$color-slot-style-changer-border: rgba(208,216,221,1);

$color-style-changer-active: $color-container-options;
$color-style-changer-active-hover: $color-link;

// box
$color-box-border: rgba( 131, 134, 136 , 1);

//$color-box-border: $color-grid-bg;
$color-box-controls-bg: rgba(63,72,83,0.9);

$color-box-sort-placeholder-border: $color-edit;



// toolbar
$color-toolbar-bg: white;


// container and box elements toolbar
$color-tool-elementtype: $color-grid-bg;
$color-tool-elementtype-hover: $color-tool-elementtype;
$color-tool-elementtype-active: $color-edit;
$color-tool-element-container-slot-bg: rgba(240,240,240,1);
$color-tool-element-container-slot-bg-hover: rgba(176,186,194,1);

$color-tool-element-content-bg: white;
$color-container-type-content-border: rgba(176,186,194,1);

$color-draggable-border: $color-input-border;
$color-draggable-border-hover: $color-input-border-hover;

$color-drop-area: $color-edit;
$color-drop-area-hover: black;

$color-tool-element-trash-bg: rgba(176,186,194,1);

// Revisions
$color-revision-bg: white;
$color-revision-border: $color-grid-bg;
$color-revision-draft: $color-draft;
$color-revision-published: $color-ok;

// Editor
$color-editor-save-bg: $color-ok;
$color-editor-save: white;
$color-editor-cancel-bg: $color-warning;
$color-editor-cancel: white;
$color-editor-reuse-bg: $color-light;
$color-editor-reuse: $color-dark;



/* **************
Dimensions
****************/
$dim-grid-width: 80%;
$dim-toolbar-width: 100%;
$dim-toolbar-height: 0px;
$dim-tool-elements-width: 260px;
$dim-tool-elements-offset:0px;
$dim-tool-element-tab-height: 45px;

$dim-tool-element-trash-height: 80px;

$dim-revisions-width: $dim-grid-width;


/**************
* index stack
***************/

$idx-max: 999;
$idx-toolbar: 90;
$idx-loading: 85;
$idx-revisions: 81;
$idx-container-options-hover: 81;
$idx-container-options: 80;
$idx-style-changer-hover: $idx-container-options-hover;
$idx-style-changer: $idx-container-options;
$idx-container: 60;
$idx-container-reused: 50;
$idx-slot: 40;
$idx-box: 30;



