/**
 * @author Stephan Kroppenstedt <stephan.kroppenstedt@palasthotel.de>
 * @modified 26.05.2017
 */



$color__app--background: black;

$color__status--success: limegreen;
$color__status--published: limegreen;
$color__status--unpublished: yellow;
$color__status--error: red;

$color__menu--background: white;