


<!-- <div data-id="{{model.id}}" data-type="{{model.type}}" class="container editor {{model.type}} clearfix"> -->

    <div class="grid-editor-controls">
		<button role="save" class="grid-editor-save-button">Save</button>
    	<button role="cancel" class="grid-editor-cancel-button">Cancel</button>
        <button role="reuse" class="grid-editor-reuse-button">Make reusable</button>
    </div>
	
	<div class="grid-editor-content">
        <input placeholder="Title" type="text" name="grid-editor-container-title" value="{{model.title}}" class="grid-editor-container-title" />
        <input placeholder="Title URL" type="text" name="grid-editor-container-titleurl" value="{{model.titleurl}}" scope="titleurl" class="grid-editor-container-titleurl" />
		<fieldset class="grid-collapsable grid-collapsable-hidden">
	        <label>Prolog</label>
	        <textarea name="grid-editor-container-prolog" class="form-html grid-editor-container-prolog">{{model.prolog}}</textarea>
		</fieldset>
		<fieldset class="grid-collapsable grid-collapsable-hidden">
	        <label>Epilog</label>
			<textarea name="grid-editor-container-epilog" class="form-html grid-editor-container-epilog">{{model.epilog}}</textarea>
		</fieldset>

		<input placeholder="Readmore" type="text" name="grid-editor-container-readmore" class="grid-editor-container-readmore" value="{{model.readmore}}" />
		<input placeholder="Readmore URL" type="text" name="grid-editor-container-readmoreurl" class="grid-editor-container-readmoreurl" value="{{model.readmoreurl}}" />
 
		<select name="grid-editor-container-style" class="grid-editor-container-style">
			<option value="">Default Style</option>
			{{#styles}}
			<option {{selected}} value="{{slug}}">{{title}}</option>
			{{/styles}}
	   </select>

	</div>
<!-- </div> -->
