<div class="grid-toolbar" role="g-controls">
    
    <div class="grid-tool-elements">
        <div class="grid-element-type-select">
            <div class="grid-element-type" data-type="container">Container</div><div class="grid-element-type" data-type="box">Box</div>
        </div>
        <div class="grid-element-type-content"></div>
        <div class="grid-element-trash">
            <div>Delete<i class="icon-trash"></i></div>
        </div>
    </div>

    <ul class="grid-tool-list grid-toolbar-state" role="data">

        <li class="grid-tool grid-tool-state"><button role="state" data-draft="{{isDraft}}">Draft</button></li>
        <li class="grid-tool grid-tool-publish"><button role="publish"><i class="icon-publish"></i>Publish</button></li>
        <li class="grid-tool grid-tool-preview"><button role="preview"><i class="icon-preview"></i>Preview</button></li>
        <li class="grid-tool grid-tool-revert"><button role="revert"><i class="icon-revert"></i>Revert</button></li>

        <li class="grid-tool grid-tool-revisions">
            <button role="revisions"><i class="icon-revisions"></i>Revisions</button>
        </li> 
                
    </ul>
    
</div>