
    {{#containers}}
    <div class="grid-new-element container-dragger new-container clearfix {{type}} ui-draggable" data-type="{{type}}" 
    	data-reusable="{{reused}}" data-id="{{id}}">
    	<i class="icon-drag grid-element-drag-icon"></i>
        {{#reused}}<p class="grid-element-title grid-reusabe-container-title">{{reusetitle}}</p>{{/reused}}
        {{^reused}}
        <div class="grid-new-container-slots">
            {{#slots}}
                <div class="grid-slot"></div>
            {{/slots}}
        </div>
        {{/reused}}
    </div>
    {{/containers}}
