{{#revisions}}<div class="grid-revision grid-revision-state-{{state}}" role="revision" data-revision="{{revision}}" state="{{state}}">
	<p class="grid-revision-date">{{readable_date}}</p>
	<p>{{editor}}</p>
	<div class="rev-controls">
		{{#isDraft}}
			<button role="revision-preview" class="btn-preview">Preview</button>
			<button role="revert" class="btn-delete">Revert</button>
		{{/isDraft}}
		{{#isDeprecated}}
			<button role="revision-preview" class="btn-preview">Preview</button>
			<button role="revision-use" class="btn-revert">Revert</button>
		{{/isDeprecated}}
		{{#isPublished}}
			<button role="revision-preview" class="btn-preview">Preview</button>
		{{/isPublished}}
	</div>
</div>{{/revisions}}