
<!-- <div data-id="{{id}}" data-type="{{type}}" class="container display {{type}} clearfix" data-type="{{style}}"
data-reused="{{reused}}"> -->
	{{^isSidebarGrid}}
	<div class="grid-container-controls">

		<span class="grid-container-title">{{title_short}}</span>
		<span class="grid-container-sorthandle hide-grid-container-editor"><i class="icon-drag"></i></span>
		{{#reused}}<span class="grid-container-reused" title="${reusetitle}"><i class="icon-reused"></i></span>{{/reused}}
		
		<div class="grid-container-options">
			<span class="grid-container-options-icon">Options <i class="icon-options"></i></span>
	        <ul class="grid-container-options-list">
				
				{{^reused}}
				<li class="grid-container-options-list-item" role="edit"><i class="icon-edit"></i> Edit</li>
				<li class="grid-container-options-list-item" role="reuse"><i class="icon-reuse"></i> Reuse</li>
				{{/reused}}
				<li class="grid-container-options-list-item" role="trash"><i class="icon-trash"></i> Delete</li>
	        </ul>
	    </div>
	    
    </div>
	{{/isSidebarGrid}}
	<div class="grid-container-content">
		
		<div class="grid-container-before">
			<p class="grid-container-titleurl">{{titleurl}}</p>
			<div class="grid-container-prolog">{{&prolog_short}}</div>
		</div>
		
		<div class="grid-slots-wrapper"></div> <!-- rebuild in SlotsView -->

		<div class="grid-container-after">
			<div class="grid-container-epilog">{{&epilog_short}}</div>
			<p class="grid-container-style">{{style}}</p>
		</div>
		{{#reused}}
		<div class="grid-container-reused-layer">
			<span class="grid-container-reused-label">{{reusetitle}}<i class="icon-reuse"></i></span>
		</div>
		{{/reused}}
	</div>


	


<!-- </div> -->