<div class="grid-toolbar clearfix" role="g-controls">
    <ul class="grid-tool-list grid-toolbar-state" role="data">
        
        <!--   <li>
            <div class="state-display {{#isDraft}}draft{{/isDraft}}" lang-id="state-display">
                <span role="indicator"></span>
                <span lang-id="state-display" role="text"></span>
            </div>
        </li> -->

        <li><button role="state">Published</button></li>
        <li><button role="publish">Publish</button></li>
        <li><button role="preview">Preview</button></li>
        <li><button role="revert">Revert</button></li>

        <li>
            <button role="revisions">Revisions</button>
            <div class="grid-revisions rev-wrapper">
                <div class="scroll_wrapper">
                    <table>
                    </table>   
                </div>
            </div>
        </li> 
        
        <li class="hide-from-sidebar"><button role="toggle_boxes">Toggle boxes</button></li>   
                
    </ul>

   <!--  <ul class="grid-tool-list grid-toolbar-content" role="gui">
        
        <li class="hide-from-sidebar">
            <button role="show_containers" lang-id="btn-add-container" lang-type="text">show containers</button>
        </li>
        <li><button role="show_boxes" lang-id="btn-add-box" lang-type="text">show boxes</button></li>
    </ul> -->
    <div class="grid-tools"></div>
</div>