<!-- Is set in BoxView
<div class="grid-box" data-id="{{id}}" data-type="{{type}}"> -->
		<div class="grid-box-content">
			<h3>{{#titleurl}}<a href="${titleurl}" class="box-title">{{title}}</a>{{/titleurl}}{{^titleurl}}{{title}}{{/titleurl}}</h3>
			<div class="prolog">{{&prolog}}</div>
			<div class="content">{{&html}}</div>
			<div class="epilog">{{&epilog}}</div>
			<p class="readmore"><a href="{{readmoreurl}}">{{readmore}}</a></p>
		</div>
		<div class="grid-box-controls">
			<i class="grid-box-drag icon-drag"></i>
			<div class="grid-box-control-button grid-box-edit"><div class="grid-box-control-wrapper"><i class="icon-edit"></i><span class="grid-box-control-text">Edit</span></div></div>
			<div class="grid-box-control-button grid-box-delete"><div class="grid-box-control-wrapper"><i class="icon-trash"></i><span class="grid-box-control-text">Delete</div></div></div>
		</div>
<!-- </div> -->