
<div class="grid-box-content">
	<h3>{{#titleurl}}<a href="${titleurl}" class="box-title">{{title}}</a>{{/titleurl}}{{^titleurl}}{{title}}{{/titleurl}}</h3>
	<div class="prolog">{{&prolog}}</div>
	<div class="content">{{&html}}</div>
	<div class="epilog">{{&epilog}}</div>
	<p class="readmore"><a href="{{readmoreurl}}">{{readmore}}</a></p>
</div>
{{^right_none}}
<div class="grid-box-controls {{#right_move}}grid-box-movable{{/right_move}}">
	{{#right_move}}
	<i class="grid-box-drag icon-drag"></i>
	{{/right_move}}

	{{#right_edit}}
	{{^reference}}
	<div class="grid-box-control-button grid-box-edit"><div class="grid-box-control-wrapper"><i class="icon-edit"></i><span class="grid-box-control-text">Edit</span></div></div>
	{{/reference}}
	{{/right_edit}}

	{{#reference}}
	<div class="grid-box-reused">Reused box <i class="icon-reuse"></i></div>
	{{/reference}}

	{{#right_delete}}
	<div class="grid-box-control-button grid-box-delete"><div class="grid-box-control-wrapper"><i class="icon-trash"></i><span class="grid-box-control-text">Delete</div></div></div>
	{{/right_delete}}
</div>
{{/right_none}}