<div class="grid-toolbar" role="g-controls" data-draft="{{isDraft}}">
    
    <div class="grid-tool-elements">
        <div class="grid-element-type-select">
            <div class="grid-element-type" data-type="container">Container</div><div class="grid-element-type" data-type="box">Box</div>
        </div>
        <div class="grid-element-type-content"></div>
        <div class="grid-element-trash">
            <div>Delete<span class="icon-trash"></span></div>
        </div>
    </div>

    <ul class="grid-tool-list grid-toolbar-state" role="data">

        <li class="grid-tool grid-tool-publish"><button role="publish"><span class="icon-publish"></span>Publish</button></li>
        <li class="grid-tool grid-tool-preview"><button role="preview"><span class="icon-preview"></span>Preview</button></li>
        <li class="grid-tool grid-tool-revert"><button role="revert"><span class="icon-revert"></span>Revert</button></li>
        <li class="grid-tool grid-tool-revisions"><button role="revisions"><span class="icon-revisions"></span>Revisions</button></li> 
                
    </ul>
    
</div>