/* ###### RASTER ######

   vertikal: 22px (11px Schritte möglich)
   grid width: 39px
   horizontal: 14px slot padding, 20px slot gap
*/

@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);

@import url("sourcesanspro.css");
@import url("arial.css");
@import url("opensans.css");
@import url("droidsans.css");
@import url("droidsansserif.css");
@import url("bluealternative1.css");
@import url("bluealternative2.css");

@font-face {
  font-family: 'entypo';
  font-style: 'normal';
  font-weight: 'normal';
  src: local('entypo'), url('http://weloveiconfonts.com/api/fonts/entypo/entypo.eot');
  src: url('http://weloveiconfonts.com/api/fonts/entypo/entypo.eot?#iefix') format('eot'),
  url('http://weloveiconfonts.com/api/fonts/entypo/entypo.woff') format('woff'),
  url('http://weloveiconfonts.com/api/fonts/entypo/entypo.ttf') format('truetype'),
  url('http://weloveiconfonts.com/api/fonts/entypo/entypo.svg#entypo') format('svg');
}


/* debug grid */
.emm-grid-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 10px;
  height: 22px;
  overflow: hidden;
  display: block;
}
.emm-grid-btn a {
  color: #999;
}
.emm-grid {
  pointer-events: none;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent url('../bilder/emm-grid.png') no-repeat top left;
  z-index: 999;
  opacity: 0.5;
}


/* entypo icons */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}



html {
  /*background: #eee url('../bilder/bg.png') top left repeat-x;*/
  background-color: #f2f2f2;
}

body {
  /*width: 996px;*/
  width: 1024px;
  margin: auto;
  color: #444;
}

a {
  position: relative;
  color: #DB0E4B;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  top: 1px;
}


/* `Containers
----------------------------------------------------------------------------------------------------*/

.container_nav {
  /*border-bottom: 1px solid #dcc;*/
}

.container_12 {
  margin: 0 0 33px 0;
  padding: 0;
  border: 0;
}

.container-pink,
.container-pink .slot,
.container-pink a {
  background-color: #f50f54;
  color: white;
}



/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.slot {
  position: relative;
  display: inline;
  float: left;
  margin-right: 20px;
  padding: 14px;
  background: white;
  /*margin-right: 12px;*/
}

.slot a:before {
  content: "»\0000a0";
}


/* remove padding for solid container */

.grid-container-solid .slot_2 {
  width: 154px;
  padding-right: 0;
  padding-left: 0;
}
.grid-container-solid .slot_2.slot_first {
  width: 140px;
  padding-left: 14px;
}
.grid-container-solid .slot_2.slot_final {
  width: 140px;
  padding-right: 14px;
}
.grid-container-solid .slot_4 {
  width: 328px;
  padding-right: 0;
  padding-left: 0;
}
.grid-container-solid .slot_4.slot_first {
  width: 314px;
  padding-left: 14px;
}
.grid-container-solid .slot_4.slot_final {
  width: 314px;
  padding-right: 14px;
}

/*
.slot_1,
.slot_2,
.slot_3,
.slot_4,
.slot_5,
.slot_6,
.slot_7,
.slot_8,
.slot_9,
.slot_10,
.slot_11,
.slot_12 {
}
*/

.slot_1 {
  width: 39px;
}

.slot_2 {
  width: 126px;
  /*width:132px;       */
}

.slot_4 {
  width:300px;
}

.slot_8 {
  width: 648px;
  /*width:636px;*/
}

.slot_12 {
  width: 996px;
  /*width:972px;*/
}

.slot_final {
  margin-right: 0px;
}

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.box:before, .clearfix:before,
.box:after, .clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.box:after, .clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.box, .clearfix {
  zoom: 1;
}


.box {
  margin-bottom: 22px;
}






/* Layouts */

.main {
  position: relative;
	padding: 33px 0 0 0;
}

.container {
}

.teaser {
	position: relative;
}

.overlay p {
	font-style: italic;
}

.emm-blue,
.emm-blue a {
  /*color: #005;*/
  color: #004799;
}
.emm-nav a.emm-blue {
  color: #004799;
}
.emm-bluelink {
  color: #005;
}
.emm-blueframe {
  border: 2px solid #005;
}

.logo {
  color: #f50555;
}




/* Typografie */

body {
	font-family: 'PT Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

h2 {
  line-height: 120%;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

ol {
	list-style: decimal;
}

ul {
	list-style: none;
}


p {
  margin-top: 11px;
  margin-bottom: 11px;
  /* max-width:520px;*/
}

img {
  margin-bottom: 0px;
}

.img-left {
  margin-right:12px;
  float:left;
}



/* ###### GRID ###### */

.grid-container-prolog {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 22px;
  margin-bottom: 11px;
  -webkit-font-smoothing: antialiased;
}

.grid-container-epilog {

}

.grid-slot-prolog {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 22px;
  margin-bottom: 22px;
  -webkit-font-smoothing: antialiased;
}

.grid-slot-epilog {
}

.grid-box-prolog {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 22px;
  margin-bottom: 11px;
  -webkit-font-smoothing: antialiased;
}

.grid-box-epilog {
  font-size: 14px;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

.grid-container-multirow .slot {
  padding-bottom: 0;
}

.grid-container-unsolid {
  border-bottom: 0;
}
.grid-container-unsolid .slot {
  border-bottom: 1px solid #ddd;
}

.grid-container-solid {
  border-bottom: 1px solid #ddd;
  background-color: white;
}
.grid-container-solid .grid-container-prolog {
  padding: 22px 14px 11px 14px;
  margin: 0;
}
.grid-container-solid .slot {
  padding-top: 11px;
}

.grid-container-invers {
  background-color: #333;
  color: white;
}
.grid-container-invers .slot {
  background-color: #333;
}
.grid-container-invers .grid-box-prolog {
  color: white;
}

/*.grid-container-solid .slot:after {
  content: "";
  height: 88%;
  width: 4px;
  background: #F3F3F3;
  overflow: hidden;
  display: block;
  position: absolute;
  right: -12px;
  top: 0;
  margin-top: 14px;
  margin-bottom: 22px;
  box-sizing: border-box;
}
.grid-container-solid .slot_final:after {
  display: none;
}
*/

.grid-container-gray {
  background-color: #dbdbdb;
  border-bottom: 1px solid #ccc;
}
.grid-container-gray .slot {
  background-color: #dbdbdb;
}

.grid-container-blue {
  background-color: #0E557C;
  border-bottom: 1px solid #363636;
}
.grid-container-blue .slot {
  background-color: #0E557C;
}

  /*.grid-container-blue .slot:after {
    background-color: #e5e5e5;
  }*/

.grid-box-title {
  font-family: "PT Sans", 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-weight: normal;
  color: black;
  padding: 0;
  margin: 0 0 11px 0;
}

.grid-box-image {
  background-color: #F3F3F3;
  display: block;
  margin-bottom: 22px;
  background-size: 100% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.grid-box-image-landscape.grid-box-image-is-landscape {
  background-size: 100% auto;
}
.grid-box-image-landscape.grid-box-image-is-portrait {
  background-size: 100% auto;
}
.grid-box-image-portrait.grid-box-image-is-landscape {
  background-size: auto 100%;
}
.grid-box-image-portrait.grid-box-image-is-portrait {
  background-size: auto 100%;
}
.grid-box-image-portrait-full.grid-box-image-is-landscape {
  background-size: auto 100%;
}
.grid-box-image-portrait-full.grid-box-image-is-portrait {
  background-size: auto 100%;
}
.grid-box-image-square.grid-box-image-is-landscape {
  background-size: auto 100%;
}
.grid-box-image-square.grid-box-image-is-portrait {
  background-size: 100% auto;
}

.grid-box-body {
  font-family: "PT Sans", 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-weight: normal;
  color: #3f3f3f;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.grid-box-body > p {
  padding: 0;
  margin: 0;
}

/* full width teaser box */
.grid-box-wide-image-teaser {
  margin: -14px;
}
/*.slot_12 .grid-box-wide-image-teaser {
  margin: -14px -14px -14px -14px;
}*/

.grid-box-wide-image-teaser .grid-box-image {
  width: 100%;
  /*height: 482px;*/
  height: 495px;
  margin: 0;
  background-size: 100% auto;
}
.slot_4 .grid-box-wide-image-teaser .grid-box-image {
  /*height: 482px;*/
  height: 495px;
  background-size: auto 100%;
}
.slot_4 .grid-box-wide-image-teaser .grid-box-title {
  font-size: 16px;
  line-height: 22px;
  height: 22px;
  bottom: 55px;
  padding: 11px 10px 0 10px;
  margin-bottom: 0;
  width: 308px;
}
.slot_4 .grid-box-wide-image-teaser .grid-box-body {
  font-size: 14px;
  line-height: 22px;
  /*width: 290px;*/
  width: 308px;
  height: 44px;
}
.slot_8 .grid-box-wide-image-teaser .grid-box-image {
  background-size: auto 100%;
  /*height: 482px;*/
  height: 495px;
}
.slot_8 .grid-box-wide-image-teaser .grid-box-title {
  width: 656px;
}
.slot_8 .grid-box-wide-image-teaser .grid-box-body {
  width: 656px;
}

.grid-box-wide-image-teaser-bright .grid-box-title,
.grid-box-wide-image-teaser .grid-box-title {
  position: absolute;
  bottom: 33px;
  /*width: 100%;*/
  width: 1004px;
  background-color: rgba(255,255,255,0.8);
  margin-left: 0;
  font-size: 28px;
  line-height: 33px;
  padding: 11px 10px;
  height: 22px;
/*  box-sizing: border-box;
  -moz-box-sizing: border-box;*/
  overflow: hidden;
  color: black;
}
.grid-box-wide-image-teaser-bright .grid-box-body,
.grid-box-wide-image-teaser .grid-box-body {
  position: absolute;
  bottom: 0;
  background-color: rgba(255,255,255,0.8);
  margin-left: 0;
  /*width: 100%;*/
  width: 1004px;
  /*width: 648px;*/
  font-size: 18px;
  line-height: 26px;
  padding: 0 10px 11px 10px;
/*  box-sizing: border-box;
  -moz-box-sizing: border-box;*/
  height: 33px;
  overflow: hidden;
  color: #333;
}
.grid-box-wide-image-teaser-dark .grid-box-title,
.grid-box-wide-image-teaser-dark .grid-box-body {
  background-color: rgba(0,0,0,0.8);
  color: white;
}


/* prominent teaser box */
.grid-box-big-image-teaser {

}
.grid-box-big-image-teaser .grid-box-image {
  width: 100%;
  /*height: 363px;*/
  height: 308px;
}
.grid-box-big-image-teaser .grid-box-title {
  font-size: 28px;
  color: black;
}
.grid-box-big-image-teaser .grid-box-body {
  font-size: 16px;
  line-height: 26px;
}


/* standard teaser box */
.grid-box-image-teaser {

}
.grid-box-image-teaser .grid-box-title {
  font-size: 18px;
  line-height: 22px;
}
.grid-box-image-teaser .grid-box-body {
  font-size: 14px;
}
.grid-box-image-teaser .grid-box-image-landscape {
  width: 300px;
  height: 198px;
}
.grid-box-image-teaser .grid-box-image-portrait {
  width: 212px;
  height: 319px;
}
.grid-box-image-teaser .grid-box-image-portrait-full {
  width: 300px;
  height: 451px;
}
.grid-box-image-teaser .grid-box-image-square {
  width: 300px;
  height: 297px;
}

.grid-container-solid .grid-box-image-teaser .grid-box-image-landscape {
  width: 100%;
  height: 198px;
}
.grid-container-solid .grid-box-image-teaser .grid-box-image-portrait {
  width: 212px;
  height: 319px;
}
.grid-container-solid .grid-box-image-teaser .grid-box-image-portrait-full {
  width: 100%;
  height: 451px;
}
.grid-container-solid .grid-box-image-teaser .grid-box-image-square {
  width: 100%;
  height: 297px;
}


/* teaser box over two columns*/
.grid-box-image-teaser-double {

}
.grid-box-image-teaser-double .grid-box-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 11px;
}
.grid-box-image-teaser-double .grid-box-title {
  font-size: 18px;
  line-height: 22px;
}
.grid-box-image-teaser-double .grid-box-body {
  font-size: 14px;
}
.grid-box-image-teaser-double .grid-box-image-landscape {
  width: 314px;
  height: 209px;
}
.grid-box-image-teaser-double .grid-box-image-portrait {
  width: 212px;
  height: 319px;
}
.grid-box-image-teaser-double .grid-box-image-portrait-full {
  width: 314px;
  height: 473px;
}
.grid-box-image-teaser-double .grid-box-image-square {
  width: 314px;
  height: 308px;
}



/* teaser box with small images */
.grid-box-small-image-teaser {

}
.grid-box-small-image-teaser .grid-box-title {
  font-size: 16px;
  /*font-weight: bold;*/
  font-weight: normal;
  margin-bottom: 11px;
}
.grid-box-small-image-teaser .grid-box-body {
  font-size: 13px;
  line-height: 21px;
}
.grid-box-small-image-teaser .grid-box-image {
  width: 87px;
  height: auto;
  float: left;
  margin-right: 14px;
  margin-bottom: 11px;
}
.grid-box-small-image-teaser .grid-box-image-landscape {
  width: 87px;
  height: 55px;
}
.grid-box-small-image-teaser .grid-box-image-portrait {
  width: 87px;
  height: 132px;
}
.grid-box-small-image-teaser .grid-box-image-portrait-full {
  width: 87px;
  height: 132px;
}
.grid-box-small-image-teaser .grid-box-image-square {
  width: 87px;
  height: 88px;
}


/* box with text only list items */
.grid-box-list {

}
.grid-box-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.grid-box-list li {
  font-size: 14px;
}
.grid-box-list ul {
  margin-left: 11px;
}
.grid-box-list ul a:before {
  margin-left: -11px;
}

/* box with text only list items, only bigger */
.grid-box-big-list {

}
.grid-box-big-list ul a:before {
  margin-left: -11px;
}
.grid-box-big-list ul {
  list-style-type: none;
  margin: 0;
  margin-left: 11px;
  padding: 0;
}
.grid-box-big-list li {
  font-size: 16px;
}
.grid-box-big-list .grid-box-image-landscape {
  width: 300px;
  height: 198px;
}
.grid-box-big-list .grid-box-image-portrait {
  width: 212px;
  height: 319px;
}
.grid-box-big-list .grid-box-image-portrait-full {
  width: 300px;
  height: 451px;
}
.grid-box-big-list .grid-box-image-square {
  width: 300px;
  height: 297px;
}


/* custom slot sizes */

.slot_2 .grid-box-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #666;
  /*margin: 0 0 11px 0;*/
}
.slot_2 .grid-box-body {
  font-size: 13px;
  line-height: 21px;
}
.slot_2 .grid-box-image {
  margin-bottom: 11px;
}
.slot_2 .grid-box-image-portrait {
  width: 126px;
  height: 187px;
}
.slot_2 .grid-box-image-portrait-full {
  width: 126px;
  height: 187px;
}
.slot_2 .grid-box-image-landscape {
  width: 126px;
  height: 88px;
}
.slot_2 .grid-box-image-square {
  width: 126px;
  height: 126px;
}
.slot_2 .box {
  margin-bottom: 11px;
}


.grid-container-solid .slot_2 .grid-box-image-portrait {
  width: 100%;
  height: 220px;
}
.grid-container-solid .slot_2 .grid-box-image-portrait-full {
  width: 100%;
  height: 220px;
}
.grid-container-solid .slot_2 .grid-box-image-landscape {
  width: 100%;
  height: 99px;
}
.grid-container-solid .slot_2 .grid-box-image-square {
  width: 100%;
  height: 146px;
}



/* ###### EMM ###### */

.emm-btn {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #999999;
  padding: 4px 10px;
  line-height: 22px;
}
.emm-btn:before {
  content: "›\0000a0";
  font-size: 18px;
}
.emm-btn-red {
  background-color: #E80E4F;
}
.emm-btn-red:hover {
  background-color: #A80A39;
  text-decoration: none;
}

.emm-roundbtn {
  /*display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  background-color: #999999;
  width: 70px;
  height: 57px;
  border-radius: 35px;
  color: white;
  text-align: center;
  padding-top: 13px;
  -webkit-transform: rotate(-4deg);
*/
  font-size: 112.5%;
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.11em;
  background-color: #999999;
  width: 3.88888em;
  height: 2.98888em;
  border-radius: 1.94444em;
  color: white;
  text-align: center;
  padding-top: 0.9em;
  -webkit-transform: rotate(-4deg);
}
.emm-roundbtn:before {
  display: none;
}
.emm-roundbtn-red {
  background-color: #E80E4F;
}
.emm-roundbtn-yellow {
  background-color: #F7E828;
  color: #333;
}
.emm-roundbtn-yellow:hover {
  background-color: #D6CA22;
  text-decoration: none;
}

.emm-zum-abo {
  position: absolute;
  top: 58px;
  right: 15px;
}
.emm-zum-abo:active {
  top: 59px;
}
.emm-probe-abo {
  position: absolute;
  top: -9px;
  left: 290px;
  z-index: 50;
  font-size: 100%;
/*  padding-top: 16px;
  font-size: 16px;
  line-height: 17px;
  width: 60px;
  height: 45px;
  border-radius: 60px;*/
}
.emm-probe-abo:active {
  top: -8px;
}

/*.emm-more:before {
  content: "»\0000a0";
}
*/
.emm-medium {
  font-size: 14px;
  line-height: 22px;
}

.emm-large {
  font-size: 16px;
  line-height: 22px;
}

.emm-nav-fixed-container {
  padding: 0;
  /*width: 996px; */
  width: 1024px;
  position: fixed;
  z-index: 100;
  top: -50px;
  background: white;
  transition: all 400ms ease-in-out;
  border-bottom: 2px solid #f50555;
}

.emm-nav-fixed-container.is-visible {
  top: 0;
}

.emm-nav-fixed-container .emm-nav-logo-a {
  padding: 0;
  position: relative;
  top: 6px;
  margin-left: 14px;
}

.emm-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
  /*top: 32px;*/
  position: relative;
  line-height: 44px;
  top: 33px;
  margin-right: 14px;
}

.emm-nav a {
  color: #333;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 44px;
}

.emm-nav li {
  display: inline-block;
  padding-left: 10px;
}

.emm-nav-logo {
  height: 24px;
  position: relative;
  top: 2px;
}

.emm-nav-fixed {
  top: 0;
  margin-right: 2px;
}

.emm-nav-fixed li {
  display: inline-block;
  padding: 0 10px 0 0;
  margin: 0px;
  /*height:32px;*/
}

.emm-nav-fixed li a {
  color: #333;
  text-decoration: none;
}

.emm-nav-fixed li a:hover {
  text-decoration: none;
}

.emm-search {
  position: relative;
  display: inline-block;
}

.emm-nav-fixed .emm-search-field {
  background-color: #f2f2f2;
}

.emm-search-field {
  border: 0;
  background-color: #fff;
  font-size: 14px;
  line-height: 22px;
  padding: 4px 32px 4px 6px;
  /*border-bottom: 1px solid #ddd;*/
}

.emm-search-btn {
  position: absolute;
  right: 14px;
  top: 0px;
}

.emm-search-btn:hover {
  text-decoration: none;
}

.emm-login {
  display: none;
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 14px;
  color: #999;
}

.emm-login-a {
  /*color: #333;*/
}

.emm-login-btn {
  color: #DB0E4B !important;
}

.emm-logo-a {
  display: block;
  width: 222px;
  float: left;
  height: 77px;
}

.emm-footer {
  padding: 0 0 22px 0;
}

.emm-footer a:before {
  display: none;
}

.emm-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  line-height: 33px;
}

.emm-footer li {
  display: inline-block;
  margin-right: 1em;
}

.emm-footer-social {
  float: right;
}

.emm-footer-social li {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 10px;
  border-radius: 16px;
  color: white;
  background-color: #999;
  text-align: center;
  line-height: 32px;
  margin: 0 0 0 10px;
  padding: 0;
}