.grid .box-drop{
	position: relative;
	height: 15px;
	
	opacity: 0;
	@include transition(opacity, .2s, ease);
	
	
	&:first-child,
	&:last-child{
		//position: absolute;
		
	}
	
	.box-drop__area{
		position: absolute;
		width: 100%;
		height: 20px;
		top:-3px;
		left: 0;
		right: 0;
		background-color: $color__highlight_on_light;
		@include transition(background-color, .2s, ease);
	}
	
	&.can_drop{
		opacity: 1;
	}
	
	&.is_over{
		.box-drop__area{
			background-color: red;
		}
	}
}