/** 
*	Default frontend structure for grid 
*	NO DESIGN, JUST STRUCTURE
*/
.container, .slot, .box{
	box-sizing: border-box;
}

/** container styles **/
.container{
	margin-bottom: 30px;
	float: left;
}
.c-title{
	font-size: 1.6em;
}
.C-12,
.C-4-8,
.C-8-4,
.C-4-4-4,
.C-2-2-2-2-2-2{
	width: 100%;
}
/** Container C-12 **/

.C-12 .slot{
	width:100%;
}

/** Container C-4-4-4 **/
.C-4-4-4 .slot{
	width:33.333%;
	float:left;
}

/** Container C-8-4 **/
.C-8-4 .slot:nth-child(1){
	width:66.666%;
	float:left;
	
}
.C-8-4 .slot:nth-child(2){
	width:33.333%;
	float: right;
}

/** Container C-4-8 **/
.C-4-8 .slot:nth-child(1){
	width:33.333%;
	float:left;
}
.C-4-8 .slot:nth-child(2){
	width:66.666%;
	float: right;
}

/** Container C-2-2-2-2-2-2 **/
.C-2-2-2-2-2-2 .slot{
	width:16.666%;
	float:left;
}

/** Container for sidebars */
.C-8-0,
.C-4-4-0{
	width: 66.6%;
	float: left;
}
.C-0-8,
.C-0-4-4{
	width: 65.6%;
	float: right;
	margin-left: 1%;
}
.C-4-4-0 .slot,
.C-0-4-4 .slot{
	width: 50%;
	float: left;
}
.C-0-4-0{
	width: 33.3%;
}

/** Sidebars **/
.S-0-4{
	width: 33.3%;
	float: right;
}
.S-4-0{
	width: 33.3%;
	float: left;
}
.C-4{
	float: none;
}

/* slot styles */
.container .slot{
	padding-top: 8px;
}

/** box styles **/
.box{
	padding-right: 15px; 
}
.container .box:nth-child(n+2){
	padding-top: 15px;
}
/*
.container .slot:nth-child(n+2) .box{
	padding-left: 15px;
}*/
.box img{
	max-width: 100%;
}
.b-epilog,
.b-prolog{
	padding-left: 10px;
}

/** sidebar floating fix for following content */
/*
.btcf:before {
    content:"";
    display:table;
    clear:both;
}*/

