	<div id="grid-wrapper" class="clearfix">
	<menu id="toolbar">
    	<p class="state-display"></p>
    	<ul class="clearfix">
            <li><button role="revert">Änderungen verwerfen</button></li>
            <li><button role="publish">Veröffentlichen</button></li>
            <li><button role="preview">Vorschau</button></li>
        	<li><button role="add_container">+ Container hinzufügen</button></li>
            <li><button role="add_box">+ Box hinzufügen</button></li>
            <li><button role="hide_boxes">x Boxen ein/ausblenden</button></li>
        </ul>
        <div class="grid-tools">
        	<!-- Tools für Container hinzufügen -->
        	<div class="g-tool g-container clearfix">
                <!--
            	<div class="container-selection">
                    <select name="container-type" class="form-select" size="3">
                        <option value="C-12" selected="selected">C-12</option>
                        <option value="C-8-4">C-8-4</option>
                        <option value="C-4-8">C-4-8</option>
                        <option value="C-4-4-4">C-4-4-4</option>
                        <option value="C-2-2-2-2-2-2">C-2-2-2-2-2-2</option>
                    </select>
                </div>
                <div class="container-dragger-wrapper">
                	<div id="container-dragger" class="draggable new-container">Neu</div>
                </div>
                -->
                <ul class="clearfix element-type-tabs">
                    <li class="active">Container</li>
                </ul>
                <ul class="container-type-chooser">
                    <li class="container-dragger new-container C-12 clearfix" data-type="C-12">
                        <div class="slot"></div>
                    </li>
                    <li class="container-dragger new-container C-8-4 clearfix" data-type="C-8-4">
                        <div class="slot"></div><div class="slot"></div>
                    </li>
                    <li class="container-dragger new-container C-4-8 clearfix" data-type="C-4-8">
                        <div class="slot"></div><div class="slot"></div>
                    </li>
                    <li class="container-dragger new-container  C-4-4-4 clearfix" data-type="C-4-4-4">
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                    </li>
                    <li class="container-dragger new-container C-2-2-2-2-2-2 clearfix" data-type="C-2-2-2-2-2-2">
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                    </li>
                </ul>
            </div>
            <!-- Tools für Box hinzufügen -->
            <div class="g-tool g-box">
            	<div class="loading rotate"></div>
            	<ul class="box-type-tabs element-type-tabs clearfix"></ul>
            	<div class="search-bar">
                	<input name="box-search" type="text" class="form-text" placeholder="Boxen suchen" />
                </div>
            	<ul class="box-list clearfix"></ul>
            </div>
        </div>
    </menu>
    
    <!-- grid display -->
    <section id="grid">
     </section>
     <!-- grid display END -->
     
     <!-- box editor -->
     <section id="box-editor">
     	<div class="content">
        </div>
        <div class="controls">
        	<button role="cancle">Abbrechen</button><button role="save">Speichern</button>
        </div>
     </section>
     <!-- box editor END -->
     </div>
