	<div id="grid-wrapper" class="clearfix">
	<menu id="toolbar">
    	<p class="state-display"></p>
    	<ul class="clearfix">
            <li><button role="revert">Änderunge Rückgängig</button></li>
            <li><button role="publish">Öffentlich machen</button></li>
        	<li><button role="add_container">+ Container hinzufügen</button></li>
            <li><button role="add_box">+ Box hinzufügen</button></li>
            <li><button role="hide_boxes">x toggle Boxes</button></li>
        </ul>
        <div class="grid-tools">
        	<!-- Tools für Container hinzufügen -->
        	<div class="g-tool g-container">
                <select name="container-type" size="6">
                    <option value="C-12" selected="selected">C-12</option>
                    <option value="C-8-4">C-8-4</option>
                    <option value="C-4-8">C-4-8</option>
                    <option value="C-4-4-4">C-4-4-4</option>
                    <option value="C-2-2-2-2-2-2">C-2-2-2-2-2-2</option>
                </select>
                <div id="container-dragger" class="draggable new-container">zieh mich</div>
            </div>
            <!-- Tools für Box hinzufügen -->
            <div class="g-tool g-box">
            	<div class="loading rotate"></div>
            	<ul class="box-type-tabs clearfix"></ul>
            	<div class="search-bar">
                	<input name="box-search" type="text" placeholder="Boxen suchen" />
                </div>
            	<ul class="box-list clearfix"></ul>
            </div>
        </div>
    </menu>
    
    <!-- grid display -->
    <section id="grid">
     </section>
     <!-- grid display END -->
     
     <!-- box editor -->
     <section id="box-editor">
     	<div class="content">
        </div>
        <div class="controls">
        	<button role="cancle">Abbrechen</button><button role="save">Speichern</button>
        </div>
     </section>
     <!-- box editor END -->
     </div>
