/* CSS Document

SMACK

*/
*{
	font:"Arial Black", Gadget, sans-serif;
}
/*body{
	width:1000px;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:60px;
	background-color:#fff;
}*/

#grid-wrapper{
	width:1000px;
}
/** Toolbar rules **/
#toolbar{
	display:block;
	width:1000px;;
	background-color:#fff;
	border:1px solid #e0e0e0;
	border-top:none;
	padding-top:10px;
	margin-bottom:10px;
}
.fixed #toolbar{
	position:fixed;
	top:0px;
	z-index:99;
	-webkit-box-shadow: #ccc 0px 2px 5px;
	-moz-box-shadow: #ccc 0px 2px 5px; 
	box-shadow: #ccc 0px 2px 5px;
}
#toolbar .state-display{
	color:#999;
	margin-bottom: 4px;
}
#toolbar > ul{
}
#toolbar > ul > li{
	float:left;
	margin-right:10px;
}
#toolbar .grid-tools{
	padding:10px;
}
.fixed #grid{
	display:block;
}
.grid-tools .g-tool{
	display:none;
}
.grid-tools select{
	width:140px;
}
.grid-tools .draggable{
	height:50px;
	width:50px;
	background-color:#e0e0e0;
	border:1px solid#333;
}
.g-tool{
	position:relative;
	padding:10px;
	border:1px solid#efefef;
	background-color:#f6f6f6;
}
.g-box .box-type-tabs{
	border-bottom:1px solid #333;
	margin-bottom: 10px;
}
.g-box .box-type-tabs li{
	float:left;
	padding:4px 8px 2px 8px;
	margin-right:25px;
	border-bottom:5px solid #CCC;
	cursor:pointer;
}
.g-box .box-type-tabs li:not(.active):hover{
	border-bottom-color:#6cf;
}
.g-box .box-type-tabs li.active{
	background-color:#333;
	color:#fff;
	border-bottom-color:#333;
}
.g-box .search-bar{
	display:none;
	margin-bottom:10px;
	position:relative;
}
.g-box .loading{
	display:none;
	position:absolute;
	top:10px;
	right:18px;
}
.g-box .box-list{
	height:140px;
	overflow:hidden;
	overflow-y:auto;
}
.g-box .box-list li,
.box-dragger.ui-draggable{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:224px;
	padding:10px;
	margin-right:10px;
	float:left;
	height:50px;
	margin-bottom:10px;
	border:1px solid #e6e6e6;
	background-color:#fff;
	z-index:9999;
}
.box-dragger.ui-draggable-dragging{
	opacity: 0.8;
}
.box-dragger .title,
.box-dragger .prolog,
.box-dragger .epilog{
	display:none;
}

/** Toolbar rules ENDE **/
#grid{
	float:left;
}
.container, .slot, .box{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	padding:10px;
	position:relative;
}
#grid .container-drop-area{
	background-color:#FF9;
	height:40px;
	margin-bottom:4px;
}
/** Allgemeine Container styles **/
.container{
	width: 100%;
	margin-bottom:10px;
	border:1px solid #e6e6e6;
	background-color:#efefef;
	padding-top:28px;
}
.container > div > p{
	color:#666;
	margin-bottom:5px;
}
.container:before{
	content:'Container:';
	display:block;
	position:absolute;
	top:4px;
	left:10px;
	color:#999;
}
.container .c-title{
	position:absolute;
	top:4px; 
	left:85px;
}
.c-sort-placeholder{
	background-color:#fafafa;
	border:1px solid #e6e6e6;
	height:60px;
	margin-bottom:10px
}
.c-sort-handle{
	position:absolute;
	top:2px;
	right:10px;
	display:block;
	height:21px;
	width:15px;
	cursor:move;
	background-image:url(images/sort-handler.png);
	background-position:center 4px;
	background-repeat:no-repeat;
	border-bottom:1px solid #666;
}
.c-sort-handle:hover{
	cursor:pointer;
	background-position: center 0px;
	border-bottom:1px solid #999;
}
.c-trash{
	display:block;
	height:21px;
	width:15px;
	background-image:url(images/trash.png);
	background-position:center 4px;
	background-repeat:no-repeat;
	position:absolute;
	top:2px;
	right:45px;
	border-bottom:1px solid #666;
}
.c-trash:hover{
	cursor:pointer;
	background-position: center 0px;
	border-bottom:1px solid #999;
}
.c-edit{
	display:block;
	height:21px;
	width:21px;
	background-image:url(images/edit.png);
	background-position:center 4px;
	background-repeat:no-repeat;
	position:absolute;
	top:2px;
	right:84px;
	border-bottom:1px solid #666;
}
.c-edit:hover{
	cursor:pointer;
	background-position: center 0px;
	border-bottom:1px solid #999;
}
.c-ok{
	display:block;
	height:21px;
	width:21px;
	background-image:url(images/ok.png);
	background-position:center 4px;
	background-repeat:no-repeat;
	position:absolute;
	top:2px;
	right:84px;
	border-bottom:1px solid #666;
}
.c-ok:hover{
	cursor:pointer;
	background-position: center 0px;
	border-bottom:1px solid #999;
}
.c-revert{
	display:block;
	height:21px;
	width:23px;
	background-image:url(images/revert.png);
	background-position:center 4px;
	background-repeat:no-repeat;
	position:absolute;
	top:2px;
	right:130px;
	border-bottom:1px solid #666;
}
.c-revert:hover{
	cursor:pointer;
	background-position: center 0px;
	border-bottom:1px solid #999;
}
.c-box-trash{
	display:none;
	height:60px;
	width:60px;
	background-color:#fff;
	position:absolute;
	z-index:12;
	top:-15px;
	right:25px;
	border-radius: 30px; 
	-moz-border-radius: 30px; 
	-webkit-border-radius: 30px; 
	border: 1px solid #cecece;
	background-image:url(images/trash_big.png);
	background-position:center;
	background-repeat:no-repeat;
	-webkit-box-shadow: #ccc 0px 0px 5px;
	-moz-box-shadow: #ccc 0px 0px 5px; 
	box-shadow: #ccc 0px 0px 5px;
}
.c-box-trash.ui-state-hover{
	background-color:#f22;
}
/** Container inplace **/
.container textarea, .container input{
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}
.container fieldset{
	width:33%;
	margin-right:1%;
	float:left;
}
.container fieldset:last-child{
	float:right;
	width:32%;
	margin-right:0px;
}
/** Allgemeine Slot styles **/
.slot{
	position:relative;
	background-color:#e0e0e0;
	border:1px solid #d3d3d3;
	padding-top:26px;
}
.slot:before{
	content:'Slot:';
	display:block;
	position:absolute;
	top:4px;
	left:10px;
	color:#888;
}
.slot > .style-changer{
	position:absolute;
	z-index:10;
	top:4px;
	left:44px;
	padding-bottom:10px;
	max-width:70%;
}
.style-changer > span{
	white-space:nowrap;
	overflow:hidden;
	max-width:100%;
	display:block;
}
.style-changer > span:before{
	content:'» ';
}
.style-changer > span:after{
	content:' «';
}
.style-changer > .choose-style{
	display:none;
	position:absolute;
	top:21px;
	left:0px;
	color:#fff;
	background-color:#333;
	border:1px solid #ccc;
}
.style-changer:hover > .choose-style{
	display:block;
}
.style-changer > .choose-style:before{
	content:"";
	border: 6px solid #444;
	font-size:0;line-height:0;height:0;padding:0;margin:0;
	border-top-color:    transparent;
	border-right-color:  transparent;
	border-left-color:   transparent;
	position:absolute;
	top:-12px;
	left:7px;
}
.choose-style li{
	padding:6px;
	border-bottom:1px solid #666;
	white-space:nowrap;
	cursor:pointer;
}
.choose-style li:hover{
	color:#6CF;
}
/** Allgemeine Box styles **/
.boxes-wrapper{
	min-height:10px;
}
.boxes-wrapper.min-height{
	min-height:30px;
	background-color:#999;
}
.box{
	position:relative;
	background-color:#fff;
	border:1px solid #d3d3d3;
}
.box > .edit{
	position:absolute;
	right:5px;
	top:5px;
	width:10px;
	height:10px;
	background-color:#666;
	cursor:pointer;
}

.box .handle{
	height:10px;
	background-color:#000;
}
.box:nth-child(n+1){
	border-bottom:0px;
}
.b-sort-placeholder{
	border:1px solid #a5a5a5;
	display:block;
	background-color:#efefef;
}
.b-sort-helper{
	display:block;
	max-height:50px;
	max-width:38px;
	border:1px solid #ccc;
	background-color:#fff;
	box-shadow: 4px 4px 0 #fff,
				5px 5px 0 #ccc,
				9px 9px 0 #fff,
				10px 10px 0 #ccc,
				14px 14px 0 #fff;
}
.box-drop-area{
	background-color:#F93;
}
.box-drop-area.hover{
	background-color:#F30;
}
/** Box Editor **/
#box-editor{
	display:none;
	width:0px;
	position:relative;
	padding-left:20px;
	background-color:#fff;
	min-height:200px;
	float:right;
	border:8px solid #e0e0e0; 
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#box-editor:after{
	content:'';
	position:absolute;
	top:10px;
	left:0px;
	border: 16px solid #e0e0e0;
	font-size:0;line-height:0;height:0;padding:0;margin:0;
	border-top-color:    transparent;
	border-bottom-color:  transparent;
	border-right-color:   transparent;
} 
#box-editor .content{
	padding: 10px 10px 10px 0;
}
#box-editor .content fieldset{
	margin-bottom:10px;
	padding-bottom:5px;
	border-bottom:1px solid #e0e0e0;
}
#box-editor .controls{
	margin-bottom:10px;
}
/** Container C-12 **/
.C-12{
	
}
.C-12 .slot{
	width:100%;
}

/** Container C-4-4-4 **/
.C-4-4-4{
}
.C-4-4-4 .slot{
	width:33%;
	float:left;
	margin-right:1%;
}
.C-4-4-4 .slot:last-child{
	width:32%;
	float:right;
	margin-right:0px;
}

/** Container C-8-4 **/
.C-8-4{
	
}
.C-8-4 .slot:nth-child(1){
	width:66%;
	float:left;
	
}
.C-8-4 .slot:nth-child(2){
	width:33%;
	float:right;
	margin-left:1%;
}

/** Container C-4-8 **/
.C-4-8{
	
}
.C-4-8 .slot:nth-child(1){
	width:33%;
	float:left;
	margin-right:1%;
}
.C-4-8 .slot:nth-child(2){
	width:66%;
	float:right;
}

/** Container C-2-2-2-2-2-2 **/
.C-2-2-2-2-2-2{
	
}
.C-2-2-2-2-2-2 .slot{
	width:15.8%;
	float:left;
	margin-right:1%;
}
.C-2-2-2-2-2-2 .slot:last-child{
	margin-right:0px;
	float:right;
}

/** content rules **/
.box img{
	max-width:100%;
}

/** animations **/
div.loading{
	width:16px;
	height:16px;
	background-image:url(images/reload.png);
	background-repeat:no-repeat;
	background-position:center;
}
.rotate{
	-webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}