
#grid-wrapper{
	width:1000px;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:200px;
	background-color:#fff;
	padding-right: 300px;
}
#grid-wrapper ul,
#new-grid-wrapper ul{
	list-style:none;
	margin:0px;
}
/** Toolbar rules **/
#grid-toolbar{
	display:block;
	width:1000px;
	background-color:#fff;
	border:1px solid #e0e0e0;
	border-top:none;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:20px 0 0 0;
	position:relative;
	margin: 0 0 1em 0;
}

.fixed #grid-toolbar{
	position:fixed;
	top:7px;
	z-index:112;
	-webkit-box-shadow: #ccc 0px 2px 5px;
	-moz-box-shadow: #ccc 0px 2px 5px; 
	box-shadow: #ccc 0px 2px 5px;
}
#grid-toolbar > [role=g-controls] > ul{
	margin:0px !important;
	margin-bottom:10px;
}
#grid-toolbar > [role=g-controls] > ul[role=gui]{
	float: right;
}
#grid-toolbar > [role=g-controls] > ul[role=data]{
	float: left;
}
#grid-toolbar > [role=g-controls] > ul > li{
	float:left;
	margin-right:10px;
}
/** Toolbar Buttons **/
#grid-toolbar button{
	border: none;
	background-color: #fff;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center 4px;
	padding-top: 32px;
	margin-bottom: 0px;
	padding-bottom: 3px;
	position: relative;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
#grid-toolbar button:hover{
	background-color: #efefef;
}
#grid-toolbar button[disabled=disabled]:hover{
	background-color: #fff;
	cursor: default;
}
#grid-toolbar button[role=publish]{
	background-image: url(images/btn-world.png);
}
#grid-toolbar button[role=publish][disabled=disabled]{
	background-image: url(images/btn-world-disabled.png);
}
#grid-toolbar button[role=preview]{
	background-image: url(images/btn-eye.png);
}
#grid-toolbar button[role*=add]{
	background-image: url(images/btn-add.png);
}
#grid-toolbar button[role=revert]{
	background-image: url(images/btn-revert-draft.png);
}
#grid-toolbar button[role=revisions]{
	background-image: url(images/btn-revisions.png);
}
#grid-toolbar button[role=revert][disabled=disabled]{
	background-image: url(images/btn-revert-draft-disabled.png);
}
#grid-toolbar button[role=hide_boxes]{
	background-image: url(images/btn-toggle-opend.png);
}
#grid-toolbar button[data-hidden=true][role=hide_boxes]{
	background-image: url(images/btn-toggle-closed.png);
}
/* State display */
.state-display{
	cursor: default !important;
	color: #666 !important;
	width: 80px !important;
	padding-top: 0px !important;
	text-align: center;
	font-size: 11px;
}
.state-display [role=indicator],
.state-display [role=indicator].loading{
	position:relative;
	margin: 0px auto;
	width:12px;
	height: 12px;
	background-color: #0f0;
	display:block;
	margin-bottom: 9px;
	margin-top: 9px;
	border: 1px solid #999;
}
.state-display [role=indicator].loading{
	background-color: #efefef;
}
.state-display.draft [role=indicator]{
	background-color: #fC0;
}

/* Error display ***************/
#grid-toolbar [role=g-errors]{
	padding: 0 10px 0 10px;
}
#grid-toolbar [role=g-errors]:empty{
	padding:0px;
}
#grid-toolbar [role=g-errors] p{
	display:none;
	background-color: #f00;
	color: #fff;
	padding:2px 5px;
}

/*********************/
.fixed #grid{
	display:block;
}
.grid-tools{
	top:0px;
	right:-301px;
	width:300px;
	position:absolute;
}
.grid-tools .g-tool{
}
.grid-tools select{
	width:140px;
}
.g-tool{
	position:relative;
	padding:10px;
	border:1px solid#efefef;
	background-color:#f6f6f6;
	max-height: 100%;
}
.g-tool .element-type-tabs{
	border-bottom:1px solid #333;
	margin-bottom: 10px !important;
	margin-top: 10px !important;
}
.g-tool .element-type-tabs li{
	float:left;
	height: 35px;
	width: 35px;
	margin-right:20px;
	border-bottom:5px solid #CCC;
	cursor:pointer;
	line-height: 3.2em;
	text-align: center;
	background-color: #666;
	color:#fff;
	margin-bottom: 0px;
}
.element-type-tabs li[data-type=static]{
	background-image: url(images/box-type-static.png);

}
.element-type-tabs li[data-type=abstract_list]{
	background-image: url(images/box-type-abstract_list.png);

}
.element-type-tabs li[data-type=block]{
	background-image: url(images/box-type-block.png);

}
.element-type-tabs li[data-type=node],
.element-type-tabs li[data-type=post]{
	background-image: url(images/box-type-node.png);

}
.element-type-tabs li[data-type=reference]{
	background-image: url(images/box-type-reference.png);

}
.g-tool .element-type-tabs li:not(.active):hover{
	border-bottom-color:#6cf;
}
.g-tool .element-type-tabs li.active{
	background-color:#333;
	border-bottom-color:#333;
}
/** container toolbar **/
.g-container .container-selection{
	float:left;
	margin-right:14px;
}
.g-container .container-dragger-wrapper{
	float:left;
}
#grid-wrapper .draggable.new-container{
	height:50px;
	width:50px;
	background-color:#e0e0e0;
	border:1px solid#333;
}
.g-container .element-list{
	min-height:200px;
	overflow:hidden;
	overflow-y:auto;
	max-height: 80%;
}
.g-tool.g-container .element-list li{
	margin-bottom: 10px;
	border: 1px solid #e6e6e6;
	background-color: #efefef;
	padding:2px;
	position: relative;
}
.reusable-elements,
.sidebar-elements{
	display: none;
}
.
/** box toolbar **/
.g-box .search-bar{
	display:none;
	margin-bottom:10px;
	position:relative;
}
.g-box .loading,
.g-container .loading{
	display:none;
	position:absolute;
	top:30px;
	right:10px;
}
.g-box .box-list{
	min-height:200px;
	overflow:hidden;
	overflow-y:auto;
	max-height: 80%;
}
.g-box .box-list li,
.box-dragger.ui-draggable{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:10px;
	min-height: 50px;
	max-height:150px;
	margin-bottom:10px;
	margin-right: 5px;
	border:1px solid #e6e6e6;
	background-color:#fff;
	overflow: hidden;
}
.g-box .box-list li img{
	max-width: 100%;
}
.box-dragger.ui-draggable-dragging{
	opacity: 0.8;
}
.box-dragger .title,
.box-dragger .prolog,
.box-dragger .epilog{
	display:none;
}
.dragger-helper{
	display:block;
	height:50px;
	width:38px;
	max-width: 38px;
	max-height: 50px;
	min-width: 38px;
	min-height: 50px;
	border:1px solid #ccc;
	background-color:#fff;
	z-index: 1000;
	box-shadow: 4px 4px 0 #fff,
				5px 5px 0 #ccc,
				9px 9px 0 #fff,
				10px 10px 0 #ccc,
				14px 14px 0 #fff;
}

.ui-draggable{
	cursor: move;
}
/** revisions tools */
#grid-toolbar button[role="revisions"]{
	position:relative;
	display:none;
}
#grid-revisions{
	position:absolute;
	z-index: 1;
	display:none;
	background-color: #333;
	z-index: 101;
	padding:5px;
	margin-top: 6px;
}
#grid-revisions > .scroll_wrapper{
	overflow-y:scroll;
	max-height:470px;
}
#grid-revisions:after{
	content:"";
	border: 8px solid #333;
	font-size:0;line-height:0;height:0;padding:0;margin:0;
	border-top-color:    transparent;
	border-right-color:  transparent;
	border-left-color:   transparent;
	position: absolute;
	top:-16px;
	left:22px;
}
#grid-revisions table{
	border:none;
	width:auto;
	margin: 0;
}
tr[role=revision] .rev-revision{
	width:25px;
	text-align: center;
}
tr[role=revision][state=draft] .rev-revision{
	color: #fc0;
}
tr[role=revision][state=published] .rev-revision{
	color: #0f0;
}
tr[role=revision]{
	border-bottom: 5px solid #333;
}
tr[role=revision]:last-child{
	border:none;
}
tr[role=revision] td{
	background-color: #fff;
	padding:8px;
}
tr[role=revision] .rev-number{
	font-size: 32px;
	margin-right: 5px;
	width: 50px;
	text-align: center;
}
tr[role=revision] .rev-info{
	font-size: 11px;
	line-height: 13px;
	margin-right: 10px;
}
tr[role=revision] button{
	height: 30px;
	padding:0px !important;
	margin: 0px;
	text-indent: -2000em;
	margin-left: 10px;
	width: 50px;
}
tr[role=revision] button[role="revision-use"]{
	background-image: url(images/tb-btn-revert-copy-3.png);
}
tr[role=revision] button[role="revision-preview"]{
	background-image: url(images/btn-eye.png);
}
tr[role=revision] button[role="revision-delete"]{
	background-image: url(images/btn-revert-draft.png);
}
tr[role=revision] td{
	border:none;
}

/** Toolbar rules ENDE **/
#grid{
	float:left;
	width:1000px;
}
.container, .slot, .box{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	padding:10px ;
	position:relative;
}
.container-drop-area-wrapper{
	position:relative;
}
.container-drop-area{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	border:1px solid #a5a5a5;
	position:absolute;
	top:-16px;
	left:0px;
	background-color:#95f985;
	height:24px;
	width:100%;
	margin-bottom:4px;
	z-index: 1;
}
.container-drop-area.hover{
	background-color: #58ff3c;
}
/** Allgemeine Container styles **/
.container{
	width: 1000px !important;
	margin-bottom:10px;
	border:1px solid #e6e6e6;
	background-color:#efefef;
	padding-top:28px;
	min-height: 50px;
}
.container.editor{
	z-index: 101;	
}
.container > div > p{
	color:#666;
	margin-bottom:5px;
}
.container:before,
.grid-tools .new-container:before{
	content:attr(data-type);
	display:block;
	position:absolute;
	top:4px;
	z-index: 1000;
	left:10px;
	color:#999;
}
.container[data-type*=S]:before{
	content:attr(data-type);
}
.container .c-title{
	position:absolute;
	top:-8px; 
	left:82px;
}
.c-sort-placeholder{
	background-color:#58ff3c;
	border:1px solid #a5a5a5;
	min-height:60px;
	margin-bottom:10px
}
.c-sort-handle{
	position:absolute;
	top:2px;
	right:10px;
	display:block;
	height:21px;
	width:15px;
	cursor:move;
	background-image:url(images/sort-handler.png);
	background-position:center 4px;
	background-repeat:no-repeat;
	border-bottom:1px solid #666;
}
.c-sort-helper{
	display:block;
	max-height:50px;
	max-width:38px;
	min-height: 50px;
	min-width: 38px;
	border:1px solid #ccc;
	background-color:#fff;
	box-shadow: 4px 4px 0 #fff,
				5px 5px 0 #ccc,
				9px 9px 0 #fff,
				10px 10px 0 #ccc,
				14px 14px 0 #fff;
}
.c-sort-handle:hover{
	cursor:pointer;
	background-position: center 0px;
	border-bottom:1px solid #999;
}
.c-trash{
	display:block;
	height:21px;
	width:15px;
	background-image:url(images/trash.png);
	background-position:center 4px;
	background-repeat:no-repeat;
	position:absolute;
	top:2px;
	right:45px;
	border-bottom:1px solid #666;
}
.c-trash:not(.loading):hover{
	cursor:pointer;
	background-position: center 0px;
	border-bottom:1px solid #999;
}
.c-trash.loading{
	top: 8px;
}
.c-edit{
	display:block;
	height:21px;
	width:21px;
	background-image:url(images/edit.png);
	background-position:center 4px;
	background-repeat:no-repeat;
	position:absolute;
	top:2px;
	right:128px;
	border-bottom:1px solid #666;
}
.c-edit:hover{
	cursor:pointer;
	background-position: center 0px;
	border-bottom:1px solid #999;
}
.container[data-reused=true] .c-edit{
	display: none;
}
.c-ok{
	display:block;
	height:21px;
	width:21px;
	background-image:url(images/ok.png);
	background-position:center 4px;
	background-repeat:no-repeat;
	position:absolute;
	top:2px;
	right:84px;
	border-bottom:1px solid #666;
}
.c-ok:not(.loading):hover{
	cursor:pointer;
	background-position: center 0px;
	border-bottom:1px solid #999;
}
.c-ok.loading{
	top: 8px;
}
.c-revert{
	display:block;
	height:21px;
	width:23px;
	background-image:url(images/revert.png);
	background-position:center 4px;
	background-repeat:no-repeat;
	position:absolute;
	top:2px;
	right:130px;
	border-bottom:1px solid #666;
}
.c-revert:hover{
	cursor:pointer;
	background-position: center 0px;
	border-bottom:1px solid #999;
}
.c-box-trash{
	display:none;
	height:60px;
	width:60px;
	background-color:#fff;
	position:absolute;
	z-index:102;
	top:-15px;
	right:25px;
	border-radius: 30px; 
	-moz-border-radius: 30px; 
	-webkit-border-radius: 30px; 
	border: 1px solid #cecece;
	background-image:url(images/trash_big.png);
	background-position:center;
	background-repeat:no-repeat;
	-webkit-box-shadow: #ccc 0px 0px 5px;
	-moz-box-shadow: #ccc 0px 0px 5px; 
	box-shadow: #ccc 0px 0px 5px;
}
.c-box-trash.ui-state-hover{
	background-color:#f22;
}
.c-reuse{
	display:block;
	height:21px;
	width:21px;
	background-image:url(images/reuse.png);
	background-position:center 4px;
	background-repeat:no-repeat;
	position:absolute;
	top:2px;
	right:84px;
	border-bottom:1px solid #666;
}
.container[data-reused=false] .c-reuse:not(.loading):hover{
	cursor:pointer;
	background-position: center 0px;
	border-bottom:1px solid #999;
}
.container[data-reused=true] .c-reuse{
	background-image: url(images/reuse_40p.png);
	border:none;
	background-position: center 0px;
	top: 5px;
}
.c-reuse.loading{
	top: 8px;
}
.container[class*=S] .c-edit,
.container[class*=S] .c-reuse{
	display: none !important;
}
.sidebar-grid .c-editor,
.sidebar-grid .c-reuse,
.sidebar-grid .c-sort-handle,
.sidebar-grid .c-trash{
	display:none !important;
}
/** Container inplace **/
.container textarea, 
.container input[type=number],
.container input[type=text]{
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}
.container fieldset{
	width:33%;
	margin-right:1%;
	float:left;
	border:none;
	padding:0px;
}
.container fieldset:last-child{
	float:right;
	width:32%;
	margin-right:0px;
}
.c-before{
	margin-bottom: 15px;
}
.c-after{
	margin-top: 15px;	
}
.fieldset-c-style select{
	width:100%;
}
/** Allgemeine Slot styles **/
.slots-wrapper{
	position:relative;
}
.slot{
	position:relative;
	background-color:#e0e0e0;
	border:1px solid #d3d3d3;
	padding-top:26px;
}
.slot:before{
	content:'Slot:';
	display:block;
	position:absolute;
	top:4px;
	left:10px;
	color:#888;
}
.grid-tools .slot:before{
	content:"";
}
.slot > .style-changer{
	position:absolute;
	top:4px;
	left:44px;
	padding-bottom:10px;
	max-width:70%;
}
.style-changer.empty{
	display: none;
}
.style-changer > span{
	white-space:nowrap;
	overflow:hidden;
	max-width:100%;
	display:block;
}
.style-changer > span:before{
	content:'» ';
}
.style-changer > span:after{
	content:' «';
}
.style-changer > .choose-style{
	display:none;
	position:absolute;
	top:22px;
	left:0px;
	color:#fff;
	background-color:#333;
	border:1px solid #ccc;
	z-index:111;
	list-style:none;
}
.style-changer:hover > .choose-style{
	display:block;
	z-index:111;
}
.style-changer > .choose-style:before{
	content:"";
	border: 6px solid #444;
	font-size:0;line-height:0;height:0;padding:0;margin:0;
	border-top-color:    transparent;
	border-right-color:  transparent;
	border-left-color:   transparent;
	position:absolute;
	top:-12px;
	left:7px;
}
.choose-style li{
	padding:6px;
	border-bottom:1px solid #666;
	white-space:nowrap;
	cursor:pointer;
	z-index:111;
}
.choose-style li:hover{
	color:#6CF;
}
/** Slots in Sidebar Containers **/
#grid [data-type*=S-]:not(.editor) > * > .slot{
	position: absolute;
	z-index: 100;
	bottom: 29px;
}
#grid [data-type*=S-]:not(.editor):hover{
	z-index: 101;
}
#grid [data-type*=S-]:not(.editor):hover .slot{
	border-color: #aaa;
}
#grid [data-type=S-0-4] > * > .slot,
#grid [data-type*=S-] > * > .slot:nth-child(2),
#grid [data-type=S-0-6] > * > .slot{
	right:-10px;
}
#grid [data-type=S-4-0] > * > .slot{
	left:-10px;
}
.box .grid .slot{
	width: 100%;
	clear: both;
	border: none;
	background-color: transparent;
	padding-top: 10px;
}
.box .grid .slot:before{
	content: '';
}
/*
.box .grid .slot > div{
	border-top: 1px solid #e6e6e6;
}
*/

/** Allgemeine Box styles **/
.container.editor .box{
	display:none;
}
.boxes-wrapper{
	min-height:10px;
}
.boxes-wrapper.min-height{
	min-height:30px;
	background-color:#999;
}
.container[data-reused=false][data-type*=C-] .box{
	cursor: move;
}
.box{
	position:relative;
	background-color:#fff;
	border:1px solid #d3d3d3;
}
[data-type*=S-] .box{
	cursor:default;
}
.box > .edit{
	position:absolute;
	right:5px;
	top:5px;
	width:16px;
	height:16px;
	background-image:url(images/edit_small.png);
	border-bottom:1px solid #666;
	background-position: 0px 2px;
	background-repeat:no-repeat;
	cursor:pointer;
}
.box > .edit:hover{
	background-position:0px 0px;
	border-color:#999;
}
.container[data-reused=true] .box > .edit{
	display: none;
}
.container.editor .box > .edit{
	display:none;
}
.box[data-type=reference]:after,
.box-dragger[data-type=reference]:after{
	position: absolute;
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	background-image: url(images/reuse_small_40p.png);
	background-repeat: no-repeat;
	top: 5px;
	right: 5px;
}
.box-dragger[data-type=reference]{
	position: relative;
}
.box .handle{
	height:10px;
	background-color:#000;
}
.box:nth-child(n+1){
	border-bottom:0px;
}
.b-sort-placeholder{
	border:1px solid #a5a5a5;
	display:block;
	background-color:#efefef;
	background-color:#58ff3c;
}
.b-sort-helper{
	display:block;
	max-height:50px;
	max-width:38px;
	min-height:50px;
	min-width:38px;
	border:1px solid #ccc;
	background-color:#fff;
	box-shadow: 4px 4px 0 #fff,
				5px 5px 0 #ccc,
				9px 9px 0 #fff,
				10px 10px 0 #ccc,
				14px 14px 0 #fff;
}
.box-drop-area-wrapper{
	position:relative;
}
.box-drop-area{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	position:absolute;
	top: -12px;
	left:0px;
	width:100%;
	background-color:#95f985;	
	height: 24px;
	z-index: 2;
	border:1px solid #a5a5a5;
}
.box-drop-area.hover{
	background-color:#58ff3c;
}
/** Box Editor **/
#box-editor{
	display:none;
	width:0px;
	position:relative;
	padding-left:20px;
	background-color:#fff;
	min-height:200px;
	float:right;
	border:8px solid #e0e0e0; 
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#box-editor:after{
	content:'';
	position:absolute;
	top:10px;
	left:0px;
	border: 16px solid #e0e0e0;
	font-size:0;line-height:0;height:0;padding:0;margin:0;
	border-top-color:    transparent;
	border-bottom-color:  transparent;
	border-right-color:   transparent;
} 
#box-editor .content{
	padding: 10px 10px 10px 0;
}
#box-editor .content .loading{
	margin-top: 6px;
	position:relative;
}
#box-editor .content fieldset{
	position: relative;
	margin-bottom:10px;
	padding: 0 5px 5px 5px;
	border: 1px solid #ccc;
	border-bottom:1px solid #e0e0e0;
}
#box-editor .content fieldset label{
	font-weight: bold;
	display:block;
	padding: 10px 0 0 0;
}
#box-editor .content fieldset input[type=checkbox]+label{
	display: inline;
}
#box-editor .content fieldset input[text],
#box-editor .content fieldset input[number],
#box-editor .content fieldset textarea{
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin: 1px;
	padding: 3px;
}
#box-editor .box-styles-wrapper{
	margin-bottom: 15px;
}
#box-editor button{
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
	line-height: 23px;
	height: 24px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f3f3f3;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#f4f4f4));
	background-image: -webkit-linear-gradient(top,#fefefe,#f4f4f4);
	background-image: -moz-linear-gradient(top,#fefefe,#f4f4f4);
	background-image: -o-linear-gradient(top,#fefefe,#f4f4f4);
	background-image: linear-gradient(to bottom,#fefefe,#f4f4f4);
	border-color: #bbb;
	color: #333;
	text-shadow: 0 1px 0 #fff;
}
#box-editor.sidebar button[role=reusable]{
	display:none;
}
#box-editor .dynamic-field p.info{
	margin-top: 4px;
	background-color: #efefef;
	padding: 8px;
}
#box-editor .dynamic-field[data-type=info] p.info{
	margin-top: 0px;
	background-color: #fff;
	padding: 0px;
}
/*
* Autocomplete Boxtype
*/
.autocomplete-wrapper{
	position: relative;
}
.autocomplete-wrapper .loading{
	position: absolute;
	top: 2px;
	left: 160px;
	display: none;
}
.autocomplete-wrapper .cancel{
	position: absolute;
	top: 4px;
	left: 138px;
	height: 14px;
	width: 14px;
	cursor: pointer;
	background-image: url(images/input-cancle-grey.png);
	display: none;
}
.autocomplete-wrapper.locked .cancel{
	display: block;
}
.autocomplete-wrapper.locked input{
	background-color: #efefef;
}
.autocomplete-wrapper .links .full{
	display: none;
}
.autocomplete-wrapper.locked .links .empty{
	display: none;
}
.autocomplete-wrapper.locked .links .full{
	display: inline;
}
.autocomplete-wrapper .suggestion-list{
	position: absolute;
	z-index: 10;
	top: 20px;
	left: 0;
	border: 1px solid #5e5e5e;
	border-bottom: none;
	background-color: #333;
}
.suggestion-list:empty{
	border: none;
}
.suggestion-list li{
	cursor: pointer;
	padding: 4px;
	border-bottom: 1px solid #5e5e5e;
	color: #fff;
}

#box-editor .controls{
	margin-bottom:10px;
}
.collapsable legend{
	cursor:pointer;
}
.collapsable-hidden > .field-wrapper{
	display:none;
}
/** file upload box **/
.form-item.file-upload{
	position: relative;
}
.form-item.file-upload .progress{
	position:absolute;
	left: 248px;
	top: 28px
}
.form-item.file-upload input{
	width:234px;
}
.progress-bar-wrapper{
	height: 5px;
	width: 240px;
}
.progress-bar-wrapper .bar{
	height: 100%;
	background-color: #004899;
}
.progress-bar-wrapper .bar.done{
	background-color: #30cb29;
	width: 100%;
}
.dynamic-list .list-fields{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-left: 5px;
	margin-right: 5px;
}
.dynamic-list .list-fields + button{
	margin: 10px 0 20px 0;
}
.dynamic-list li{
	border-top: 1px solid #e0e0e0;
	padding: 5px 0px  10px 10px;
}
.dynamic-list li:last-child{
	border-bottom: 1px solid #e0e0e0;
}
/*************************
************ 12 er ********
************************/
/** Container C-12 **/
.C-12{
	
}
.C-12 .slot{
	width:100%;
}

/** Container C-6-6 **/
.C-6-6{
	
}
.C-6-6 .slot{
	width:49.5%;
	float:right;
}
.C-6-6 .slot:first-child{
	margin-right: 1%;
	float:left;
}


/** Container C-4-4-4 **/
.C-4-4-4{
}
.C-4-4-4 .slot{
	width:33%;
	float:left;
	margin-right:1%;
}
.C-4-4-4 .slot:last-child{
	width:32%;
	float:right;
	margin-right:0px;
}

/** Container C-8-4 **/
.C-8-4{
}
.C-8-4 .slot:nth-child(1){
	width:66%;
	float:left;
	
}
.C-8-4 .slot:nth-child(2){
	width:33%;
	float:right;
	margin-left:1%;
}

/** Container C-4-8 **/
.C-4-8{
	
}
.C-4-8 .slot:nth-child(1){
	width:33%;
	float:left;
	margin-right:1%;
}
.C-4-8 .slot:nth-child(2){
	width:66%;
	float:right;
}

/** Container C-3-3-3-3 **/
[data-type=C-3-3-3-3] .slot{
	width:24%;
	margin-right: 1%;
	float:left;
}
[data-type=C-3-3-3-3] .slot:last-child{
	width:25%;
	margin-right: 0;
}

/** Container C-2-2-2-2-2-2 **/
.C-2-2-2-2-2-2{
	
}
.C-2-2-2-2-2-2 .slot{
	width:15.8%;
	float:left;
	margin-right:1%;
}
.C-2-2-2-2-2-2 .slot:last-child{
	margin-right:0px;
	float:right;
}

/** Container C-0-8 and C-8-0 **/
.C-0-8 .slot{
	width:66.6%;
	float:right;
}
.C-8-0 .slot{
	width:66.6%;
	float:left;
}
#grid .C-8-0,
#grid .C-0-8{
	width: 66.6% !important;
}
#grid .C-0-8{
	margin-left: 33.3%;
}
#grid .C-8-0 .slot,
#grid .C-0-8 .slot{
	width: 100%;
}

/** Container C-0-4-4,C-4-4-0 and C-0-4-0 **/
.C-4-4-0 .slot{
	width:33%;
	float:left;
	margin-right:1%;
}
.C-4-4-0 .slot:last-child{
	margin-right: 0;
	float: left;
}
.C-0-4-4 .slot{
	width:33%;
	float:right;
	margin-left:1%;
}
.C-0-4-0 .slot{
	width: 33.3%;
	margin-left: 33.3%;
}
#grid .C-0-4-4,
#grid .C-4-4-0{
	width: 66.6% !important;
}
#grid .C-0-4-4{
	margin-left: 33.3%;
}
#grid .C-4-4-0 .slot,
#grid .C-0-4-4 .slot{
	width: 49%;
}
#grid .C-4-4-0 .slot:last-child{
	float: right;
}
#grid .C-0-4-0{
	width: 33.3% !important;
	margin-left: 33.3%;
}
#grid .C-0-4-0 .slot{
	width: 100%;
	margin-left: 0px;
}

/** Container C-2-2-2-2-0 and C-0-2-2-2-2 **/
.C-2-2-2-2-0 .slot{
	width:24%;
	float:left;
	margin-right:1%;
}
.C-0-2-2-2-2 .slot{
	margin-left: 1%;
	float:right;
}
#grid .C-2-2-2-2-0{
	width: 66.6% !important;
}
#grid .C-2-2-2-2-0 .slot,
#grid .C-0-2-2-2-2 .slot{
	width: 24%;
}

/** Container Sidebars */
.S-0-4 .slot{
	width: 33%;
	float: right;
}
.S-4-0 .slot{
	width: 33%;
}
/*
.S-4-4 .slot:nth-child(1){
	width: 31.5%;
	float: left;
}
.S-4-4 .slot:nth-child(2){
	width: 31.5%;
	float: right;
}*/


/*************************
************ 18 er ********
************************/
/** Container C-18 **/
.C-18 .slot{
	width: 100%;
}
.C-6-6-6{
}
.C-6-6-6 .slot{
	width:33%;
	float:left;
	margin-right:1%;
}
.C-6-6-6 .slot:last-child{
	width:32%;
	float:right;
	margin-right:0px;
}
.C-12-6 .slot{
	float:left;
	width: 66%;
}
.C-12-6 .slot:last-child{
	width: 33%;
	float:right;
	margin-right: 0px;
}
.C-4-4-4-6 .slot{
	width: 22%;
	margin-right: 0.5%;
	float: left;
}
.C-4-4-4-6 .slot:last-child{
	width:32%;
	float:right;
	margin-right: 0px;
}
.C-3-3-3-3-3-3 .slot{
	width: 16%;
	margin-right: 0.8%;
	float: left;
}
.C-3-3-3-3-3-3 .slot:last-child{
	float:right;
	margin-right: 0px;
}
/** Container C-12-0 **/
.C-12-0 .slot{
	width:66.6%;
	float:left;
}
#grid .C-12-0{
	width: 66.6% !important;
}
#grid .C-12-0 .slot{
	width: 100%;
}
/** Container C-4-4-4-0 **/
.C-4-4-4-0 .slot{
	width:22%;
	margin-right: 0.5%;
	float:left;
}
#grid .C-4-4-4-0{
	width: 66.6% !important;
}
#grid .C-4-4-4-0 .slot{
	width: 33%;
	margin-right: 0.5%;
}

#grid .C-4-4-4-0 .slot:last-child{
	margin-right: 0px;
}
/** Container C-6-6-0 **/
.C-6-6-0 .slot{
	width:33.3%;
	margin-right: 0.5%;
	float:left;
}
#grid .C-6-6-0{
	width: 66.6% !important;
}
#grid .C-6-6-0 .slot{
	width: 49.5%;
	margin-right: 1%;
}
#grid .C-6-6-0 .slot:last-child{
	margin-right: 0px;
}
/** Container C-3-3-3-3-0 **/
.C-3-3-3-3-0 .slot{
	width:16%;
	margin-right: 0.5%;
	float:left;
}
#grid .C-3-3-3-3-0{
	width: 66.6% !important;
}
#grid .C-3-3-3-3-0 .slot{
	width: 24.5%;
	margin-right: 0.5%;
}

#grid .C-3-3-3-3-0 .slot:last-child{
	margin-right: 0px;
}

/* container sidebars */
.S-0-6 .slot{
	width: 32%;
	float: right;
}

[data-type*=S-] .grid .container{
	width: 100% !important;
	padding:0px;
	margin: 0px;
	background-color: transparent;
	border:none;
}
[data-type*=S-] .grid .container:before{
	content: "";
}
[data-type*=S-] .grid .container .slot{
	padding: 5px 0 0 0;
}
[data-type*=S-] .box{
	border:none;
}

/** content rules **/
.box img{
	max-width:100%;
	height:auto;
}

.fixed-hint{
	position:absolute;
	z-index: 999;
	top:0px;
	left: 0px;
	background-color: #000;
	color:#fff;
	padding:15px;
	max-width: 210px;
	opacity: 0.8;
	line-height: 1.6em;
}
.fixed-hint:after{
	content:'';
	position:absolute;
	top: -16px;
	left: 0px;
	content:"";
	border: 8px solid #000;
	font-size:0;line-height:0;height:0;padding:0;margin:0;
	border-top-color:    transparent;
	border-right-color:  transparent;
	border-left-color:   transparent;
	position: absolute;
}

/** Box editor rules **/
#grid-wrapper[data-mode=box] #grid-toolbar,
#grid-wrapper[data-mode=box] .container .c-tools,
#grid-wrapper[data-mode=box] #box-editor button[role=reusable]{
	display: none;
}

/** Container editor rules **/
#grid-wrapper[data-mode=container] #grid-toolbar ul[role=data],
#grid-wrapper[data-mode=container] #grid-toolbar button[role=add_container],
#grid-wrapper[data-mode=container] .container .hide-c-editor{
	display: none;
}
#grid-wrapper[data-mode=container] .container .c-edit{
	right: 14px;
}
#grid-wrapper[data-mode=container] .container .c-ok{
	right: 14px;
}
#grid-wrapper[data-mode=container] .container .c-revert{
	right: 60px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/** loading animation **/
.loading{
  position:absolute;
  width:16px;
  height:16px;
  border: 1px solid #ccc;
  background: #e6e6e6;
}
.loading:after{
  content: '';
  position:absolute;
  top:45%;
  display: block;
  height:40%;
  width: 40%;
  background: #333;

  -webkit-animation: move 0.5s linear 0 infinite;
  -moz-animation: move 0.5s linear 0 infinite;
  animation: move 0.5s linear 0 infinite;

  -moz-animation-duration: 0.5s;
  -moz-animation-name: move;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: move;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  animation-duration: 0.5s;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move{
  0% { top:0%; left: 30%; }
  25% { top: 30%; left: 70%; }
  50% { top: 70%; left: 30% }
  75% { top: 30%; left: 0%; }
  100% { top: 0%; left: 30%; }
}
@-webkit-keyframes move{
  0% { top:0%; left: 30%; }
  25% { top: 30%; left: 70%; }
  50% { top: 70%; left: 30% }
  75% { top: 30%; left: 0%; }
  100% { top: 0%; left: 30%; }
}
@-moz-keyframes move{
  0% { top:0%; left: 30%; }
  25% { top: 30%; left: 70%; }
  50% { top: 70%; left: 30% }
  75% { top: 30%; left: 0%; }
  100% { top: 0%; left: 30%; }
}

