/**
 * @author Stephan Kroppenstedt <stephan.kroppenstedt@palasthotel.de>
 * @modified 26.05.2017
 */


.grid-app {
  background-color: $color__app--background;

  font-family: $font__sans-serif;

  border-left: 0.5vw solid $color__status--published;
  border-right: 0.5vw solid $color__status--published;

  transition: all .3s ease-in-out;

  &.is-draft  {
    border-color: $color__status--unpublished;
  }

  &.is-success {
    border-color: $color__status--success;
  }

  &.is-published {
    border-color: $color__status--published;
  }

  &.is-error {
    border-color: $color__status--error;
  }

}