/**
 * @author Stephan Kroppenstedt <stephan.kroppenstedt@palasthotel.de>
 * @modified 26.05.2017
 */


.grid-button {
  box-shadow: 0 3px 3px 0 rgba( 33, 33, 33, .1 );
  border-radius: 2px;
  border: none;
  display: inline-block;

  padding: 5px 10px;
  font-size: 14px;
  color: white;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 5px 5px;

  &:hover, &:active, &:focus {
    box-shadow: 0 6px 6px 0 rgba( 33, 33, 33, .2 );
    cursor: pointer;
    outline: none;
  }

}

.grid-button__save {
  background-color: limegreen;
}

.grid-button__cancel {
  background-color: red;
}