/**
 * @author Stephan Kroppenstedt <stephan.kroppenstedt@palasthotel.de>
 * @modified 26.05.2017
 */

.grid-container__select {

  width: 30vw;
  margin: 0 auto;

}

.grid-container__select--types {

  transition: all .3s ease-in-out;
  overflow: hidden;

  .is-opened & {
    max-height: none;
    //height: auto;
  }

  .is-closed & {
    max-height: 0;
    //height: 0;
  }


  .grid-collapsible {
    background-color: white;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, .2);
  }


}

.grid-container__select--toggle {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  color: $color__app--foreground;
  width: 100%;

  transition: all .3s;

  text-align: center;

  .is-opened & {
    text-align: right
  }


  animation: fadein .5s;




}

.grid-container__select--icon {

  display: inline-block;

  transition: all .3s ease-in-out;
  border: 2px solid $color__app--foreground;
  border-radius: 50%;
  line-height: 14px;
  font-size: 14px;

  margin-right: .7vw;

  width: 15px;
  height: 15px;

  font-weight: bold;

  .is-opened & {
    transform: rotate(45deg);
  }

  .is-closed & {
    //transform: scale(0);
  }


  .grid-container__select--toggle:hover & {
    transform: scale( 1.1 );
  }
}

.grid-container__select--close-text {
  .is-opened & {
    display: inline;
  }

  .is-closed & {
    display: none;
  }
}

.grid-container__select--open-text {
  .is-opened & {
    display: none;
  }

  .is-closed & {
    display: inline;

  }
}



@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

