.box{
	position: relative;
	
	padding: 12px 0;
	min-height: 50px;
	
	background-color: white;
	
	-webkit-box-shadow:inset 0 0 2px 0px $color-box-border;
	box-shadow:inset 0 0 2px 0px $color-box-border;
	
	.box__content {
		font-size: 11px;
		padding: 0 10px;
		word-break:break-all;
	}
	
	.box__html{
		overflow-x: hidden;
		img{
			max-width: 100%;
		}
	}
	
	
	&:hover .box__controls{
		height: auto;
		overflow: visible;
		display: block;
		opacity:1;
	}
}
@import "box__controls";
