.container__options{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 40px;
	z-index: 10;
	padding-top: 12px;
	box-sizing: border-box;
	&:hover{
		z-index: 100;
	}
	
	.container__options-icon{
		text-transform: uppercase;
		font-weight: bold;
	}
	
	
	.container__options-list{
		position: absolute;
		list-style: none;
		background-color: $color-container-options-list-bg;
		color: $color-container-options-list;
		width:140px;
		right: 0px;
		top: 40px;
		margin: 0px;
		padding: 0px;
		display: none;
		
		.container__options-list-item{
			cursor:pointer;
			padding: 5px;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 0px;
		}
		&:before{
			content:"";
			border: 8px solid $color-slot-style-changer-styles-bg;
			font-size:0;
			line-height:0;
			height:0;
			padding:0;
			margin:0;
			border-top-color:    transparent;
			border-right-color:  transparent;
			border-left-color:   transparent;
			position:absolute;
			top:-16px;
			left:47%;
		}
	}
	
	&:hover .container__options-list{
		display: block;
	}
}





