

<!-- <div data-id="{{id}}" data-type="{{type}}" class="container editor {{type}} clearfix"> -->
	<div class="c-tools">
        <span role="ok" class="c-ok c-tool"></span>
		<span role="revert" class="c-revert c-tool"></span>
        <span role="sort-handle" class="c-sort-handle c-tool hide-c-editor"></span>
        <span role="trash" class="c-trash c-tool hide-c-editor"></span>
		<span role="box-trash" class="c-box-trash"></span>
    </div>
	<div class="c-before">
    	<label for="f-c-title">Title</label>
        <input type="text" name="f-c-title" id="f-c-title" value="{{title}}" scope="title" class="form-val form-text" />
        <label for="f-c-titleurl">Title URL</label>
        <input type="text" name="f-c-titleurl" id="f-c-titleurl" value="{{titleurl}}" scope="titleurl" class="form-val form-text" />
        <label for="f-c-prolog">Prolog</label>
        <textarea name="f-c-prolog" id="f-c-prolog" scope="prolog" class="form-val form-html">{{prolog}}</textarea>
    </div>
	<div class="slots-wrapper clearfix">
    </div>
    <div class="c-after">
        <label for="f-c-epilog">Epilog</label>
		<textarea name="f-c-epilog" id="f-c-epilog" scope="epilog" class="form-val form-html">{{epilog}}</textarea>            
		<div class="clearfix">
			<fieldset>
				<label for="f-c-readmore">Readmore</label>
				<input type="text" name="f-c-readmore" id="f-c-readmore" value="{{readmore}}" scope="readmore" class="form-val form-text" />
			</fieldset>
			<fieldset>
				<label for="f-c-readmoreurl">Readmore URL</label>
				<input type="text" name="f-c-readmoreurl" id="f-c-readmoreurl" value="{{readmoreurl}}" scope="readmoreurl" class="form-val form-text" />
			</fieldset>
			<fieldset class="fieldset-c-style">
				<label for="f-c-style">Style</label> 
				<select name="f-c-style" id="f-c-style" scope="style" class="form-val form-select">
					<option value="">Default Style</option>
			   </select>
			'</fieldset>
		</div>
	</div>
<!-- </div> -->