<ul role="data">
    <li>
        <div class="state-display" lang-id="state-display">
            <span role="indicator"></span>
            <span lang-id="state-display" role="text"></span>
        </div>
    </li>
    <li><button role="publish" lang-id="btn-publish" lang-type="text"><i class="icon-back"></i>Publish</button></li>
    <li><button role="preview" lang-id="btn-preview" lang-type="text">Preview</button></li>  
    <li><button role="revert" lang-id="btn-revert" lang-type="text">Revert</button></li>
    <li>
        <button role="revisions" lang-id="btn-revisions" lang-type="text">Revisions</button>
        <div id="grid-revisions" class="rev-wrapper">
            <div class="scroll_wrapper">
                <table>
                </table>   
            </div>
        </div>
    </li>         
</ul>

<ul role="gui">
    <li class="hide-from-sidebar">
        <button data-hidden="false" role="hide_boxes" lang-id="btn-toggle-boxes" lang-type="text">Toggle boxes</button>
    </li>
    <li class="hide-from-sidebar">
        <button role="add_container" lang-id="btn-add-container" lang-type="text">Add container</button>
    </li>
    <li><button role="add_box" lang-id="btn-add-box" lang-type="text">Add box</button></li>
</ul>