<!-- <div class="g-tool g-box"> -->

    <ul class="box-type-tabs element-type-tabs clearfix"></ul>
    <div class="search-bar">
        <input name="box-search" type="text" class="form-text" placeholder="Search boxes" lang-id="placeholder-search-box" lang-type="placeholder">
    </div>
    <ul class="box-list clearfix" style="height: 634px;">
        <li class="box-dragger ui-draggable" data-id="" data-type="html" data-index="0" data-titleurl="" data-readmore="" data-readmoreurl="">
            <div class="prolog"></div>
            <div class="handle"></div>
            <div class="title"></div>
            <div class="content">
                Static HTML-Content
            </div>
            <div class="epilog"></div>
        </li>
        <li class="box-dragger ui-draggable" data-id="2" data-type="video" data-index="1" data-titleurl="" data-readmore="" data-readmoreurl="">
            <div class="prolog"></div>
            <div class="handle"></div>
            <div class="title"></div>
            <div class="content">
                Video-box
            </div>
            <div class="epilog"></div>
        </li>
        <li class="box-dragger ui-draggable" data-id="3" data-type="soundcloud" data-index="2" data-titleurl="" data-readmore="" data-readmoreurl="">
            <div class="prolog"></div>
            <div class="handle"></div>
            <div class="title"></div>
            <div class="content">
                Soundcloud:
            </div>
            <div class="epilog"></div>
        </li>
        <li class="box-dragger ui-draggable" data-id="4" data-type="image" data-index="3" data-titleurl="" data-readmore="" data-readmoreurl="">
            <div class="prolog"></div>
            <div class="handle"></div>
            <div class="title"></div>
            <div class="content">
                Imagebox
            </div>
            <div class="epilog"></div>
        </li>
    </ul>

<!-- </div> -->
