{{#revisions}}
<tr role="revision" data-revision="{{revision}}" state="{{state}}">
	<td class="rev-revision">{{revision}}</td>
	<td class="rev-info">
		<span class="rev-date">{{readable_date}}</span><br/>
		{{lang_values.rev-by-author}} <span class="rev-editor">{{editor}}</span>
	</td>
	<td class="rev-controls">
		{{#isDraft}}
			<button role="revision-preview" class="btn-preview">Preview</button>
			<button role="revert" class="btn-delete">Delete</button>
		{{/isDraft}}
		{{#isDeprecated}}
			<button role="revision-preview" class="btn-preview">Preview</button>
			<button role="revision-use" class="btn-revert">Revert</button>
		{{/isDeprecated}}
		{{#isPublished}}
			<button role="revision-preview" class="btn-preview">Preview</button>
		{{/isPublished}}
	</td>
</tr>
{{/revisions}}