.styles-editor-type-tab{
  display: inline-block;
  padding: 15px;
  cursor:pointer;
  background-color: transparent;
  transition: 0.3s all;
  &.active,
  &:hover{
    background-color: $color__darkest;
    color:white;
  }
}